<div class="ids-text-field-example">
    <div class="ids-text-field ids-input-separate">
        <label for="textField-input" class="ids-text-field-label">
            <span>팩스번호</span><span class="ids-label-optional">선택</span>
        </label>
        <div class="ids-text-field-container">
            <input type="text"
                   class="ids-text-field-input"
                   id="textField-input"
                   maxlength="3"
                   placeholder="지역번호"
            />
            <div class="ids-email-field-separator">-</div>
            <input type="text"
                   class="ids-text-field-input"
                   id="textField-input2"
                   maxlength="4"
                   placeholder="국번"
            />
            <div class="ids-email-field-separator">-</div>
            <input type="text"
                   class="ids-text-field-input"
                   id="textField-input3"
                   maxlength="4"
                   placeholder="번호"
            />
        </div>
    </div>
</div>