@import "small/styles.css";
@import "medium/styles.css";
@import "large/styles.css";
@import "../button/button.css";

.ids2-banner-examples {
    display: flex;
    flex-direction: column;
    gap: 24px;
    min-width: 320px;
}

.ids2-banner-examples-open-button {
    font-size: 18px;
    text-decoration: underline;
    font-weight: 700;
    text-align: center;
}

/**
    Banner
 */

.ids2-banner {
    transition: opacity 0.3s ease-in-out;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.ids2-banner.ids2-banner-hide {
    opacity: 0;
}

.ids2-banner.ids2-banner-justify-start {
    justify-content: flex-start;
}

.ids2-banner .ids2-banner-content {
    text-align: left;
    width: 100%;
}

.ids2-banner .ids2-banner-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin-right: 12px;
}

.ids2-banner .ids2-banner-close {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}