.ids2-label-example {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.ids2-label {
    background-color: #fff;
    border-radius: 6px;
    font-size: 12px;
    line-height: 16px;
    padding: 2px 8px;
    font-weight: 700;
    color: #454855;
    box-sizing: border-box;
}

.ids2-label.ids2-label-line {
    border: 1px solid #979BAA;
    padding: 2px 8px;
}

.ids2-label.ids2-label-rounded {
    border-radius: 100px;
}

.ids2-label.ids2-label-tint {
    background-color: #4987FF;
    color: #fff;
}

.ids2-label.ids2-label-black {
    background-color: #0D1B40;
    color: #fff;
}

.ids2-label.ids2-label-violet {
    background-color: #616DD6;
    color: #fff;
}

.ids2-label.ids2-label-ad.ids2-label-fill-gray {
    background-color: #D3D6DE;
    color: #454855;
}

.ids2-label.ids2-label-fill-gray {
    background-color: #737684;
    color: #fff;
}

.ids2-label.ids2-label-line-green {
    border-color: #158463;
    color: #158463;
}

.ids2-label.ids2-label-line-blue {
    border-color: var(--ids2-color-point-blue);
    color: var(--ids2-color-point-blue);
}

.ids2-label.ids2-label-risk-high {
    background-color: #F9E6E7;
    color: #AA3331;
}

.ids2-label.ids2-label-risk-very-high {
    background-color: #F9E6E7;
    color: #A5315C;
}

.ids2-label.ids2-label-risk-some-high {
    background-color: #F9ECDF;
    color: #A2481B;
}

.ids2-label.ids2-label-risk-very-low {
    background-color: #DDE2FA;
    color: #5149C1;
}

.ids2-label.ids2-label-risk-normal {
    background-color: #DEF2D8;
    color: #366B20;
}

.ids2-label.ids2-label-risk-low {
    background-color: #C8EDF1;
    color: #116F98;
}

.ids2-label-example {
    display: flex;
    gap: 16px;
}

.ids2-label.ids2-label-lg {
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    padding: 6px 12px;
}

.ids2-label-highlight {
    color: #2873E3;
}

.ids2-label-optional {
    color: #737684;
}

.ids2-label-highlight:before,
.ids2-label-optional:before {
    content: ' ';
    display: inline-block;
    width: 1px;
    height: 12px;
    line-height: 18px;
    background: #454855;
    font-size: 0;
    color: transparent;
    margin: 0 6px 2px;
    vertical-align: middle;
}