<div class="ids2-button-examples">
    <div class="ids2-button-example">
        <h3 class="ids2-h3">Default</h3>
        <button class="ids2-button ids2-button-fab">
            <i class="ids2-icon ids2-icon-image ids2-dark">To top</i>
            <span class="ids2-button-label">메뉴명</span>
        </button>
    </div>
    <div class="ids2-button-example">
        <h3 class="ids2-h3">Small</h3>
        <button class="ids2-button ids2-button-fab ids2-button-sm">
            <span class="ids2-button-label">레이블</span>
            <i class="ids2-icon ids2-icon-image ids2-dark">To top</i>
        </button>
    </div>
</div>