<div class="ids-button-examples">
    <div class="ids-button-example">
        <h3 class="ids-h3">Default</h3>
        <button class="ids-button ids-button-fab">
            <i class="ids-icon ids-icon-image ids-dark">To top</i>
            <span class="ids-button-label">메뉴명</span>
        </button>
    </div>
    <div class="ids-button-example">
        <h3 class="ids-h3">Small</h3>
        <button class="ids-button ids-button-fab ids-button-sm">
            <span class="ids-button-label">레이블</span>
            <i class="ids-icon ids-icon-image ids-dark">To top</i>
        </button>
    </div>
</div>