<div class="ids2-accordion-examples">
    <div class="ids2-accordion-example">

        <div class="ids2-accordion-card">
            <div class="ids2-accordion-item">
                <div class="ids2-accordion-summary">
                    <div class="ids2-accordion-summary-wrap">
                        <div class="ids2-title">
                            <div class="ids2-title-wrap">
                                <div class="ids2-checkbox">
                                    <label class="">
                                        <input type="checkbox" name="checkbox" class="ids2-checkbox-all">
                                        <span class="ids2-input-label-text">타이틀</span>
                                        <span class="ids2-label-highlight">필수</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ids2-arrow">
                        <svg width="16" height="8" viewBox="0 0 16 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.82515 0.20015C1.05946 -0.0341646 1.43936 -0.0341646 1.67368 0.20015L7.99941 6.52589L14.3252 0.20015C14.5595 -0.0341646 14.9394 -0.0341646 15.1737 0.20015C15.408 0.434465 15.408 0.814364 15.1737 1.04868L8.42368 7.79868C8.18936 8.03299 7.80946 8.03299 7.57515 7.79868L0.82515 1.04868C0.590835 0.814364 0.590835 0.434465 0.82515 0.20015Z" fill="#101116"/>
                        </svg>
                    </div>
                </div>


                <div class="ids2-accordion-details">


                    <hr class="ids2-divider" />

                    <div class="ids2-checkbox-list">

                        <div class="ids2-checkbox-list-item">
                            <div class="ids2-checkbox ids2-checkbox-sm">
                                <label>
                                    <input type="checkbox" name="checkbox">
                                    <span class="ids2-input-label-text">상세내용을 노출합니다</span>
                                    <span class="ids2-label-highlight">필수</span>
                                </label>
                            </div>
                            <a href="#" class="ids2-anchor ids2-anchor-sm ids2-underline">보기</a>
                        </div>

                        <div class="ids2-checkbox-list-item">
                            <div class="ids2-checkbox ids2-checkbox-sm">
                                <label>
                                    <input type="checkbox" name="checkbox">
                                    <span class="ids2-input-label-text">상세내용을 노출합니다</span>
                                    <span class="ids2-label-highlight">필수</span>
                                </label>
                            </div>
                            <a href="#" class="ids2-anchor ids2-anchor-sm ids2-underline">보기</a>
                        </div>
                        <div class="ids2-checkbox-list-item">
                            <div class="ids2-checkbox ids2-checkbox-sm">
                                <label>
                                    <input type="checkbox" name="checkbox">
                                    <span class="ids2-input-label-text">상세내용을 노출합니다</span>
                                    <span class="ids2-label-highlight">필수</span>
                                </label>
                            </div>
                            <a href="#" class="ids2-anchor ids2-anchor-sm ids2-underline">보기</a>
                        </div>
                        <div class="ids2-checkbox-list-item">
                            <div class="ids2-checkbox ids2-checkbox-sm">
                                <label>
                                    <input type="checkbox" name="checkbox">
                                    <span class="ids2-input-label-text">상세내용을 노출합니다</span>
                                    <span class="ids2-label-highlight">필수</span>
                                </label>
                            </div>
                            <a href="#" class="ids2-anchor ids2-anchor-sm ids2-underline">보기</a>
                        </div>
                        <div class="ids2-checkbox-list-item">
                            <div class="ids2-checkbox ids2-checkbox-sm">
                                <label>
                                    <input type="checkbox" name="checkbox">
                                    <span class="ids2-input-label-text">상세내용을 노출합니다</span>
                                    <span class="ids2-label-highlight">필수</span>
                                </label>
                            </div>
                            <a href="#" class="ids2-anchor ids2-anchor-sm ids2-underline">보기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="ids2-accordion-example">

        <div class="ids2-accordion-card">
            <div class="ids2-accordion-item">
                <div class="ids2-accordion-summary">
                    <div class="ids2-accordion-summary-wrap">
                        <div class="ids2-title">
                            <div class="ids2-title-wrap">
                                <div class="ids2-checkbox">
                                    <label class="">
                                        <input type="checkbox" name="checkbox2" class="ids2-checkbox-all">
                                        <span class="ids2-input-label-text">타이틀</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ids2-arrow">
                        <svg width="16" height="8" viewBox="0 0 16 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.82515 0.20015C1.05946 -0.0341646 1.43936 -0.0341646 1.67368 0.20015L7.99941 6.52589L14.3252 0.20015C14.5595 -0.0341646 14.9394 -0.0341646 15.1737 0.20015C15.408 0.434465 15.408 0.814364 15.1737 1.04868L8.42368 7.79868C8.18936 8.03299 7.80946 8.03299 7.57515 7.79868L0.82515 1.04868C0.590835 0.814364 0.590835 0.434465 0.82515 0.20015Z" fill="#101116"/>
                        </svg>
                    </div>
                </div>


                <div class="ids2-accordion-details">

                    <hr class="ids2-divider" />

                    <div class="ids2-checkbox-list">

                        <div class="ids2-checkbox-list-item">
                            <div class="ids2-checkbox ids2-checkbox-sm">
                                <label>
                                    <input type="checkbox" name="checkbox2">
                                    <span class="ids2-input-label-text">상세내용을 노출합니다</span>
                                    <span class="ids2-label-highlight">필수</span>
                                </label>
                            </div>
                            <a href="#" class="ids2-anchor ids2-anchor-sm ids2-underline">보기</a>
                        </div>
                        <div class="ids2-checkbox-list-item">
                            <div class="ids2-checkbox ids2-checkbox-sm">
                                <label>
                                    <input type="checkbox" name="checkbox2">
                                    <span class="ids2-input-label-text">상세내용을 노출합니다</span>
                                    <span class="ids2-label-highlight">필수</span>
                                </label>
                            </div>
                            <a href="#" class="ids2-anchor ids2-anchor-sm ids2-underline">보기</a>
                        </div>
                        <div class="ids2-checkbox-list-item">
                            <div class="ids2-checkbox ids2-checkbox-sm">
                                <label>
                                    <input type="checkbox" name="checkbox2">
                                    <span class="ids2-input-label-text">상세내용을 노출합니다</span>
                                    <span class="ids2-label-highlight">필수</span>
                                </label>
                            </div>
                            <a href="#" class="ids2-anchor ids2-anchor-sm ids2-underline">보기</a>
                        </div>

                        <div class="ids2-checkbox-list-item">
                            <div class="ids2-checkbox ids2-checkbox-sm">
                                <label>
                                    <input type="checkbox" name="checkbox2">
                                    <span class="ids2-input-label-text">상세내용을 노출합니다</span>
                                    <span class="ids2-label-optional">선택</span>
                                </label>
                            </div>
                            <a href="#" class="ids2-anchor ids2-anchor-sm ids2-underline">보기</a>
                        </div>
                        <div class="ids2-checkbox-list-item">
                            <div class="ids2-checkbox ids2-checkbox-sm">
                                <label>
                                    <input type="checkbox" name="checkbox2">
                                    <span class="ids2-input-label-text">상세내용을 노출합니다</span>
                                    <span class="ids2-label-optional">선택</span>
                                </label>
                            </div>
                            <a href="#" class="ids2-anchor ids2-anchor-sm ids2-underline">보기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>