<div class="ids-accordion-examples">
    <div class="ids-accordion-example">

        <div class="ids-accordion ids-accordion-card">
            <div class="ids-accordion-item">
                <div class="ids-accordion-head">
                    <div class="ids-accordion-summary">
                        <div class="ids-title">
                            <div class="ids-checkbox">
                                <label class="">
                                    <input
                                            type="checkbox"
                                            name="checkbox"
                                            class="ids-checkbox-all"
                                    >
                                    <span class="ids-input-label-text">타이틀</span>
                                    <span class="ids-label-required">필수</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="ids-accordion-arrow">
                        <i class="ids-icon ids-icon-sm ids-icon-expand">Expand</i>
                    </div>
                </div>

                <div class="ids-accordion-details" style="height: 0;">
                    <hr class="ids-divider" />
                    <div class="ids-checkbox-list">
                        <div class="ids-checkbox-list-item">
                            <div class="ids-checkbox ids-checkbox-sm">
                                <label>
                                    <input type="checkbox" name="checkbox">
                                    <span class="ids-input-label-text">상세내용을 노출합니다</span>
                                    <span class="ids-label-required">필수</span>
                                </label>
                            </div>
                            <a href="#" class="ids-anchor ids-anchor-sm ids-underline">보기</a>
                        </div>
                        <div class="ids-checkbox-list-item">
                            <div class="ids-checkbox ids-checkbox-sm">
                                <label>
                                    <input type="checkbox" name="checkbox">
                                    <span class="ids-input-label-text">상세내용을 노출합니다</span>
                                    <span class="ids-label-required">필수</span>
                                </label>
                            </div>
                            <a href="#" class="ids-anchor ids-anchor-sm ids-underline">보기</a>
                        </div>
                        <div class="ids-checkbox-list-item">
                            <div class="ids-checkbox ids-checkbox-sm">
                                <label>
                                    <input type="checkbox" name="checkbox">
                                    <span class="ids-input-label-text">상세내용을 노출합니다</span>
                                    <span class="ids-label-required">필수</span>
                                </label>
                            </div>
                            <a href="#" class="ids-anchor ids-anchor-sm ids-underline">보기</a>
                        </div>
                        <div class="ids-checkbox-list-item">
                            <div class="ids-checkbox ids-checkbox-sm">
                                <label>
                                    <input type="checkbox" name="checkbox">
                                    <span class="ids-input-label-text">상세내용을 노출합니다</span>
                                    <span class="ids-label-required">필수</span>
                                </label>
                            </div>
                            <a href="#" class="ids-anchor ids-anchor-sm ids-underline">보기</a>
                        </div>
                        <div class="ids-checkbox-list-item">
                            <div class="ids-checkbox ids-checkbox-sm">
                                <label>
                                    <input type="checkbox" name="checkbox">
                                    <span class="ids-input-label-text">상세내용을 노출합니다</span>
                                    <span class="ids-label-required">필수</span>
                                </label>
                            </div>
                            <a href="#" class="ids-anchor ids-anchor-sm ids-underline">보기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="ids-accordion-example">

        <div class="ids-accordion ids-accordion-card">
            <div class="ids-accordion-item">
                <div class="ids-accordion-head">
                    <div class="ids-accordion-summary">
                        <div class="ids-title">
                            <div class="ids-checkbox">
                                <label class="">
                                    <input
                                            type="checkbox"
                                            name="checkbox2"
                                            class="ids-checkbox-all"
                                    >
                                    <span class="ids-input-label-text">타이틀</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="ids-accordion-arrow">
                        <i class="ids-icon ids-icon-sm ids-icon-expand">Expand</i>
                    </div>
                </div>


                <div class="ids-accordion-details" style="height: 0;">
                    <hr class="ids-divider" />
                    <div class="ids-checkbox-list">
                        <div class="ids-checkbox-list-item">
                            <div class="ids-checkbox ids-checkbox-sm">
                                <label>
                                    <input type="checkbox" name="checkbox2">
                                    <span class="ids-input-label-text">상세내용을 노출합니다</span>
                                    <span class="ids-label-required">필수</span>
                                </label>
                            </div>
                            <a href="#" class="ids-anchor ids-anchor-sm ids-underline">보기</a>
                        </div>
                        <div class="ids-checkbox-list-item">
                            <div class="ids-checkbox ids-checkbox-sm">
                                <label>
                                    <input type="checkbox" name="checkbox2">
                                    <span class="ids-input-label-text">상세내용을 노출합니다</span>
                                    <span class="ids-label-required">필수</span>
                                </label>
                            </div>
                            <a href="#" class="ids-anchor ids-anchor-sm ids-underline">보기</a>
                        </div>
                        <div class="ids-checkbox-list-item">
                            <div class="ids-checkbox ids-checkbox-sm">
                                <label>
                                    <input type="checkbox" name="checkbox2">
                                    <span class="ids-input-label-text">상세내용을 노출합니다</span>
                                    <span class="ids-label-required">필수</span>
                                </label>
                            </div>
                            <a href="#" class="ids-anchor ids-anchor-sm ids-underline">보기</a>
                        </div>

                        <div class="ids-checkbox-list-item">
                            <div class="ids-checkbox ids-checkbox-sm">
                                <label>
                                    <input type="checkbox" name="checkbox2">
                                    <span class="ids-input-label-text">상세내용을 노출합니다</span>
                                    <span class="ids-label-optional">선택</span>
                                </label>
                            </div>
                            <a href="#" class="ids-anchor ids-anchor-sm ids-underline">보기</a>
                        </div>
                        <div class="ids-checkbox-list-item">
                            <div class="ids-checkbox ids-checkbox-sm">
                                <label>
                                    <input type="checkbox" name="checkbox2">
                                    <span class="ids-input-label-text">상세내용을 노출합니다</span>
                                    <span class="ids-label-optional">선택</span>
                                </label>
                            </div>
                            <a href="#" class="ids-anchor ids-anchor-sm ids-underline">보기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>