.ids2-accordion-examples {
    display: flex;
    gap: 20px;

}

.ids2-accordion-example {
    width: 50%;
    min-width: 320px;
}

.ids2-accordion-card {
    width: 100%;
    min-width: 320px;
    border-radius: 16px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #E1E3EA;
    background: #fff;
}

.ids2-accordion-card .ids2-accordion-item {
    transition: max-height 1s  ease-in-out;
}
.ids2-accordion-card .ids2-accordion-summary {
    position: relative;
    cursor: pointer;
    padding-right: 40px;
    transition: background 0.3s ease-in;
}
.ids2-accordion-card .ids2-arrow {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    margin-top: -9px;
    right: 0;
    display: flex;
    align-items: center;
    transition: transform 0.3s cubic-bezier(.7,.2,.9,.6);
    justify-content: right;
}
.ids2-accordion-card .ids2-accordion-item[open] .ids2-arrow {
    transform: rotate(180deg);
}
.ids2-accordion-card .ids2-accordion-details {
    height: 0;
    overflow: hidden;
    box-sizing: border-box;
    transition: height 0.3s cubic-bezier(.7,.5,.6,.9);
}
.ids2-accordion-card .ids2-accordion-details-wrap {
    padding-top: 16px;
}