<div class="ids2-button-examples">
    <h3 class="ids2-h3">Height 48</h3>
    <div class="ids2-button-group">
        <button class="ids2-button ids2-button-secondary ids2-button-fill">확인</button>
        <button class="ids2-button ids2-button-secondary ids2-button-fill" disabled>확인</button>
    </div>
    <div class="ids2-button-group">
        <button class="ids2-button ids2-button-secondary ids2-button-tint">확인</button>
        <button class="ids2-button ids2-button-secondary ids2-button-tint" disabled>확인</button>
    </div>
    <div class="ids2-button-group">
        <button class="ids2-button ids2-button-secondary">확인</button>
        <button class="ids2-button ids2-button-secondary" disabled>확인</button>
    </div>

    <h3 class="ids2-h3">Height 40</h3>
    <div class="ids2-button-group">
        <button class="ids2-button ids2-button-secondary ids2-button-fill ids2-button-sm">확인</button>
        <button class="ids2-button ids2-button-secondary ids2-button-fill ids2-button-sm" disabled>확인</button>
    </div>
    <div class="ids2-button-group">
        <button class="ids2-button ids2-button-secondary ids2-button-tint ids2-button-sm">확인</button>
        <button class="ids2-button ids2-button-secondary ids2-button-tint ids2-button-sm" disabled>확인</button>
    </div>
    <div class="ids2-button-group">
        <button class="ids2-button ids2-button-secondary ids2-button-sm">확인</button>
        <button class="ids2-button ids2-button-secondary ids2-button-sm" disabled>확인</button>
    </div>
</div>