<div class="ids-button-examples">
    <h3 class="ids-h3">Fill</h3>
    <button class="ids-button ids-button-secondary ids-button-fill ids-button-full-width">
        <i class="ids-icon ids-icon-image ids-icon-color-white">Image</i>
        <span class="ids-button-label">레이블</span>
    </button>
    <h3 class="ids-h3">Tint</h3>
    <button class="ids-button ids-button-secondary ids-button-tint ids-button-full-width">
        <i class="ids-icon ids-icon-image ids-icon-color-point-blue">Image</i>
        <span class="ids-button-label">레이블</span>
    </button>
    <h3 class="ids-h3">Line</h3>
    <button class="ids-button ids-button-secondary ids-button-full-width">
        <i class="ids-icon ids-icon-image">Image</i>
        <span class="ids-button-label">레이블</span>
        <i class="ids-icon ids-icon-image">Image</i>
    </button>
</div>