/**
    Button Primary Default
 */
.ids-button.ids-button-secondary {
    min-width: 100px;
    width: 100%;
    box-sizing: border-box;
    height: 48px;
    gap: var(--ids-spacing-1);

    border-radius: var(--ids-radius-12);
    font-size: var(--ids-size-body2);
    line-height: var(--ids-line-body2-tight);
    font-weight: var(--ids-font-bold);

    background-color: var(--ids-color-primary);
    border: var(--ids-color-primary);
    color: var(--ids-color-white);
}

.ids-button.ids-button-secondary:active {
    background-color: var(--ids-color-blue-900);
    border-color: var(--ids-color-blue-900);
}

.ids-button.ids-button-secondary:disabled {
    background-color: var(--ids-color-gray-150);
    border-color: var(--ids-color-gray-150);
    color: var(--ids-color-gray-500);
}

.ids-button.ids-button-secondary.ids-button-sm {
    height: 40px;
}