<div class="ids2-toggle-switch-examples">
    <div class="ids2-toggle-switch-example">
        <div class="ids2-toggle-switch-state">
            <label class="ids2-toggle">
                <span class="ids2-toggle-label">레이블</span>
                <input type="checkbox" class="ids2-toggle-input" checked />
                <span class="ids2-toggle-slider"></span>
            </label>
            <label>Selected</label>
        </div>
        <div class="ids2-toggle-switch-state">
            <label class="ids2-toggle">
                <span class="ids2-toggle-label">레이블</span>
                <input type="checkbox" class="ids2-toggle-input" />
                <span class="ids2-toggle-slider"></span>
            </label>
            <label>Unselected</label>
        </div>
        <div class="ids2-toggle-switch-state">
            <label class="ids2-toggle">
                <span class="ids2-toggle-label">레이블</span>
                <input type="checkbox" class="ids2-toggle-input" disabled />
                <span class="ids2-toggle-slider"></span>
            </label>
            <label>Disabled</label>
        </div>
        <div class="ids2-toggle-switch-state">
            <label class="ids2-toggle">
                <span class="ids2-toggle-label">레이블</span>
                <input type="checkbox" class="ids2-toggle-input" checked disabled />
                <span class="ids2-toggle-slider"></span>
            </label>
            <label>Disabled Selected</label>
        </div>
    </div>
</div>