.ids2-badge-container {
    display: flex;
    gap: 75px;
}

.ids2-badge-new {
    display:inline-block;
    font-family: 'Pretendard', sans-serif;
    background: #FD5E4F;
    border-radius: 6px;
    padding: 2px 8px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    vertical-align: middle;
    line-height: 16px;
}

.ids2-badge-new-small {
    display:inline-block;
    background-color: #FD5E4F;
    border-radius: 6px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.1091 0V10H7.50689L2.76932 3.16298H2.68645V10H0.890869V0H2.5207L7.23065 6.83702H7.32733V0H9.1091Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
}