<div class="ids-progress-step-example">
    <div class="ids-progress-ba">
        <div class="ids-progress-bar-labels">
            <div class="ids-progress-bar-label">레이블</div>
            <div class="ids-progress-bar-label active">레이블</div>
            <div class="ids-progress-bar-label">레이블</div>
            <div class="ids-progress-bar-label">레이블</div>
        </div>
        <div class="ids-progress-bar-container">
            <div class="ids-progress-bar-fill" style="width: 40%;"></div>
        </div>
    </div>
</div>