<div class="ids2-progress-step-example">
    <div class="ids2-progress-bar-container">
        <div class="ids2-progress-bar-labels">
            <div class="ids2-progress-bar-label">레이블</div>
            <div class="ids2-progress-bar-label active">레이블</div>
            <div class="ids2-progress-bar-label">레이블</div>
            <div class="ids2-progress-bar-label">레이블</div>
        </div>
        <div class="ids2-progress-bar">
            <div class="ids2-progress-bar-fill" style="width: 40%;"></div>
        </div>
    </div>
</div>