<div class="ids2-tab-examples">
    <div class="ids2-tab-example">
        <div class="ids2-tab">
            <div class="ids2-tab-item ids2-tab-item-active">
                레이블
                <span class="ids2-badge-new ids2-badge-new-small">N</span>
            </div>
            <div class="ids2-tab-item">레이블
                <span class="ids2-badge-new ids2-badge-new-small">N</span>
            </div>
            <div class="ids2-tab-item">레이블
                <span class="ids2-badge-new ids2-badge-new-small">N</span>
            </div>
            <div class="ids2-tab-item">레이블
                <span class="ids2-badge-new ids2-badge-new-small">N</span>
            </div>
        </div>
        <div class="ids2-tab-overflow">
            <div class="ids2-tab">
                <div class="ids2-tab-item ids2-tab-item-active">
                    레이블
                    <span class="ds2-badge-new ids2-badge-new-small">N</span>
                </div>
                <div class="ids2-tab-item">레이블
                    <span class="ids2-badge-new ids2-badge-new-small">N</span>
                </div>
                <div class="ids2-tab-item">레이블
                    <span class="ids2-badge-new ids2-badge-new-small">N</span>
                </div>
                <div class="ids2-tab-item">레이블
                    <span class="ids2-badge-new ids2-badge-new-small">N</span>
                </div>
                <div class="ids2-tab-item">레이블
                    <span class="ids2-badge-new ids2-badge-new-small">N</span>
                </div>
                <div class="ids2-tab-item">레이블
                    <span class="ids2-badge-new ids2-badge-new-small">N</span>
                </div>
                <div class="ids2-tab-item">레이블
                    <span class="ids2-badge-new ids2-badge-new-small">N</span>
                </div>
                <div class="ids2-tab-item">레이블
                    <span class="ids2-badge-new ids2-badge-new-small">N</span>
                </div>
                <div class="ids2-tab-item">레이블
                    <span class="ids2-badge-new ids2-badge-new-small">N</span>
                </div>
                <div class="ids2-tab-item">레이블
                    <span class="ids2-badge-new ids2-badge-new-small">N</span>
                </div>
                <div class="ids2-tab-item">레이블
                    <span class="ids2-badge-new ids2-badge-new-small">N</span>
                </div>
                <div class="ids2-tab-item">레이블
                    <span class="ids2-badge-new ids2-badge-new-small">N</span>
                </div>
                <div class="ids2-tab-item">레이블
                    <span class="ids2-badge-new ids2-badge-new-small">N</span>
                </div>
            </div>
        </div>
    </div>
</div>