<div class="ids2-checkbox-examples">
    <div class="ids2-checkbox-state">
        <div class="ids2-checkbox">
            <label>
                <input type="checkbox" name="checkbox" checked>
                <span class="ids2-input-label-text ids2-bold">레이블</span>
                <span class="ids2-label-highlight ids2-bold">필수</span>
                <span class="ids2-label-optional ids2-bold">선택</span>
            </label>
        </div>
        <label>Selected</label>
    </div>
    <div class="ids2-checkbox-state">
        <div class="ids2-checkbox">
            <label>
                <input type="checkbox" name="checkbox">
                <span class="ids2-input-label-text ids2-bold">레이블</span>
                <span class="ids2-label-highlight ids2-bold">필수</span>
                <span class="ids2-label-optional ids2-bold">선택</span>
            </label>
        </div>
        <label>Unelected</label>
    </div>
    <div class="ids2-checkbox-state">
        <div class="ids2-checkbox">
            <label>
                <input type="checkbox" name="checkbox" disabled>
                <span class="ids2-input-label-text ids2-bold">레이블</span>
                <span class="ids2-label-highlight ids2-bold">필수</span>
                <span class="ids2-label-optional ids2-bold">선택</span>
            </label>
        </div>
        <label>Disabled</label>
    </div>

    <div class="ids2-checkbox-state">
        <div class="ids2-checkbox">
            <label>
                <input type="checkbox" name="checkbox" checked disabled>
                <span class="ids2-input-label-text ids2-bold">레이블</span>
                <span class="ids2-label-highlight ids2-bold">필수</span>
                <span class="ids2-label-optional ids2-bold">선택</span>
            </label>
        </div>
        <label>Disabled Selected</label>
    </div>
</div>