<div class="ids-checkbox-examples">
    <div class="ids-checkbox-state">
        <div class="ids-checkbox">
            <label>
                <input type="checkbox" name="checkbox" checked>
                <span class="ids-input-label-text ids-bold">레이블</span>
                <span class="ids-label-required ids-bold">필수</span>
                <span class="ids-label-optional ids-bold">선택</span>
            </label>
        </div>
        <label>Selected</label>
    </div>
    <div class="ids-checkbox-state">
        <div class="ids-checkbox">
            <label>
                <input type="checkbox" name="checkbox">
                <span class="ids-input-label-text ids-bold">레이블</span>
                <span class="ids-label-required ids-bold">필수</span>
                <span class="ids-label-optional ids-bold">선택</span>
            </label>
        </div>
        <label>Unelected</label>
    </div>
    <div class="ids-checkbox-state">
        <div class="ids-checkbox">
            <label>
                <input type="checkbox" name="checkbox" disabled>
                <span class="ids-input-label-text ids-bold">레이블</span>
                <span class="ids-label-required ids-bold">필수</span>
                <span class="ids-label-optional ids-bold">선택</span>
            </label>
        </div>
        <label>Disabled</label>
    </div>

    <div class="ids-checkbox-state">
        <div class="ids-checkbox">
            <label>
                <input type="checkbox" name="checkbox" checked disabled>
                <span class="ids-input-label-text ids-bold">레이블</span>
                <span class="ids-label-required ids-bold">필수</span>
                <span class="ids-label-optional ids-bold">선택</span>
            </label>
        </div>
        <label>Disabled Selected</label>
    </div>
</div>