<div class="ids2-button-examples">
    <div class="ids2-button-example">
        <h3 class="ids2-h3">Height 22</h3>
        <button class="ids2-button ids2-button-text">
            <i class="ids2-icon ids2-icon-image ids2-icon-xs">Image</i>
            <span class="ids2-button-label">레이블</span>
        </button>
    </div>

    <div class="ids2-button-example">
        <h3 class="ids2-h3">Height 18</h3>
        <button class="ids2-button ids2-button-text ids2-button-sm">
            <span class="ids2-button-label">레이블</span>
            <i class="ids2-icon ids2-icon-image ids2-icon-xxs">Image</i>
        </button>
    </div>

</div>