<div class="ids-button-examples">
    <div class="ids-button-example">
        <h3 class="ids-h3">Height 22</h3>
        <button class="ids-button ids-button-text">
            <i class="ids-icon ids-icon-image ids-icon-sm">Image</i>
            <span class="ids-button-label">레이블</span>
        </button>
    </div>

    <div class="ids-button-example">
        <h3 class="ids-h3">Height 18</h3>
        <button class="ids-button ids-button-text ids-button-sm">
            <span class="ids-button-label">레이블</span>
            <i class="ids-icon ids-icon-image ids-icon-xs">Image</i>
        </button>
    </div>

</div>