/**
    Button Primary Default
 */
.ids-button.ids-button-text {
    min-width: 0;
    height: 22px;
    background-color: transparent;
    border: transparent;
    padding: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
    color: #30323B;
    gap: 6px;
}

.ids-button.ids-button-text:disabled {
    background-color: #F3F4F7;
    border-color: #E1E3EA;
    color: #737684;
}

.ids-button.ids-button-text.ids-button-sm {
    font-size: 14px;
    line-height: 22px;
    height: 18px;
    gap: 2px;
}

.ids-button.ids-button-text.ids-button-xs {
    font-size: 12px;
    height: 24px;
}

.ids-button.ids-button-text.ids-button-square {
    border-radius: 6px;
}