<div class="ids-text-field-example">
    <div class="ids-text-field-example">

        <div class="ids-verification">

            <div class="ids-code-inputs">
                <input
                        type="text"
                        class="ids-circle-input"
                        maxlength="1"
                        placeholder="●"
                />
                <input
                        type="text"
                        class="ids-circle-input"
                        maxlength="1"
                        placeholder="●"
                />
                <input
                        type="text"
                        class="ids-circle-input"
                        maxlength="1"
                        placeholder="●"
                />
                <input
                        type="text"
                        class="ids-circle-input"
                        maxlength="1"
                        placeholder="●"
                />
            </div>

            <div class="ids-verification-help">도움말메시지</div>
        </div>
    </div>
</div>