.ids-banner.ids-banner-xs {
    padding: 22px 12px;
    background-color: #C5C8D3;
    color: #454855;
}

.ids-banner.ids-banner-small {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 23px 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='342' height='88' viewBox='0 0 342 88' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='342' height='88' fill='%23C5C8D3'/%3E%3Cpath d='M286.094 42.3418C286.715 42.3418 287.219 41.8381 287.219 41.2168C287.219 40.5955 286.715 40.0918 286.094 40.0918C285.472 40.0918 284.969 40.5955 284.969 41.2168C284.969 41.8381 285.472 42.3418 286.094 42.3418Z' fill='%23E1E3EA'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M285 34C282.239 34 280 36.2386 280 39V49C280 51.7614 282.239 54 285 54H295C297.761 54 300 51.7614 300 49V39C300 36.2386 297.761 34 295 34H285ZM295 35.3H285C282.957 35.3 281.3 36.9565 281.3 39V48.2074L284.099 45.6028C284.335 45.3833 284.696 45.3697 284.947 45.5709L287.141 47.3243L291.807 41.9074C291.926 41.7688 292.099 41.6869 292.282 41.6819C292.465 41.6769 292.641 41.7493 292.768 41.8812L298.7 48.0527V39C298.7 36.9565 297.043 35.3 295 35.3ZM285 52.7C283.261 52.7 281.803 51.5007 281.406 49.8843L284.574 46.9365L286.819 48.731C287.092 48.9493 287.489 48.9123 287.718 48.6474L292.326 43.297L298.606 49.8311C298.229 51.4744 296.758 52.7 295 52.7H285Z' fill='%23E1E3EA'/%3E%3C/svg%3E%0A");
    background-position: right;
    background-color: #C5C8D3;
    border-radius: 16px;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 14px;
    color: #454855;
}

.ids-banner.ids-banner-small .ids-banner-title {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
}

.ids-banner.ids-banner-small .ids-banner-text {
    line-height: 20px;
}

.ids-banner.ids-banner-small .ids-banner-close {
    position: absolute;
    top: 12px;
    right: 12px;
}
