<div class="ids2-text-field-example">
    <div class="ids2-text-field-example">

        <div class="ids2-verification">
            <h2 class="ids2-verification-title">타이틀</h2>

            <div class="ids2-code-inputs">
                <input
                        type="text"
                        class="ids2-circle-input"
                        maxlength="1"
                        placeholder="●"
                />
                <input
                        type="text"
                        class="ids2-circle-input"
                        maxlength="1"
                        placeholder="●"
                />
                <input
                        type="text"
                        class="ids2-circle-input"
                        maxlength="1"
                        placeholder="●"
                />
                <input
                        type="text"
                        class="ids2-circle-input"
                        maxlength="1"
                        placeholder="●"
                />
                <input
                        type="text"
                        class="ids2-circle-input"
                        maxlength="1"
                        placeholder="●"
                />
                <input
                        type="text"
                        class="ids2-circle-input"
                        maxlength="1"
                        placeholder="●"
                />
            </div>

            <div class="ids2-verification-help">도움말메시지</div>
        </div>
    </div>
</div>