<div class="ids2-checkbox-example">
    <div class="ids2-card">
        <div class="ids2-agreement-example">
            <div class="ids2-checkbox">
                <label class="">
                    <input type="checkbox" name="checkbox">
                    <span class="ids2-input-label-text ids2-bold">텍스트 1</span>
                    <span class="ids2-text-divider">|</span>
                    <span class="ids2-label-highlight  ids2-bold">필수</span>
                </label>
            </div>

            <hr class="ids2-divider" />

            <div class="ids2-checkbox-list">

                <div class="ids2-checkbox">
                    <label>
                        <input type="checkbox" name="checkbox">
                        <span class="ids2-input-label-text">텍스트 1</span>
                        <span class="ids2-text-divider">|</span>
                        <span class="ids2-label-highlight">필수</span>
                    </label>
                </div>
                <div class="ids2-checkbox">
                    <label>
                        <input type="checkbox" name="checkbox">
                        <span class="ids2-input-label-text">텍스트 2</span>
                        <span class="ids2-text-divider">|</span>
                        <span class="ids2-label-highlight">필수</span>
                    </label>
                </div>
                <div class="ids2-checkbox">
                    <label>
                        <input type="checkbox" name="checkbox">
                        <span class="ids2-input-label-text">텍스트 3</span>
                        <span class="ids2-text-divider">|</span>
                        <span class="ids2-label-highlight">필수</span>
                    </label>
                </div>
                <div class="ids2-checkbox">
                    <label>
                        <input type="checkbox" name="checkbox">
                        <span class="ids2-input-label-text">텍스트 4</span>
                        <span class="ids2-text-divider">|</span>
                        <span class="ids2-label-highlight">필수</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>