<div class="ids2-checkbox-examples">
    <div class="ids2-card ids2-card-outlined">
        <div class="ids2-agreement-example">
            <div class="ids2-checkbox">
                <label class="">
                    <input type="checkbox" id="checkAll" name="checkboxAll">
                    <span class="ids2-input-label-text">레이블</span>
                    <span class="ids2-label-required">필수</span>
                </label>
            </div>

            <hr class="ids2-divider" />

            <div class="ids2-checkbox-list">

                <div class="ids2-checkbox-list-item">
                    <div class="ids2-checkbox ids2-checkbox-sm">
                        <label>
                            <input type="checkbox" name="checkbox">
                            <span class="ids2-input-label-text">레이블 1</span>
                            <span class="ids2-label-required">필수</span>
                        </label>
                    </div>
                    <a href="#" class="ids2-anchor ids2-anchor-sm ids2-underline">보기</a>
                </div>

                <div class="ids2-checkbox-list-item">
                    <div class="ids2-checkbox ids2-checkbox-sm">
                        <label>
                            <input type="checkbox" name="checkbox">
                            <span class="ids2-input-label-text">레이블 2</span>
                            <span class="ids2-label-required">필수</span>
                        </label>
                    </div>
                    <a href="#" class="ids2-anchor ids2-anchor-sm ids2-underline">보기</a>
                </div>
                <div class="ids2-checkbox-list-item">
                    <div class="ids2-checkbox ids2-checkbox-sm">
                        <label>
                            <input type="checkbox" name="checkbox">
                            <span class="ids2-input-label-text">레이블 3</span>
                            <span class="ids2-label-required">필수</span>
                        </label>
                    </div>
                    <a href="#" class="ids2-anchor ids2-anchor-sm ids2-underline">보기</a>
                </div>
                <div class="ids2-checkbox-list-item">
                    <div class="ids2-checkbox ids2-checkbox-sm">
                        <label>
                            <input type="checkbox" name="checkbox">
                            <span class="ids2-input-label-text">레이블 4</span>
                            <span class="ids2-label-required">필수</span>
                        </label>
                    </div>
                    <a href="#" class="ids2-anchor ids2-anchor-sm ids2-underline">보기</a>
                </div>
            </div>
        </div>
    </div>
</div>