<div class="ids-checkbox-examples">
    <div class="ids-card ids-card-outlined">
        <div class="ids-agreement-example">
            <div class="ids-checkbox">
                <label class="">
                    <input type="checkbox" id="checkAll" name="checkboxAll">
                    <span class="ids-input-label-text">레이블</span>
                    <span class="ids-label-required">필수</span>
                </label>
            </div>

            <hr class="ids-divider" />

            <div class="ids-checkbox-list">

                <div class="ids-checkbox-list-item">
                    <div class="ids-checkbox ids-checkbox-sm">
                        <label>
                            <input type="checkbox" name="checkbox">
                            <span class="ids-input-label-text">레이블 1</span>
                            <span class="ids-label-required">필수</span>
                        </label>
                    </div>
                    <a href="#" class="ids-anchor ids-anchor-sm ids-underline">보기</a>
                </div>

                <div class="ids-checkbox-list-item">
                    <div class="ids-checkbox ids-checkbox-sm">
                        <label>
                            <input type="checkbox" name="checkbox">
                            <span class="ids-input-label-text">레이블 2</span>
                            <span class="ids-label-required">필수</span>
                        </label>
                    </div>
                    <a href="#" class="ids-anchor ids-anchor-sm ids-underline">보기</a>
                </div>
                <div class="ids-checkbox-list-item">
                    <div class="ids-checkbox ids-checkbox-sm">
                        <label>
                            <input type="checkbox" name="checkbox">
                            <span class="ids-input-label-text">레이블 3</span>
                            <span class="ids-label-required">필수</span>
                        </label>
                    </div>
                    <a href="#" class="ids-anchor ids-anchor-sm ids-underline">보기</a>
                </div>
                <div class="ids-checkbox-list-item">
                    <div class="ids-checkbox ids-checkbox-sm">
                        <label>
                            <input type="checkbox" name="checkbox">
                            <span class="ids-input-label-text">레이블 4</span>
                            <span class="ids-label-required">필수</span>
                        </label>
                    </div>
                    <a href="#" class="ids-anchor ids-anchor-sm ids-underline">보기</a>
                </div>
            </div>
        </div>
    </div>
</div>