.ids2-agreement-example {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ids2-checkbox-list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
    width: 100%;
}