<div class="ids-list-example">
    <div class="ids-accordion">
        <div class="ids-accordion-item ids-accordion-item-open ids-pb-1-half">
            <div class="ids-accordion-head">
                <div class="ids-accordion-summary">
                    <div class="ids-accordion-title">
                        <h3 class="ids-h3-tight">
                            입출식 <span class="ids-badge-count">4</span>
                        </h3>
                        <div class="ids-total">
                            <span class="ids-body5 ids-semibold">합계</span>
                            <span class="ids-badge-count">1,000,000,000원</span>
                        </div>
                    </div>
                </div>
                <div class="ids-accordion-arrow">
                    <i class="ids-icon ids-icon-expand">Expand</i>
                </div>
            </div>
            <div class="ids-accordion-details ids-px-3">
                <div class="ids-list ids-card-list">
                    <div class="ids-card ids-card-outlined">
                        <div class="ids-card-header">
                            <div class="ids-card-header-wrap">
                                <span class="ids-label ids-label-blue-600">레이블</span>
                                <span class="ids-caption ids-bold ids-text-gray-500">개인사업자통장</span>
                            </div>
                            <div class="ids-menu-button">⋮</div>
                        </div>
                        <div class="ids-body4 ids-semibold ids-mt-half">기업 030-093995-01-010</div>
                        <div class="ids-body2 ids-bold ids-mt-half ids-text-right">69,000,123 원</div>
                    </div>
                    <div class="ids-card ids-card-outlined">
                        <div class="ids-card-header">
                            <div class="ids-card-header-wrap">
                                <span class="ids-label ids-label-blue-600">레이블</span>
                                <span class="ids-caption ids-bold ids-text-gray-500">개인사업자통장</span>
                            </div>
                            <div class="ids-menu-button">⋮</div>
                        </div>
                        <div class="ids-body4 ids-semibold ids-mt-half">기업 030-093995-01-010</div>
                        <div class="ids-body2 ids-bold ids-mt-half ids-text-right">69,000,123 원</div>
                    </div>
                    <div class="ids-card ids-card-outlined">
                        <div class="ids-card-header">
                            <div class="ids-card-header-wrap">
                                <span class="ids-label ids-label-blue-600">레이블</span>
                                <span class="ids-caption ids-bold ids-text-gray-500">개인사업자통장</span>
                            </div>
                            <div class="ids-menu-button">⋮</div>
                        </div>
                        <div class="ids-body4 ids-semibold ids-mt-half">기업 030-093995-01-010</div>
                        <div class="ids-body2 ids-bold ids-mt-half ids-text-right">69,000,123 원</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ids-divider ids-divider-thick"></div>
    </div>
</div>