<div class="ids2-popup-examples">

    <div class="ids2-popup-examples-open-button" style="line-height: 522px;">
        팝업 다시보기
    </div>

    <div class="ids2-popup-full">
        <div class="ids2-popup-navigation">
            <div class="ids2-popup-navigation-left">
                타이틀
            </div>
            <div class="ids2-popup-navigation-right">
                <div class="ids2-popup-navigation-close">
                    <i class="ids2-icon ids2-icon-close">Close</i>
                </div>
            </div>
        </div>

        <div class="ids2-button-group ids2-popup-full-footer">
            <button class="ids2-button ids2-button-primary ids2-button-full-width">레이블</button>
            <button class="ids2-button ids2-button-primary ids2-button-full-width ids2-button-fill">
                <span class="ids2-bold">레이블</span>
            </button>
        </div>
    </div>
    <div class="ids2-backdrop"></div>
</div>