.ids2-popup-full {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    transition: top 0.2s ease-in-out;
    background: #ffffff;
    z-index: 1001;
}

.ids2-popup-full.ids2-popup-full-hide {
    top: 100%;
}

.ids2-popup-navigation {
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.ids2-popup-navigation-left {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    color: #101116;
}

.ids2-popup-navigation-right {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: right;
}

.ids2-popup-navigation-close {
    cursor: pointer;
}

.ids2-popup-full-footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
}