<div class="ids-slider-examples">
    <div class="ids-slider-example">
        <div class="ids-slider ids-slider-large ids-slider-vertical" data-value="25">
            <!-- 트랙 -->
            <div class="ids-slider-track">
                <div class="ids-slider-track-range"></div>
            </div>

            <!-- 핸들(드래그 대상) -->
            <div class="ids-slider-handle">
                <div class="ids-slider-tooltip">텍스트</div>
            </div>

            <div class="ids-slider-range-end">50</div>

            <div class="ids-slider-range-start">0</div>
        </div>
    </div>
    <div class="ids-slider-example">
        <div class="ids-slider ids-slider-large ids-slider-vertical ids-slider-snap" data-value="25">
            <!-- 트랙 -->
            <div class="ids-slider-track">
                <div class="ids-slider-track-range"></div>
                <div class="ids-slider-track-snap" style="top: 16.66%;"></div>
                <div class="ids-slider-track-snap" style="top: 33.33%;"></div>
                <div class="ids-slider-track-snap" style="top: 50%;"></div>
                <div class="ids-slider-track-snap" style="top: 66.66%;"></div>
                <div class="ids-slider-track-snap" style="top: 83.33%;"></div>
            </div>

            <!-- 핸들(드래그 대상) -->
            <div class="ids-slider-handle">
                <div class="ids-slider-tooltip">텍스트</div>
            </div>

            <div class="ids-slider-range-end">50</div>

            <div class="ids-slider-range-start">0</div>
        </div>
    </div>
    <div>

        <div class="ids-slider-example">
            <div class="ids-slider ids-slider-large ids-slide-horizontal" data-value="25">
                <!-- 트랙 -->
                <div class="ids-slider-track">
                    <div class="ids-slider-track-range"></div>
                </div>

                <!-- 핸들(드래그 대상) -->
                <div class="ids-slider-handle">
                    <div class="ids-slider-tooltip">텍스트</div>
                </div>

                <div class="ids-slider-range-start">0</div>

                <div class="ids-slider-range-end">50</div>
            </div>
        </div>
        <div class="ids-slider-example">
            <div class="ids-slider ids-slider-large ids-slide-horizontal ids-slider-snap" data-value="25">
                <!-- 트랙 -->
                <div class="ids-slider-track">
                    <div class="ids-slider-track-range"></div>
                    <div class="ids-slider-track-snap" style="left: 16.66%;"></div>
                    <div class="ids-slider-track-snap" style="left: 33.33%;"></div>
                    <div class="ids-slider-track-snap" style="left: 50%;"></div>
                    <div class="ids-slider-track-snap" style="left: 66.66%;"></div>
                    <div class="ids-slider-track-snap" style="left: 83.33%;"></div>
                </div>

                <!-- 핸들(드래그 대상) -->
                <div class="ids-slider-handle">
                    <div class="ids-slider-tooltip">텍스트</div>
                </div>

                <div class="ids-slider-range-start">0</div>

                <div class="ids-slider-range-end">50</div>
            </div>
        </div>
    </div>
</div>