<div class="ids2-slider-examples">
    <div class="ids2-slider-example">
        <div class="ids2-slider ids2-slider__large ids2-slider__vertical" data-value="25">
            <!-- 트랙 -->
            <div class="ids2-slider__track">
                <div class="ids2-slider__track-range"></div>
            </div>

            <!-- 핸들(드래그 대상) -->
            <div class="ids2-slider__handle">
                <div class="ids2-slider__tooltip">텍스트</div>
            </div>

            <div class="ids2-slider__range-end">50</div>

            <div class="ids2-slider__range-start">0</div>
        </div>
    </div>
    <div class="ids2-slider-example">
        <div class="ids2-slider ids2-slider__large ids2-slider__vertical ids2-slider__snap" data-value="25">
            <!-- 트랙 -->
            <div class="ids2-slider__track">
                <div class="ids2-slider__track-range"></div>
                <div class="ids2-slider__track-snap" style="top: 16.66%;"></div>
                <div class="ids2-slider__track-snap" style="top: 33.33%;"></div>
                <div class="ids2-slider__track-snap" style="top: 50%;"></div>
                <div class="ids2-slider__track-snap" style="top: 66.66%;"></div>
                <div class="ids2-slider__track-snap" style="top: 83.33%;"></div>
            </div>

            <!-- 핸들(드래그 대상) -->
            <div class="ids2-slider__handle">
                <div class="ids2-slider__tooltip">텍스트</div>
            </div>

            <div class="ids2-slider__range-end">50</div>

            <div class="ids2-slider__range-start">0</div>
        </div>
    </div>
    <div>

        <div class="ids2-slider-example">
            <div class="ids2-slider ids2-slider__large ids2-slide__horizontal" data-value="25">
                <!-- 트랙 -->
                <div class="ids2-slider__track">
                    <div class="ids2-slider__track-range"></div>
                </div>

                <!-- 핸들(드래그 대상) -->
                <div class="ids2-slider__handle">
                    <div class="ids2-slider__tooltip">텍스트</div>
                </div>

                <div class="ids2-slider__range-start">0</div>

                <div class="ids2-slider__range-end">50</div>
            </div>
        </div>
        <div class="ids2-slider-example">
            <div class="ids2-slider ids2-slider__large ids2-slide__horizontal ids2-slider__snap" data-value="25">
                <!-- 트랙 -->
                <div class="ids2-slider__track">
                    <div class="ids2-slider__track-range"></div>
                    <div class="ids2-slider__track-snap" style="left: 16.66%;"></div>
                    <div class="ids2-slider__track-snap" style="left: 33.33%;"></div>
                    <div class="ids2-slider__track-snap" style="left: 50%;"></div>
                    <div class="ids2-slider__track-snap" style="left: 66.66%;"></div>
                    <div class="ids2-slider__track-snap" style="left: 83.33%;"></div>
                </div>

                <!-- 핸들(드래그 대상) -->
                <div class="ids2-slider__handle">
                    <div class="ids2-slider__tooltip">텍스트</div>
                </div>

                <div class="ids2-slider__range-start">0</div>

                <div class="ids2-slider__range-end">50</div>
            </div>
        </div>
    </div>
</div>