<div class="ids2-text-field-example">
    <div class="ids2-text-field">
        <label for="textField-input" class="ids2-text-field-label">
            <span>계좌번호</span><span class="ids2-label-highlight">필수</span>
        </label>
        <div class="ids2-text-field-container">
            <input type="text"
                   class="ids2-text-field-input"
                   id="textField-input"
                   maxlength="500"
                   placeholder="플레이스 홀더"
            />
            <button class="ids2-input-clear">
                <i class="ids2-icon ids2-icon-clear">Clear</i>
            </button>
        </div>
    </div>
</div>