<div class="ids-top-navigation-example">
    <div class="ids-top-navigation ids-top-navigation-search">
        <div class="ids-top-left-button">
            <i class="ids-icon ids-icon-arrow-left">Back</i>
        </div>
        <div class="ids-text-field ids-input-top-search">
            <input type="text" placeholder="검색어를 입력하세요." class="ids-text-field-input">
            <button class="ids-input-clear">
                <i class="ids-icon ids-icon-clear">Clear</i>
            </button>
            <button class="ids-button ids-button-icon ids-button-text ids-search-button">
                <i class="ids-icon ids-icon-search">Search</i>
            </button>
        </div>
    </div>
</div>