<div class="ids2-top-navigation-example">
    <div class="ids2-top-navigation ids2-top-navigation-search">
        <div class="ids2-top-left-button">
            <i class="ids2-icon ids2-icon-arrow-left">Back</i>
        </div>
        <div class="ids2-text-field ids2-input-top-search">
            <input type="text" placeholder="검색어를 입력하세요." class="ids2-text-field-input">
            <button class="ids2-input-clear">
                <i class="ids2-icon ids2-icon-clear">Clear</i>
            </button>
            <button class="ids2-button ids2-button-icon ids2-top-search-button">
                <i class="ids2-icon ids2-icon-search">Search</i>
            </button>
        </div>
    </div>
</div>