<div class="ids2-table-example">
    <h3 class="ids2-h3">타이틀</h3>
    <table class="ids2-table ids2-table-sm">
        <colgroup>
            <col style="width: 33.33%;" />
            <col style="width: 33.33%;" />
            <col style="width: 33.33%;" />
        </colgroup>
        <thead>
        <tr>
            <th>조건</th>
            <th>적용조건</th>
            <th>우대금리</th>
        </tr>
        </thead>
        <tbody>
        <tr id="data1" class="ids2-row-expandable">
            <th class="ids2-cell-left">교차판매</th>
            <td class="ids2-cell-left">계약기간별 신규일(재예치일)
                로부터 만기일 전월까지 필요
                조건을 2가지 이상 충족한 경
                우에 해당</td>
            <td>연 0.1%P</td>
        </tr>
        <tr class="ids2-row-sub" data-parent-id="data1">
            <th class="ids2-cell-left">자동이체 입금실적</th>
            <td class="ids2-cell-left">3회 이상</td>
            <td>-</td>
        </tr>
        <tr class="ids2-row-sub" data-parent-id="data1">
            <th class="ids2-cell-left">급여이체실적</th>
            <td class="ids2-cell-left">3회 이상<br/>
                (인터넷뱅킹 실시분 포함)</td>
            <td>-</td>
        </tr>
        <tr class="ids2-row-expandable">
            <th class="ids2-cell-left">여신거래기업</th>
            <td class="ids2-cell-left">계약기간동안 당행 기업여신 보유 내역 있는 경우</td>
            <td>연 0.1%P</td>
        </tr>
        <tr class="ids2-row-expandable">
            <th class="ids2-cell-left">자동이체우대</th>
            <td class="ids2-cell-left">IBK평생주거래기업통장 가입(전환포함)</td>
            <td>연 0.2%P</td>
        </tr>
        </tbody>
    </table>
</div>