<div class="ids2-bottom-sheet-examples">

    <div class="ids2-skeletons">
        <div class="ids2-navigation-example">
            <i class="ids2-icon ids2-icon-menu">Menu</i>
        </div>
        <div class="ids2-skeleton-title">&nbsp;</div>
        <div class="ids2-skeleton-banner">&nbsp;</div>
        <div class="ids2-skeleton-title">&nbsp;</div>
        <div class="ids2-skeleton-list">
            <div class="ids2-skeleton-list-item">
                <div class="ids2-skeleton-circle">&nbsp;</div>
                <div class="ids2-skeleton-list-item-content">
                    <div class="ids2-skeleton-title">&nbsp;</div>
                    <div class="ids2-skeleton-subtext">&nbsp;</div>
                </div>
            </div>
            <div class="ids2-skeleton-list-item">
                <div class="ids2-skeleton-circle">&nbsp;</div>
                <div class="ids2-skeleton-list-item-content">
                    <div class="ids2-skeleton-title">&nbsp;</div>
                    <div class="ids2-skeleton-subtext">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</div>