<div class="ids-overflow-menu-example" style="height: 300px">
    <div class="ids-fab-menu ids-fab-menu-open">
        <div class="ids-fab-menu-list">
            <div class="ids-fab-menu-item">
                <div class="ids-fab-menu-text">메뉴명1</div>
                <div class="ids-fab-menu-icon">
                    <i class="ids-icon ids-icon-image">Image</i>
                </div>
            </div>
            <div class="ids-fab-menu-item">
                <div class="ids-fab-menu-text">메뉴명2</div>
                <div class="ids-fab-menu-icon">
                    <i class="ids-icon ids-icon-image">Image</i>
                </div>
            </div>
            <div class="ids-fab-menu-item">
                <div class="ids-fab-menu-text">메뉴명3</div>
                <div class="ids-fab-menu-icon">
                    <i class="ids-icon ids-icon-image">Image</i>
                </div>
            </div>
        </div>
        <div class="ids-fab-menu-toggle">
            <div class="ids-fab-menu-toggle-icon-wrap">
                <div class="ids-fab-menu-toggle-icon">Menu</div>
            </div>
        </div>
    </div>

    <div class="ids-dimmed"></div>
</div>