<div class="ids2-overflow-menu-example" style="height: 300px">
    <div class="ids2-fab-menu">
        <div class="ids2-fab-menu-list">
            <div class="ids2-fab-menu-item">
                <div class="ids2-fab-menu-text">메뉴명1</div>
                <div class="ids2-fab-menu-icon">
                    <i class="ids2-icon ids2-icon-image">Image</i>
                </div>
            </div>
            <div class="ids2-fab-menu-item">
                <div class="ids2-fab-menu-text">메뉴명2</div>
                <div class="ids2-fab-menu-icon">
                    <i class="ids2-icon ids2-icon-image">Image</i>
                </div>
            </div>
            <div class="ids2-fab-menu-item">
                <div class="ids2-fab-menu-text">메뉴명3</div>
                <div class="ids2-fab-menu-icon">
                    <i class="ids2-icon ids2-icon-image">Image</i>
                </div>
            </div>
        </div>
        <div class="ids2-fab-menu-toggle">
            <div class="ids2-fab-menu-toggle-icon">
                <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.9951 15.5352C17.2855 15.8256 17.2855 16.2965 16.9951 16.587C16.7046 16.8775 16.2337 16.8775 15.9432 16.587L9.03214 9.67591L2.12104 16.587C1.83059 16.8775 1.35967 16.8775 1.06922 16.587C0.778769 16.2965 0.77877 15.8256 1.06922 15.5352L7.98032 8.62409L1.06891 1.71269C0.778461 1.42223 0.778461 0.951316 1.06891 0.660863C1.35937 0.37041 1.83028 0.37041 2.12073 0.660863L9.03214 7.57227L15.9435 0.660863C16.234 0.37041 16.7049 0.37041 16.9954 0.660863C17.2858 0.951316 17.2858 1.42223 16.9954 1.71269L10.084 8.62409L16.9951 15.5352Z" fill="white"/>
                </svg>
            </div>
        </div>
    </div>
    <div class="ids2-backdrop ids2-backdrop-hide" style="display: none"></div>
</div>