<div class="ids2-text-field-example">
    <div class="ids2-exchange-container">
        <div class="ids2-dropdown">
            <label class="ids2-dropdown-label">타이틀</label>
            <div class="ids2-dropdown-container">
                <button class="ids2-dropdown-button" id="dropdownButton">통화선택</button>
            </div>
        </div>

        <div class="ids2-exchange-separator">
            <div class="ids2-text-field">
                <div class="ids2-text-field-container">
                    <input type="text"
                           class="ids2-text-field-input"
                           placeholder="123"
                    />
                </div>
            </div>
            <div class="ids2-text-field">
                <div class="ids2-text-field-container">
                    <input type="text"
                           class="ids2-text-field-input"
                           maxlength="2"
                           placeholder="00"
                    />
                </div>
            </div>
        </div>
    </div>
</div>