<div class="ids2-banner-examples">
    <div class="ids2-banner-examples-wrap">
        <div class="ids2-banner ids2-banner-medium">
            <div class="ids2-banner-content">
                <h2 class="ids2-h2 ids2-bold">
                    타이틀
                </h2>
                <span class="ids2-body2">
                    서브 텍스트를 노출합니다.
                </span>
            </div>
            <div class="ids2-banner-footer-label">
                <span class="ids2-label">AD</span>
            </div>
        </div>
    </div>
    <div class="ids2-banner-examples-wrap">
        <div class="ids2-banner ids2-banner-medium-with-button">
            <div class="ids2-banner-content">
                <h2 class="ids2-h1 ids2-bold">
                    타이틀
                </h2>
                <span class="ids2-h3">
                    서브 텍스트를 노출합니다.
                </span>
            </div>
            <div class="ids2-banner-footer-button">
                <button class="ids2-button ids2-button-tertiary ids2-button-sm">버튼 텍스트</button>
            </div>
        </div>
    </div>
</div>