<div class="ids2-banner-examples">
    <div class="ids2-banner-examples-wrap">
        <div class="ids2-banner ids2-banner-medium ids2-banner-h-sm">
            <button class="ids2-banner-close">
                <i class="ids2-icon ids2-icon-close">Close</i>
            </button>
            <div class="ids2-banner-content">
                <h3 class="ids2-banner-title">
                    타이틀
                </h3>
                <span class="ids2-banner-text">
                    서브 텍스트를 노출합니다.
                </span>
            </div>
            <div class="ids2-banner-footer-label">
                <span class="ids2-label-ad">AD</span>
            </div>
        </div>
        <div class="ids2-banner-examples-open-button" style="line-height: 140px; display: none;">
            배너 다시보기
        </div>
    </div>
    <div class="ids2-banner-examples-wrap">
        <div class="ids2-banner ids2-banner-medium ids2-banner-h-md">
            <button class="ids2-banner-close">
                <i class="ids2-icon ids2-icon-close">Close</i>
            </button>
            <div class="ids2-banner-content">
                <h3 class="ids2-banner-title">
                    타이틀
                </h3>
                <span class="ids2-banner-text">
                    서브 텍스트를 노출합니다.
                </span>
            </div>
            <div class="ids2-banner-footer-button">
                <button class="ids2-button ids2-button-tertiary ids2-button-sm">버튼 텍스트</button>
            </div>
        </div>
        <div class="ids2-banner-examples-open-button" style="line-height: 184px; display: none;">
            배너 다시보기
        </div>
    </div>
</div>