<div class="ids2-banner-examples">
    <div class="ids2-banner-examples-wrap">
        <div class="ids2-banner ids2-banner-medium ids2-banner-h-sm">
            <div class="ids2-banner-content">
                <h3 class="ids2-banner-title">
                    타이틀
                </h3>
                <span class="ids2-banner-text">
                    서브 텍스트를 노출합니다.
                </span>
            </div>
            <div class="ids2-banner-footer-label">
                <span class="ids2-label">AD</span>
            </div>
        </div>
    </div>
    <div class="ids2-banner-examples-wrap">
        <div class="ids2-banner ids2-banner-medium ids2-banner-h-md">
            <div class="ids2-banner-content">
                <h3 class="ids2-banner-title">
                    타이틀
                </h3>
                <span class="ids2-banner-text">
                    서브 텍스트를 노출합니다.
                </span>
            </div>
        </div>
    </div>
</div>