
.ids-banner.ids-banner-medium {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 24px 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='342' height='140' viewBox='0 0 342 140' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='342' height='140' fill='%23C5C8D3'/%3E%3Cpath d='M272.862 66.5454C274.156 66.5454 275.206 65.496 275.206 64.2016C275.206 62.9072 274.156 61.8579 272.862 61.8579C271.567 61.8579 270.518 62.9072 270.518 64.2016C270.518 65.496 271.567 66.5454 272.862 66.5454Z' fill='%23E1E3EA'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M270.583 49.1666C264.83 49.1666 260.167 53.8303 260.167 59.5833V80.4166C260.167 86.1696 264.83 90.8333 270.583 90.8333H291.417C297.169 90.8333 301.833 86.1696 301.833 80.4166V59.5833C301.833 53.8303 297.169 49.1666 291.417 49.1666H270.583ZM291.417 51.875H270.583C266.326 51.875 262.875 55.3261 262.875 59.5833V78.7654L268.705 73.3392C269.197 72.8819 269.949 72.8536 270.473 73.2726L275.044 76.9256L284.764 65.6405C285.013 65.3516 285.372 65.181 285.753 65.1706C286.135 65.1601 286.502 65.3109 286.767 65.5858L299.125 78.443V59.5833C299.125 55.3261 295.674 51.875 291.417 51.875ZM270.583 88.125C266.961 88.125 263.922 85.6265 263.096 82.2589L269.695 76.1177L274.373 79.8562C274.942 80.3109 275.769 80.234 276.245 79.682L285.845 68.5355L298.93 82.1482C298.144 85.5716 295.078 88.125 291.417 88.125H270.583Z' fill='%23E1E3EA'/%3E%3C/svg%3E%0A");
    background-position: right;
    background-color: #C5C8D3;
    border-radius: 16px;
    overflow: hidden;
    font-size: 14px;
    color: #454855;
}

.ids-banner.ids-banner-medium .ids-banner-close {
    position: absolute;
    top: 16px;
    right: 16px;
}

.ids-banner.ids-banner-medium .ids-banner-title {
    margin: 0 0 4px 0;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
}

.ids-banner.ids-banner-medium .ids-banner-text {
    font-size: 16px;
}

.ids-banner.ids-banner-medium .ids-banner-footer-label {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 11px 12px 0;
}

.ids-banner.ids-banner-medium .ids-banner-footer-button {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 0 20px 24px;
}

.ids-banner.ids-banner-medium.ids-banner-h-sm {
    height: 140px;
}

.ids-banner.ids-banner-medium.ids-banner-h-md {
    height: 184px;
    justify-content: flex-start;
}

.ids-banner.ids-banner-medium.ids-banner-h-md .ids-banner-title {
    font-size: 22px;
    line-height: 32px;
}

.ids-banner.ids-banner-medium.ids-banner-h-md .ids-banner-text {
    font-size: 18px;
    line-height: 26px;
}