@import "full/styles.css";

.ids-popup-examples {
    position: relative;
    width: 100%;
    height: 100%;
}

.ids-popup-examples-open-button {
    font-size: 18px;
    text-decoration: underline;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}

.ids-popup {
    width: calc(100% - 75px);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    z-index: 1001;
}

.ids-popup-hide {
    display: none;
}

.ids-popup-body {
    background: var(--ids-color-white);
    border-radius: var(--ids-radius-12);
    box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.24);
    text-align: center;
    overflow: hidden;
}

.ids-popup-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--ids-spacing-3);
    color: var(--ids-color-gray-700);

}

.ids-popup-title {
    padding: var(--ids-spacing-2-half);
    font-size: var(--ids-size-h3);
    line-height: var(--ids-line-h3-tight);
    font-weight: var(--ids-font-bold);
    margin-bottom: var(--ids-spacing-2-half);
    margin-left: var(--ids-spacing-quarter);
    text-align: left;
}

.ids-popup-buttons {
    display: flex;
    justify-content: space-between;
    padding: var(--ids-spacing-2-half);
}

/* 체크박스 */
.ids-popup-checkbox {
    display: flex;
    align-items: center;
    font-size: var(--ids-size-body4);
    color: var(--ids-color-white);
    margin-bottom: 14px;
    margin-left: 20px;
}

.ids-popup-checkbox input {
    margin-right: 6px;
}

/* 팝업 보이기/숨기기 */
.ids-popup-overlay.active {
    visibility: visible;
    opacity: 1;
}

.ids-popup-button-group {
    display: flex;
    gap: var(--ids-spacing-1);
    padding: 0 var(--ids-spacing-2-half) var(--ids-spacing-3);
}

.ids-popup-close {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    padding: 0
}