<div class="ids2-table-example">
    <h3 class="ids2-h3">타이틀</h3>
    <table class="ids2-table">
        <thead>
        <tr>
            <th>자동상환비율 (%)</th>
            <th>금리 자동 감면 (%p)</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>10~40</td>
            <td>0.2</td>
        </tr>
        <tr>
            <td>50~90</td>
            <td>0.3</td>
        </tr>
        <tr>
            <td>100</td>
            <td>0.5</td>
        </tr>
        </tbody>
    </table>
</div>