@import "primary/styles.css";
@import "secondary/styles.css";
@import "tertiary/styles.css";
@import "text/styles.css";
@import "fab/styles.css";
@import "icon/styles.css";

.ids2-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 8px;
    box-shadow: none;
    overflow:visible;
    cursor:pointer;
    box-sizing: border-box;
}

.ids2-button-group {
    padding: 10px 20px 24px;
    display: flex;
    gap: 8px;
}

.ids2-button-group-floating {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    background-color: #fff;
}


.ids2-button-examples {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.ids2-button.ids2-button-full-width {
    width: 100%;
}

/**
    Button Filled
 */

.ids2-button.ids2-button-fill {
    border-color: transparent;
    background-color: #4393F0;
    color: #fff;
}

.ids2-button.ids2-button-fill:active {
    background-color: #234EAA;
    border-color: transparent;
}

.ids2-button.ids2-button-fill:disabled {
    border-color: transparent;
    background-color: #D3D6DE;
    color: #737684;
}


/**
    Button Tint
 */

.ids2-button.ids2-button-tint {
    border-color: transparent;
    background-color: #E4F2FF;
    color: #235FD2;
}

.ids2-button.ids2-button-tint:active {
    border-color: transparent;
    background-color: #C1E0FC;
    color: #235FD2;
}

.ids2-button.ids2-button-tint:disabled {
    border-color: transparent;
    background-color: #E1E3EA;
    color: #737684;
}

.ids2-button-icon {
    font-size: 1px;
    color: transparent;
}

.ids2-button-icon-only {
    padding: 0;
    border-color: transparent;
    background-color: transparent;
    font-size: 1px;
    color: transparent;
}