<div class="ids2-slider-examples">
    <div class="ids2-slider-example">
        <div class="ids2-slider-vertical" id="verticalSlider">
            <!-- 트랙 -->
            <div class="ids2-slider-vertical-track">
                <div class="ids2-slider-vertical-track-range" id="sliderTrackRange"></div>
            </div>

            <!-- 핸들(드래그 대상) -->
            <div class="ids2-slider-vertical-handle" id="sliderHandle"></div>
            <!-- 툴팁(현재 값 표시) -->
            <div class="ids2-slider-vertical-tooltip" id="sliderTooltip" style="display: none">텍스트</div>

            <div class="ids2-slider-vertical-range-end">50</div>

            <div class="ids2-slider-vertical-range-start">0</div>
        </div>
    </div>
    <div class="ids2-slider-example">
        <div class="ids2-slider-horizontal" id="horizontalSlider">
            <!-- 트랙 -->
            <div class="ids2-slider-horizontal-track">
                <div class="ids2-slider-horizontal-track-range" id="horizontalSliderTrackRange"></div>
            </div>

            <!-- 핸들(드래그 대상) -->
            <div class="ids2-slider-horizontal-handle" id="horizontalSliderHandle"></div>
            <!-- 툴팁(현재 값 표시) -->
            <div class="ids2-slider-horizontal-tooltip" id="horizontalSliderTooltip" style="display: none">텍스트</div>

            <div class="ids2-slider-horizontal-range-end">50</div>

            <div class="ids2-slider-horizontal-range-start">0</div>
        </div>
    </div>
</div>