<div class="ids2-text-field-example">
    <div class="ids2-text-field ids2-text-field-line ids2-input-search">
        <div class="ids2-text-field-container">
            <input type="text" id="textField-input" placeholder="검색어를 입력하세요." class="ids2-text-field-input">
            <button class="ids2-input-clear">
                <i class="ids2-icon ids2-icon-clear">Clear</i>
            </button>
            <button class="ids2-button ids2-button-icon ids2-button-text ids2-search-button">
                <i class="ids2-icon ids2-icon-search">Search</i>
            </button>
        </div>
    </div>
</div>