<div class="ids2-text-field-examples">

    <div class="ids2-text-field-state-example">
        <div class="ids2-text-field">
            <label for="textField-input" class="ids2-text-field-label">
                <span>타이틀</span><span class="ids2-label-optional">선택</span>
            </label>
            <div class="ids2-text-field-container">
                <input type="text"
                       class="ids2-text-field-input"
                       id="textField-input"
                       maxlength="500"
                       placeholder="플레이스 홀더"
                />
            </div>
            <div class="ids2-text-field-functions">
                <div class="ids2-text-field-note">도움말메세지</div>
            </div>
        </div>
        <label>Enabled</label>
    </div>
    <div class="ids2-text-field-state-example">
        <div class="ids2-text-field ids2-text-field-focused">
            <label for="textField-input2" class="ids2-text-field-label">
                <span>타이틀</span><span class="ids2-label-optional">선택</span>
            </label>
            <div class="ids2-text-field-container">
                <input type="text"
                       class="ids2-text-field-input"
                       id="textField-input2"
                       maxlength="500"
                       placeholder="플레이스 홀더"
                />
            </div>
        </div>
        <label>Focused</label>
    </div>
    <div class="ids2-text-field-state-example">
        <div class="ids2-text-field">
            <label for="textField-input3" class="ids2-text-field-label">
                <span>타이틀</span><span class="ids2-label-optional">선택</span>
            </label>
            <div class="ids2-text-field-container">
                <input type="text"
                       class="ids2-text-field-input"
                       id="textField-input3"
                       maxlength="500"
                       placeholder="플레이스 홀더"
                       value="텍스트"
                       disabled
                />
                <button class="ids2-input-clear">
                    <i class="ids2-icon ids2-icon-clear">Clear</i>
                </button>
            </div>
            <div class="ids2-text-field-functions"></div>
        </div>
        <label>Disabled</label>
    </div>
    <div class="ids2-text-field-state-example">
        <div class="ids2-text-field ids2-text-field-filled">
            <label for="textField-input4" class="ids2-text-field-label">
                <span>타이틀</span><span class="ids2-label-optional">선택</span>
            </label>
            <div class="ids2-text-field-container">
                <input type="text"
                       class="ids2-text-field-input"
                       id="textField-input4"
                       maxlength="500"
                       placeholder="플레이스 홀더"
                       value="텍스트"
                />
                <button class="ids2-input-clear">
                    <i class="ids2-icon ids2-icon-clear">Clear</i>
                </button>
            </div>
            <div class="ids2-text-field-functions">
                <div class="ids2-text-field-note">도움말메세지</div>
                <div class="ids2-text-field-counter">
                    <span class="ids2-text-field-count">0</span> / <span class="ids2-text-field-maxlength">N</span>자
                </div>
            </div>
        </div>
        <label>Typing</label>
    </div>
    <div class="ids2-text-field-state-example">
        <div class="ids2-text-field">
            <label for="textField-input5" class="ids2-text-field-label">
                <span>타이틀</span><span class="ids2-label-optional">선택</span>
            </label>
            <div class="ids2-text-field-container">
                <input type="text"
                       class="ids2-text-field-input"
                       id="textField-input5"
                       maxlength="500"
                       placeholder="플레이스 홀더"
                       value="텍스트"
                />
            </div>
            <div class="ids2-text-field-functions"></div>
        </div>
        <label>Completed</label>
    </div>
    <div class="ids2-text-field-state-example">
        <div class="ids2-text-field ids2-text-field-error ids2-text-field-filled">
            <label for="textField-input6" class="ids2-text-field-label">
                <span>타이틀</span><span class="ids2-label-optional">선택</span>
            </label>
            <div class="ids2-text-field-container">
                <input type="text"
                       class="ids2-text-field-input"
                       id="textField-input6"
                       maxlength="500"
                       placeholder="플레이스 홀더"
                       value="텍스트"
                />
                <button class="ids2-input-clear">
                    <i class="ids2-icon ids2-icon-clear">Clear</i>
                </button>
            </div>
            <div class="ids2-text-field-functions">
                <div class="ids2-text-field-error-note">오류메세지</div>
                <div class="ids2-text-field-counter">
                    <span class="ids2-text-field-count">0</span> / <span class="ids2-text-field-maxlength">N</span>자
                </div>
            </div>
        </div>
        <label>Error</label>
    </div>
    <div class="ids2-text-field-state-example">
        <div class="ids2-text-field ids2-text-field-success ids2-text-field-filled">
            <label for="textField-input7" class="ids2-text-field-label">
                <span>타이틀</span><span class="ids2-label-optional">선택</span>
            </label>
            <div class="ids2-text-field-container">
                <input type="text"
                       class="ids2-text-field-input"
                       id="textField-input7"
                       maxlength="500"
                       placeholder="플레이스 홀더"
                       value="텍스트"
                />
                <div class="ids2-input-success">
                    <i class="ids2-icon ids2-icon-success">Clear</i>
                </div>
            </div>
            <div class="ids2-text-field-functions">
                <div class="ids2-text-field-success-note">성공메시지</div>
                <div class="ids2-text-field-counter">
                    <span class="ids2-text-field-count">0</span> / <span class="ids2-text-field-maxlength">N</span>자
                </div>
            </div>
        </div>
        <label>Success</label>
    </div>
    <div class="ids2-text-field-state-example">
        <div class="ids2-text-field ids2-text-field-filled">
            <label for="textField-input8" class="ids2-text-field-label">
                <span>타이틀</span><span class="ids2-label-optional">선택</span>
            </label>
            <div class="ids2-text-field-container">
                <input type="text"
                       class="ids2-text-field-input"
                       id="textField-input8"
                       maxlength="500"
                       placeholder="플레이스 홀더"
                       value="텍스트"
                       readonly
                />
            </div>
            <div class="ids2-text-field-functions"></div>
        </div>
        <label>ReadOnly</label>
    </div>
</div>