<div class="ids-bottom-sheet-examples">

    <div class="ids-skeletons">
        <div class="ids-navigation-example">
            <i class="ids-icon ids-icon-menu">Menu</i>
        </div>
        <div class="ids-skeleton-title">&nbsp;</div>
        <div class="ids-skeleton-banner">&nbsp;</div>
        <div class="ids-skeleton-title">&nbsp;</div>
        <div class="ids-skeleton-list">
            <div class="ids-skeleton-list-item">
                <div class="ids-skeleton-circle">&nbsp;</div>
                <div class="ids-skeleton-list-item-content">
                    <div class="ids-skeleton-title">&nbsp;</div>
                    <div class="ids-skeleton-subtext">&nbsp;</div>
                </div>
            </div>
            <div class="ids-skeleton-list-item">
                <div class="ids-skeleton-circle">&nbsp;</div>
                <div class="ids-skeleton-list-item-content">
                    <div class="ids-skeleton-title">&nbsp;</div>
                    <div class="ids-skeleton-subtext">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>

    <div class="ids-drawer ids-drawer-modal">
        <div class="ids-drawer-navigation">
            <div class="ids-drawer-navigation-left">
                <h3 class="ids-h3 ids-semibold">타이틀</h3>
            </div>
            <div class="ids-drawer-navigation-right">
                <div class="ids-drawer-close">
                    <i class="ids-icon ids-icon-close">Close</i>
                </div>
            </div>
        </div>
        <div class="ids-drawer-content">
            <div style="height: 200px"></div>
        </div>
    </div>

    <div class="ids-backdrop"></div>
</div>