<div class="ids2-bottom-sheet-examples">

    <div class="ids2-skeletons">
        <div class="ids2-navigation-example">
            <i class="ids2-icon ids2-icon-menu">Menu</i>
        </div>
        <div class="ids2-skeleton-title">&nbsp;</div>
        <div class="ids2-skeleton-banner">&nbsp;</div>
        <div class="ids2-skeleton-title">&nbsp;</div>
        <div class="ids2-skeleton-list">
            <div class="ids2-skeleton-list-item">
                <div class="ids2-skeleton-circle">&nbsp;</div>
                <div class="ids2-skeleton-list-item-content">
                    <div class="ids2-skeleton-title">&nbsp;</div>
                    <div class="ids2-skeleton-subtext">&nbsp;</div>
                </div>
            </div>
            <div class="ids2-skeleton-list-item">
                <div class="ids2-skeleton-circle">&nbsp;</div>
                <div class="ids2-skeleton-list-item-content">
                    <div class="ids2-skeleton-title">&nbsp;</div>
                    <div class="ids2-skeleton-subtext">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>

    <div class="ids2-drawer ids2-drawer-modal">
        <div class="ids2-drawer-navigation">
            <div class="ids2-drawer-navigation-left">
                <h3 class="ids2-h3 ids2-semibold">타이틀</h3>
            </div>
            <div class="ids2-drawer-navigation-right">
                <div class="ids2-drawer-close">
                    <i class="ids2-icon ids2-icon-close">Close</i>
                </div>
            </div>
        </div>
        <div class="ids2-drawer-content">
            <div style="height: 200px"></div>
        </div>
    </div>

    <div class="ids2-backdrop"></div>
</div>