<div class="ids2-radio-example">
    <div class="ids2-radio-group">
        <div class="ids2-radio">
            <label>
                <input type="radio" name="radio" class="ids2-radio-input">
                레이블
            </label>
        </div>

        <div class="ids2-radio">
            <label>
                <input type="radio" name="radio" class="ids2-radio-input" checked>
                레이블
            </label>
        </div>
    </div>
    <div class="ids2-radio-group">
        <div class="ids2-radio ids2-radio-check">
            <label>
                <input type="radio" name="radio" class="ids2-radio-input">
                레이블
            </label>
        </div>

        <div class="ids2-radio ids2-radio-check">
            <label>
                <input type="radio" name="radio" class="ids2-radio-input" checked>
                레이블
            </label>
        </div>
    </div>
</div>