<div class="ids-badge-examples">
    <div class="ids-badge-example">
        <h3 class="ids-h3">
            레이블
            <span class="ids-badge-count">99</span>
        </h3>
    </div>
    <div class="ids-badge-example">
        <div class="ids-icon-navigation">
            <div class="ids-icon-navigation-icon">
                <i class="ids-icon ids-icon-service-loan">Roan</i>
            </div>
            <span class="ids-icon-navigation-label">
                레이블
            </span>
            <span class="ids-badge-count-label">99+</span>
        </div>
    </div>
</div>