<div class="ids-top-navigation-example">
    <div class="ids-top-navigation">
        <div class="ids-top-label">
            <i class="ids-icon ids-icon-image">Image</i>
            <div class="ids-top-label-text">타이틀</div>
        </div>
        <div class="ids-icons">
            <i class="ids-icon ids-icon-image">Image</i>
            <i class="ids-icon ids-icon-image">Image</i>
            <i class="ids-icon ids-icon-image">Image</i>
            <i class="ids-icon ids-icon-image">Image</i>
        </div>
    </div>
    <div class="ids-top-navigation">
        <div class="ids-top-label">
            <div class="ids-label ids-label-lg ids-label-line ids-label-green">개인사업자카드</div>
        </div>
        <div class="ids-icons">
            <i class="ids-icon ids-icon-image">Image</i>
            <i class="ids-icon ids-icon-image">Image</i>
            <i class="ids-icon ids-icon-image">Image</i>
            <i class="ids-icon ids-icon-image">Image</i>
        </div>
    </div>
</div>