<div class="ids2-list-example">
    <div class="ids2-top-navigation">
        <div class="ids2-top-label">
            <i class="ids2-icon ids2-icon-image">Image</i>
            <div class="ids2-top-label-text">타이틀</div>
        </div>
        <div class="ids2-icons">
            <i class="ids2-icon ids2-icon-image">Image</i>
            <i class="ids2-icon ids2-icon-image">Image</i>
            <i class="ids2-icon ids2-icon-image">Image</i>
            <i class="ids2-icon ids2-icon-image">Image</i>
        </div>
    </div>
</div>