<div class="ids2-banner-examples">
    <div class="ids2-banner-examples-wrap">
        <div class="ids2-banner ids2-banner-large">
            <div class="ids2-banner-content">
                <h3 class="ids2-h2 ids2-bold">
                    타이틀<br/>
                    최대 2줄
                </h3>
                <span class="ids2-body4">
                    서브 텍스트를 노출합니다. <br/>
                    최대 2줄 작성 가능합니다.
                </span>
            </div>
            <div class="ids2-banner-footer-button">
                <button class="ids2-button ids2-button-tertiary ids2-button-sm">버튼 텍스트</button>
            </div>
        </div>
    </div>
    <div class="ids2-banner-examples-wrap">
        <div class="ids2-banner ids2-banner-large-lg">
            <div class="ids2-banner-content">
                <h3 class="ids2-title2 ids2-bold">
                    타이틀 <br/>
                    최대 2줄
                </h3>
                <span class="ids2-h3">
                    서브 텍스트를 노출합니다. <br/>
                    최대 2줄 작성 가능합니다.
                </span>
            </div>
            <div class="ids2-banner-footer-button">
                <button class="ids2-button ids2-button-tertiary ids2-button-sm">버튼 텍스트</button>
            </div>
        </div>
    </div>
</div>