
.ids2-banner.ids2-banner-large {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 24px 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='342' height='234' viewBox='0 0 342 234' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='373.907' height='234' transform='translate(-15.9531)' fill='%23C5C8D3'/%3E%3Cpath d='M239.771 157.091C242.36 157.091 244.458 154.992 244.458 152.403C244.458 149.814 242.36 147.716 239.771 147.716C237.182 147.716 235.083 149.814 235.083 152.403C235.083 154.992 237.182 157.091 239.771 157.091Z' fill='%23E1E3EA'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M235.214 122.333C223.708 122.333 214.38 131.661 214.38 143.167V184.833C214.38 196.339 223.708 205.667 235.214 205.667H276.88C288.386 205.667 297.714 196.339 297.714 184.833V143.167C297.714 131.661 288.386 122.333 276.88 122.333H235.214ZM276.88 127.75H235.214C226.699 127.75 219.797 134.652 219.797 143.167V181.531L231.458 170.678C232.441 169.764 233.945 169.707 234.994 170.545L244.136 177.851L263.576 155.281C264.074 154.703 264.792 154.362 265.554 154.341C266.317 154.32 267.052 154.622 267.581 155.172L292.297 180.886V143.167C292.297 134.652 285.395 127.75 276.88 127.75ZM235.214 200.25C227.969 200.25 221.892 195.253 220.24 188.518L233.438 176.236L242.794 183.712C243.932 184.622 245.586 184.468 246.537 183.364L265.738 161.071L291.907 188.296C290.335 195.143 284.204 200.25 276.88 200.25H235.214Z' fill='%23E1E3EA'/%3E%3C/svg%3E%0A");
    background-position: right bottom;
    background-color: #C5C8D3;
    border-radius: 16px;
    overflow: hidden;
    font-size: 14px;
    color: #454855;
}

.ids2-banner.ids2-banner-large .ids2-banner-close {
    position: absolute;
    top: 16px;
    right: 16px;
}

.ids2-banner.ids2-banner-large .ids2-banner-title {
    margin: 0 0 4px 0;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
}

.ids2-banner.ids2-banner-large .ids2-banner-text {
    margin: 0 0 8px 0;
    font-size: 14px;
    line-height: 20px;
}

.ids2-banner.ids2-banner-large .ids2-banner-footer-label {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 11px 12px 0;
}

.ids2-banner.ids2-banner-large .ids2-banner-footer-button {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 0 20px 24px;
}

.ids2-banner.ids2-banner-large.ids2-banner-h-sm {
    height: 234px;
}

.ids2-banner.ids2-banner-large.ids2-banner-h-lg {
    padding: 32px 32px;
    height: 358px;
}

.ids2-banner.ids2-banner-large.ids2-banner-h-lg .ids2-banner-title {
    font-size: 28px;
    line-height: 40px;
}

.ids2-banner.ids2-banner-large.ids2-banner-h-lg .ids2-banner-text {
    font-size: 18px;
    line-height: 26px;
}