<div class="ids2-toggle-switch-examples">
    <div>
        <label class="ids2-toggle ids2-toggle-black">
            <input type="checkbox" class="ids2-toggle-input" />
            <span class="ids2-toggle-slider">
                <span class="ids2-toggle-inner-label">레이블</span>
            </span>
        </label>
    </div>

    <div>
        <label class="ids2-toggle ids2-toggle-onoff">
            <span class="ids2-toggle-inner-label">레이블</span>
            <input type="checkbox" class="ids2-toggle-input" />
            <span class="ids2-toggle-slider"></span>
        </label>
    </div>

    <div>
        <label class="ids2-toggle ids2-toggle-with-label">
            <input type="checkbox" class="ids2-toggle-input" />
            <span class="ids2-toggle-slider">
                <span class="ids2-toggle-with-label-container">
                    <span class="ids2-toggle-with-label-off">레이블1</span>
                    <span class="ids2-toggle-with-label-on">레이블2</span>
                </span>
            </span>
        </label>
    </div>
</div>