<div class="ids-toggle-switch-examples">
    <div>
        <label class="ids-toggle ids-toggle-black">
            <input type="checkbox" class="ids-toggle-input" />
            <span class="ids-toggle-slider">
                <span class="ids-toggle-inner-label">레이블</span>
            </span>
        </label>
    </div>

    <div>
        <label class="ids-toggle ids-toggle-onoff">
            <span class="ids-toggle-inner-label">레이블</span>
            <input type="checkbox" class="ids-toggle-input" />
            <span class="ids-toggle-slider"></span>
        </label>
    </div>
</div>