<div class="ids-accordion-examples">
    <div class="ids-accordion">
        <div class="ids-accordion-item">
            <div class="ids-accordion-head ids-px-0">
                <div class="ids-accordion-summary ids-py-3">
                    <div class="ids-accordion-title">
                        <h3 class="ids-h3">타이틀</h3>
                    </div>
                    <div class="ids-body4 ids-text-gray-500">서브 텍스트</div>
                </div>
                <div class="ids-arrow">
                    <i class="ids-icon ids-icon-expand">Expand</i>
                </div>
            </div>
            <div class="ids-divider ids-my-0"></div>
            <div class="ids-accordion-details" style="height: 0;">
                <div class="ids-pt-2 ids-body2">
                    상세 내용을 노출합니다.
                    <div class="ids-sub-content">
                        <div class="ids-mb-1">
                            <span class="ids-label ids-label-line">Label</span>
                        </div>
                        텍스트를 노출합니다.<br/>
                        텍스트를 노출합니다.
                    </div>
                </div>
            </div>
        </div>
        <div class="ids-accordion-item">
            <div class="ids-accordion-head ids-px-0">
                <div class="ids-accordion-summary ids-py-3">
                    <div class="ids-accordion-title">
                        <h3 class="ids-h3">타이틀</h3>
                    </div>
                    <div class="ids-body4 ids-text-gray-500">서브 텍스트</div>
                </div>
                <div class="ids-arrow">
                    <i class="ids-icon ids-icon-expand">Expand</i>
                </div>
            </div>
            <div class="ids-divider ids-my-0"></div>
            <div class="ids-accordion-details" style="height: 0;">
                <div class="ids-pt-2 ids-body2">
                    상세 내용을 노출합니다.
                    <div class="ids-sub-content">
                        <div class="ids-mb-1">
                            <span class="ids-label ids-label-line">Label</span>
                        </div>
                        텍스트를 노출합니다.<br/>
                        텍스트를 노출합니다.
                    </div>
                </div>
            </div>
        </div>
        <div class="ids-accordion-item">
            <div class="ids-accordion-head ids-px-0">
                <div class="ids-accordion-summary ids-py-3">
                    <div class="ids-accordion-title">
                        <h3 class="ids-h3">타이틀</h3>
                    </div>
                    <div class="ids-body4 ids-text-gray-500">서브 텍스트</div>
                </div>
                <div class="ids-arrow">
                    <i class="ids-icon ids-icon-expand">Expand</i>
                </div>
            </div>
            <div class="ids-divider ids-my-0"></div>
            <div class="ids-accordion-details" style="height: 0;">
                <div class="ids-pt-2 ids-body2">
                    상세 내용을 노출합니다.
                    <div class="ids-sub-content">
                        <div class="ids-mb-1">
                            <span class="ids-label ids-label-line">Label</span>
                        </div>
                        텍스트를 노출합니다.<br/>
                        텍스트를 노출합니다.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>