<div class="ids2-accordion">
    <div class="ids2-accordion-item">
        <div class="ids2-accordion-summary ids2-py-3">
            <div class="ids2-title">
                <h3 class="ids2-h3">타이틀</h3>
            </div>
            <div class="ids2-body4 ids2-text-gray-500">서브 텍스트</div>
            <div class="ids2-arrow">
                <i class="ids2-icon ids2-icon-expand">Expand</i>
            </div>
        </div>
        <div class="ids2-divider ids2-my-0"></div>
        <div class="ids2-accordion-details" style="height: 0;">
            <div class="ids2-pt-2 ids2-body2">
                상세 내용을 노출합니다.
                <div class="ids2-sub-content">
                    <div class="ids2-mb-1">
                        <span class="ids2-label ids2-label-line">Label</span>
                    </div>
                    텍스트를 노출합니다.<br/>
                    텍스트를 노출합니다.
                </div>
            </div>
        </div>
    </div>
    <div class="ids2-accordion-item">
        <div class="ids2-accordion-summary ids2-py-3">
            <div class="ids2-title">
                <h3 class="ids2-h3">타이틀</h3>
            </div>
            <div class="ids2-body4 ids2-text-gray-500">서브 텍스트</div>
            <div class="ids2-arrow">
                <i class="ids2-icon ids2-icon-expand">Expand</i>
            </div>
        </div>
        <div class="ids2-divider ids2-my-0"></div>
        <div class="ids2-accordion-details" style="height: 0;">
            <div class="ids2-pt-2 ids2-body2">
                상세 내용을 노출합니다.
                <div class="ids2-sub-content">
                    <div class="ids2-mb-1">
                        <span class="ids2-label ids2-label-line">Label</span>
                    </div>
                    텍스트를 노출합니다.<br/>
                    텍스트를 노출합니다.
                </div>
            </div>
        </div>
    </div>
    <div class="ids2-accordion-item">
        <div class="ids2-accordion-summary ids2-py-3">
            <div class="ids2-title">
                <h3 class="ids2-h3">타이틀</h3>
            </div>
            <div class="ids2-body4 ids2-text-gray-500">서브 텍스트</div>
            <div class="ids2-arrow">
                <i class="ids2-icon ids2-icon-expand">Expand</i>
            </div>
        </div>
        <div class="ids2-divider ids2-my-0"></div>
        <div class="ids2-accordion-details" style="height: 0;">
            <div class="ids2-pt-2 ids2-body2">
                상세 내용을 노출합니다.
                <div class="ids2-sub-content">
                    <div class="ids2-mb-1">
                        <span class="ids2-label ids2-label-line">Label</span>
                    </div>
                    텍스트를 노출합니다.<br/>
                    텍스트를 노출합니다.
                </div>
            </div>
        </div>
    </div>
</div>