<div class="ids2-accordion-list">
    <div class="ids2-accordion-item">
        <div class="ids2-accordion-summary">
            <div class="ids2-accordion-summary-wrap">
                <div class="ids2-title">
                    <div class="ids2-title-wrap">
                        <h3 class="ids2-h3">타이틀을 입력해주세요.</h3>
                    </div>
                </div>
                <div class="ids2-subtext">2025-01-01</div>
            </div>
            <div class="ids2-arrow">
                <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.433533 0.933533C0.745953 0.621114 1.25248 0.621114 1.5649 0.933533L9.99922 9.36785L18.4335 0.933533C18.746 0.621114 19.2525 0.621114 19.5649 0.933533C19.8773 1.24595 19.8773 1.75248 19.5649 2.0649L10.5649 11.0649C10.2525 11.3773 9.74595 11.3773 9.43353 11.0649L0.433533 2.0649C0.121114 1.75248 0.121114 1.24595 0.433533 0.933533Z" fill="#101116"/>
                </svg>
            </div>
        </div>
        <div class="ids2-accordion-details">
            <div class="ids2-accordion-details-wrap">
                <div class="ids2-text">
                    상세 내용을 입력해주세요.
                </div>
                <div class="ids2-sub-content">
                    보내주신 제안 감사 드립니다.<br/>
                    내용을 신중히 검토하여 더 나은 서비스를
                    제공하는 기업뱅킹이 되도록 노력하겠습니다.
                </div>
            </div>
        </div>
    </div>
</div>