.ids2-accordion-list {
    width: 100%;
    min-width: 320px;
}
.ids2-accordion-list .ids2-accordion-item {
    padding: 14px 24px;
    transition: max-height 1s  ease-in-out;
}
.ids2-accordion-list .ids2-accordion-summary {
    padding: 24px 0;
    position: relative;
    cursor: pointer;
    padding-right: 40px;
    transition: background 0.3s ease-in;
    border-bottom: 1px solid #E1E3EAB2;
}
.ids2-accordion-list .ids2-arrow {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    margin-top: -9px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: right;
    transition: transform 0.3s cubic-bezier(.7,.2,.9,.6);
}
.ids2-accordion-list .ids2-accordion-item[open] .ids2-arrow {
    transform: rotate(-180deg);
}
.ids2-accordion-list .ids2-accordion-details {
    height: 0;
    overflow: hidden;
    box-sizing: border-box;
    transition: height 0.3s cubic-bezier(.7,.5,.6,.9);
}
.ids2-accordion-list .ids2-accordion-details-wrap {
}

.ids2-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ids2-title-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ids2-sub-content {
    margin-top: var(--ids2-spacing-2);
    padding: 20px 16px;
    background: #f3f4f7;
    border-radius: 12px;
}

.ids2-sub-content-label-container {
    margin-bottom: 8px;
}