<div class="ids2-button-examples">
    <div class="ids2-button-example">
        <h3 class="ids2-h3">Height 40</h3>
        <div class="ids2-button-group">
            <button class="ids2-button ids2-button-tertiary">
                <span class="ids2-button-label">레이블</span>
                <i class="ids2-icon ids2-icon-image ids2-icon-xs">Image</i>
            </button>
        </div>
    </div>

    <div class="ids2-button-example">
        <h3 class="ids2-h3">Height 32 (flexible)</h3>
        <div class="ids2-button-group" style="width: 279px;">
            <button class="ids2-button ids2-button-tertiary ids2-button-square ids2-button-sm ids2-button-full-width" >
                <span class="ids2-button-label">레이블</span>
                <i class="ids2-icon ids2-icon-image ids2-icon-xs">Image</i>
            </button>
        </div>
    </div>
    <div class="ids2-button-example">
        <h3 class="ids2-h3">Height 32</h3>
        <div class="ids2-button-group">
            <button class="ids2-button ids2-button-tertiary ids2-button-sm">
                <i class="ids2-icon ids2-icon-image ids2-icon-xs">Image</i>
                <span class="ids2-button-label">레이블</span>
                <i class="ids2-icon ids2-icon-image ids2-icon-xs">Image</i>
            </button>
        </div>
    </div>

    <div class="ids2-button-example">
        <h3 class="ids2-h3">Height 24</h3>
        <div class="ids2-button-group">
            <button class="ids2-button ids2-button-tertiary ids2-button-xs">
                <span class="ids2-button-label">레이블</span>
                <i class="ids2-icon ids2-icon-image ids2-icon-xxs">Image</i>
            </button>
        </div>
    </div>
</div>