<div class="ids2-button-examples">
    <h3 class="ids2-h3">Height 40</h3>
    <div class="ids2-button-group">
        <button class="ids2-button ids2-button-tertiary">확인</button>
        <button class="ids2-button ids2-button-tertiary" disabled>확인</button>
    </div>

    <h3 class="ids2-h3">Height 32</h3>
    <div class="ids2-button-group">
        <button class="ids2-button ids2-button-tertiary ids2-button-sm">확인</button>
        <button class="ids2-button ids2-button-tertiary ids2-button-sm" disabled>확인</button>
    </div>
    <div class="ids2-button-group">
        <button class="ids2-button ids2-button-tertiary ids2-button-square ids2-button-sm">확인</button>
        <button class="ids2-button ids2-button-tertiary ids2-button-square ids2-button-sm" disabled>확인</button>
    </div>

    <h3 class="ids2-h3">Height 24</h3>
    <div class="ids2-button-group">
        <button class="ids2-button ids2-button-tertiary ids2-button-xs">확인</button>
        <button class="ids2-button ids2-button-tertiary ids2-button-xs" disabled>확인</button>
    </div>
    <div class="ids2-button-group">
        <button class="ids2-button ids2-button-tertiary ids2-button-square ids2-button-xs">확인</button>
        <button class="ids2-button ids2-button-tertiary ids2-button-square ids2-button-xs" disabled>확인</button>
    </div>
</div>