<div class="ids-button-examples">
    <div class="ids-button-example">
        <h3 class="ids-h3">Height 40</h3>
        <div class="ids-button-group">
            <button class="ids-button ids-button-tertiary">
                <span class="ids-button-label">레이블</span>
                <i class="ids-icon ids-icon-image ids-icon-sm">Image</i>
            </button>
        </div>
    </div>

    <div class="ids-button-example">
        <h3 class="ids-h3">Height 32 (flexible)</h3>
        <div class="ids-button-group" style="width: 279px;">
            <button class="ids-button ids-button-tertiary ids-button-square ids-button-sm ids-button-full-width" >
                <span class="ids-button-label">레이블</span>
                <i class="ids-icon ids-icon-image ids-icon-sm">Image</i>
            </button>
        </div>
    </div>
    <div class="ids-button-example">
        <h3 class="ids-h3">Height 32</h3>
        <div class="ids-button-group">
            <button class="ids-button ids-button-tertiary ids-button-sm">
                <i class="ids-icon ids-icon-image ids-icon-sm">Image</i>
                <span class="ids-button-label">레이블</span>
                <i class="ids-icon ids-icon-image ids-icon-sm">Image</i>
            </button>
        </div>
    </div>

    <div class="ids-button-example">
        <h3 class="ids-h3">Height 24</h3>
        <div class="ids-button-group">
            <button class="ids-button ids-button-tertiary ids-button-xs">
                <span class="ids-button-label">레이블</span>
                <i class="ids-icon ids-icon-image ids-icon-xs">Image</i>
            </button>
        </div>
    </div>
</div>