/**
    Button Primary Default
 */
.ids-button-tertiary {
    height: 40px;

    background-color: var(--ids-color-white);
    border: var(--ids-border-1-500);
    border-radius: var(--ids-radius-full);
    padding: 0 var(--ids-spacing-2-half);

    font-size: var(--ids-size-body2);
    font-weight: var(--ids-font-medium);
    line-height: var(--ids-line-body2);
    color: var(--ids-color-gray-800);
    gap: var(--ids-spacing-half);
}

.ids-button-tertiary:active {
    background-color: var(--ids-color-gray-150);
    border-color: var(--ids-color-gray-200);
}

.ids-button-tertiary:disabled {
    background-color: var(--ids-color-white);
    border-color: var(--ids-color-gray-200);
    color: var(--ids-color-gray-500);
}

.ids-button.ids-button-tertiary.ids-button-sm {
    height: 32px;
    font-size: var(--ids-size-body4);
    padding: 0 var(--ids-spacing-1-half);
    gap: var(--ids-spacing-half);
}

.ids-button.ids-button-tertiary.ids-button-xs {
    height: 24px;
    font-size: var(--ids-size-caption);
    padding: 0 var(--ids-spacing-1);
    gap: var(--ids-spacing-quarter);
}

.ids-button.ids-button-tertiary.ids-button-square {
    border-radius: var(--ids-radius-6);
}