@import "./main/styles.css";
@import "./transaction/styles.css";
@import "./list/styles.css";

.ids-account-card-examples {
    min-width: 327px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.ids-account-card {

}

.ids-account-card .ids-account-card-total {
    padding: 24px;
}

.ids-account-card .ids-account-card-buttons {
    display: flex;
    gap: 8px;
    margin-top: 40px;
}

.ids-account-card .ids-account-card-title {
    color: #5A5E6C;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ids-account-card .ids-account-type {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: #5A5E6C;
}

.ids-account-card .ids-account-name {
    display: inline-block;
    position: relative;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.ids-account-card .ids-account-card-header .ids-account-type + .ids-account-name {
    margin-left: 8px;
    padding-left: 9px;
}

.ids-account-card .ids-account-card-detail-header .ids-account-type + .ids-account-name  {
    margin-left: 4px;
    padding-left: 5px;
}

.ids-account-name-edit {
    cursor: pointer;
    width: 18px;
    height: 18px;
    margin-left: 4px;
}

.ids-account-card .ids-account-type + .ids-account-name:before {
    content: ' ';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 1px;
    height: 12px;
    background-color: #979BAA;
    z-index: 1;
}

.ids-account-card .ids-account-card-number {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #101116;
}

.ids-account-card .ids-account-card-detail {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.ids-account-card .ids-account-card-detail-label {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    color: #5A5E6C;
}

.ids-account-card .ids-account-card-balance {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.ids-account-card .ids-account-card-balance-number {
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
}

.ids-account-card .ids-account-card-balance-number-sm {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}

.ids-account-card .ids-account-card-note {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    color: #5A5E6C;
}

.ids-account-card .ids-account-card-note .ids-account-card-rate {
    position: relative;
    font-weight: 600;
    color: #C85000;
    margin-left: 4px;
    padding-left: 5px;
}

.ids-account-card .ids-account-card-note .ids-account-card-rate:before {
    content: ' ';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 1px;
    height: 12px;
    background-color: #979BAA;
    z-index: 1;
}

.ids-account-card .ids-account-card-balance-won {
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
}

.ids-account-loan-date {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    margin-top: 5px;
}

.ids-loan-date-end {
    margin-left: 4px;
    padding-left: 5px;
    position: relative;
}

.ids-loan-date-end:before {
    content: ' ';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 1px;
    height: 12px;
    background-color: #979BAA;
    z-index: 1;
}

.ids-account-card .ids-account-card-footer {
    margin-top: 16px;
    text-align: center;
}

.ids-account-card .ids-account-card-limit-lift {
    font-size: 14px;
    line-height: 18px;
    color: #454855;
    cursor: pointer;
}