<div class="ids2-popup-layer-example">
    <div class="ids2-popup-overlay">
        <div class="ids2-popup-container">
            <div class="ids2-popup-checkbox">
                <input type="checkbox" id="hide-for-7-days">
                <label for="hide-for-7-days">7일 동안 보이지 않기</label>
            </div>
            <div class="ids2-popup">
                <div class="ids2-popup-title">타이틀</div>
                <div class="ids2-popup-button-group">
                    <button class="ids2-button ids2-button-secondary">취소</button>
                    <button class="ids2-button ids2-button-secondary ids2-button-fill">확인</button>
                </div>
            </div>
        </div>
    </div>
</div>