<div class="ids-popup-layer-example">

    <div class="ids-popup">
        <div class="ids-popup-checkbox">
            <div class="ids-checkbox ids-checkbox-sm">
                <label>
                    <input type="checkbox" name="checkbox">
                    <span class="ids-input-label-text">7일 동안 보이지 않기</span>
                </label>
            </div>
        </div>
        <div class="ids-popup-body">
            <div class="ids-popup-title">타이틀</div>
            <div class="ids-popup-content" style="height: 154px;">

            </div>
            <div class="ids-popup-button-group">
                <button class="ids-button ids-button-secondary ids-button-full-width">취소</button>
                <button class="ids-button ids-button-secondary ids-button-full-width ids-button-fill">
                    <span class="ids-bold">확인</span>
                </button>
            </div>
        </div>
    </div>
    <div class="ids-backdrop"></div>

    <div class="ids-popup-examples-open-button" style="line-height: 400px;">
        팝업 다시보기
    </div>
</div>