<div class="ids2-popup-layer-example">

    <div class="ids2-popup">
        <div class="ids2-popup-checkbox">
            <div class="ids2-checkbox ids2-checkbox-sm">
                <label>
                    <input type="checkbox" name="checkbox">
                    <span class="ids2-input-label-text">7일 동안 보이지 않기</span>
                </label>
            </div>
        </div>
        <div class="ids2-popup-body">
            <div class="ids2-popup-title">타이틀</div>
            <div class="ids2-popup-content" style="height: 154px;">

            </div>
            <div class="ids2-popup-button-group">
                <button class="ids2-button ids2-button-secondary">취소</button>
                <button class="ids2-button ids2-button-secondary ids2-button-fill">
                    <span class="ids2-bold">확인</span>
                </button>
            </div>
        </div>
    </div>
    <div class="ids2-backdrop"></div>

    <div class="ids2-popup-examples-open-button" style="line-height: 400px;">
        팝업 다시보기
    </div>
</div>