<div class="ids2-radio-examples">
    <div class="ids2-radio-group">
        <label class="ids2-radio-box">
            <span class="ids2-radio-box-label">
                <input type="radio" name="radiobox" class="ids2-radio-box-input" checked />
                텍스트
            </span>
        </label>
        <label class="ids2-radio-box">
            <span class="ids2-radio-box-label">
                <input type="radio" name="radiobox" class="ids2-radio-box-input" />
                텍스트
            </span>
        </label>
    </div>
    <div class="ids2-radio-group">
        <label class="ids2-radio-box ids2-radio-box-lg">
            <span class="ids2-radio-box-content">
                <input type="radio" name="radiobox2" class="ids2-radio-box-input" checked />
                <span class="ids2-radio-box-header">텍스트를 노출합니다</span>
                <span class="ids2-radio-box-title">타이틀</span>
                <span class="ids2-radio-box-text">텍스트를 노출합니다</span>
                <span class="ids2-radio-box-text">텍스트를 노출합니다</span>
            </span>
        </label>
        <label class="ids2-radio-box ids2-radio-box-lg">
            <span class="ids2-radio-box-content">
                <input type="radio" name="radiobox2" class="ids2-radio-box-input" />
                <span class="ids2-radio-box-header">텍스트를 노출합니다</span>
                <span class="ids2-radio-box-title">타이틀</span>
                <span class="ids2-radio-box-text">텍스트를 노출합니다</span>
                <span class="ids2-radio-box-text">텍스트를 노출합니다</span>
            </span>
        </label>
    </div>
</div>