<div class="ids2-radio-example">
    <div class="ids2-radio-group">
        <div class="ids2-radio-box ids2-radio-box-checked">
            <div class="ids2-radio-box-label"><span>텍스트</span></div>
        </div>
        <div class="ids2-radio-box">
            <div class="ids2-radio-box-label"><span>텍스트</span></div>
        </div>
    </div>
    <div class="ids2-radio-group">
        <div class="ids2-radio-box ids2-radio-box-lg ids2-radio-box-checked">
            <div class="ids2-radio-box-content">
                <div class="ids2-radio-box-header">텍스트를 노출합니다</div>
                <div class="ids2-radio-box-title">타이틀</div>
                <div class="ids2-radio-box-text">텍스트를 노출합니다</div>
                <div class="ids2-radio-box-text">텍스트를 노출합니다</div>
            </div>
        </div>
        <div class="ids2-radio-box ids2-radio-box-lg">
            <div class="ids2-radio-box-content">
                <div class="ids2-radio-box-header">텍스트를 노출합니다</div>
                <div class="ids2-radio-box-title">타이틀</div>
                <div class="ids2-radio-box-text">텍스트를 노출합니다</div>
                <div class="ids2-radio-box-text">텍스트를 노출합니다</div>
            </div>
        </div>
    </div>
</div>