.ids2-radio-box-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 36px;
    font-family: Arial, sans-serif;
    width: 100%;
}

.ids2-radio-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background-color: #fff;
    border: 1px solid #979BAA;
    border-radius: 12px;
    padding: 18px 20px;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    color: #101116;
}

.ids2-radio-box-lg {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    background-color: #fff;
    border: 1px solid #979BAA;
    border-radius: 12px;
    padding: 18px 20px;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    color: #101116;
}

.ids2-radio-box:has(.ids2-radio-box-input:checked):after {
    content: " ";
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.6066 0.310825C16.0977 0.755869 16.135 1.51475 15.69 2.00583L6.98997 11.6058C6.76659 11.8523 6.45092 11.995 6.11832 11.9999C5.78571 12.0047 5.46601 11.8713 5.23552 11.6315L0.334742 6.53147C-0.124461 6.0536 -0.109328 5.29395 0.368541 4.83475C0.846411 4.37555 1.60606 4.39068 2.06526 4.86855L6.07508 9.04137L13.9116 0.394186C14.3566 -0.0968973 15.1155 -0.134219 15.6066 0.310825Z' fill='%232873E3'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
}

.ids2-radio-box:has(.ids2-radio-box-input:checked) {
    background-color: #F3F9FF;
    border: 2px solid #2873E3;
    padding: 17px 19px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.08);
}

.ids2-radio-box .ids2-radio-box-label {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    color: #454855;
}

.ids2-radio-box:has(.ids2-radio-box-input:checked) .ids2-radio-box-label {
    font-weight: 700;
    color: #2873E3;
}

.ids2-radio-box .ids2-radio-box-label > * {
    vertical-align: middle;
}

.ids2-radio-box .ids2-radio-box-label .ids2-label-highlight:before {
    content: " ";
    width: 1px;
    height: 16px;
    font-size: 0;
    background: #454855;
    display: inline-block;
    margin: 0 8px 2px;
}

.ids2-radio-box-lg:after {
    content: " ";
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.6066 0.310825C16.0977 0.755869 16.135 1.51475 15.69 2.00583L6.98997 11.6058C6.76659 11.8523 6.45092 11.995 6.11832 11.9999C5.78571 12.0047 5.46601 11.8713 5.23552 11.6315L0.334742 6.53147C-0.124461 6.0536 -0.109328 5.29395 0.368541 4.83475C0.846411 4.37555 1.60606 4.39068 2.06526 4.86855L6.07508 9.04137L13.9116 0.394186C14.3566 -0.0968973 15.1155 -0.134219 15.6066 0.310825Z' fill='%23979BAA'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
}

.ids2-radio-box .ids2-radio-box-content {
    text-align: left;
}

.ids2-radio-box .ids2-radio-box-header {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #101116;
    margin-bottom: 4px;
}

.ids2-radio-box .ids2-radio-box-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ids2-radio-box .ids2-radio-box-text {
    display: block;
    font-size: 14px;
    color: #5A5E6C;
    line-height: 20px;
    font-weight: 400;
}

.ids2-radio-box .ids2-radio-box-input {
    display: none;
}