<div class="ids2-button-examples">
    <div class="ids2-button-group">
        <button class="ids2-button ids2-button-primary ids2-button-fill">확인</button>
        <button class="ids2-button ids2-button-primary ids2-button-fill" disabled>확인</button>
    </div>
    <div class="ids2-button-group">
        <button class="ids2-button ids2-button-primary ids2-button-tint">확인</button>
        <button class="ids2-button ids2-button-primary ids2-button-tint" disabled>확인</button>
    </div>
    <div class="ids2-button-group">
        <button class="ids2-button ids2-button-primary">확인</button>
        <button class="ids2-button ids2-button-primary" disabled>확인</button>
    </div>
</div>