/**
    Button Primary Default
 */
.ids2-button.ids2-button-primary {
    min-width: 100px;
    height: 56px;
    background-color: #fff;
    border: 1px solid #737684;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: #101116;
}

.ids2-button.ids2-button-primary:active,
.ids2-button.ids2-button-primary-active {
    background-color: #D3D6DE;
    border-color: #C5C8D3;
}

.ids2-button.ids2-button-primary:disabled {
    background-color: #F3F4F7;
    border-color: #E1E3EA;
    color: #737684;
}