@import "../button.css";

/**
    Button Primary Default
 */
.ids2-button-primary {
    width: 100%;
    height: 56px;
    left: 260px;
    top: 109px;
    background-color: transparent;
    border: 1px solid #737684;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: #101116;
}

.ids2-button-primary:active {
    background-color: #D3D6DE;
    border-color: #C5C8D3;
}

.ids2-button-primary:disabled {
    background-color: #F3F4F7;
    border-color: #E1E3EA;
}

/**
    Button Filled
 */

.ids2-button-fill {
    border-color: transparent;
    background-color: #4393F0;
    color: #fff;
}

.ids2-button-fill:active {
    background-color: #234EAA;
}

.ids2-button-fill:disabled {
    background-color: #D3D6DE;
    color: #737684;
}


/**
    Button Tint
 */

.ids2-button-tint {
    border-color: transparent;
    background-color: #E4F2FF;
    color: #235FD2;
}

.ids2-button-tint:active {
    background-color: #C1E0FC;
    color: #235FD2;
}

.ids2-button-tint:disabled {
    background-color: #E1E3EA;
    color: #737684;
}