<div class="ids-input-stepper-example">
    <div class="ids-input-stepper-horizontal">
        <button class="ids-input-stepper-horizontal-button">
            <i class="ids-icon ids-icon-fast-backward ids-icon-xs">Fast Backward</i>
        </button>
        <button class="ids-input-stepper-horizontal-button">
            <i class="ids-icon ids-icon-backward ids-icon-xs">Fast Backward</i>
        </button>
        <span class="ids-input-stepper-horizontal-label">2025년 12월</span>
        <button class="ids-input-stepper-horizontal-button">
            <i class="ids-icon ids-icon-forward ids-icon-xs">Fast Backward</i>
        </button>
        <button class="ids-input-stepper-horizontal-button">
            <i class="ids-icon ids-icon-fast-forward ids-icon-xs">Fast Backward</i>
        </button>
    </div>
</div>