<div class="ids2-dropdown-examples">

    <div class="ids2-dropdown-example-label">
        <label>Unselected</label>
        <div class="ids2-dropdown">
            <label class="ids2-dropdown-label">타이틀</label>
            <div class="ids2-dropdown-container">
                <button class="ids2-dropdown-button" id="dropdownButton">텍스트</button>
            </div>
        </div>
    </div>
    <div class="ids2-dropdown-example-label">
        <label>Selected</label>
        <div class="ids2-dropdown ids2-dropdown-selected">
            <label class="ids2-dropdown-label">타이틀</label>

            <div class="ids2-dropdown-container">
                <button class="ids2-dropdown-button">텍스트</button>
            </div>
        </div>
    </div>
    <div class="ids2-dropdown-example-label">
        <label>Disabled</label>
        <div class="ids2-dropdown">
            <label class="ids2-dropdown-label">타이틀</label>

            <div class="ids2-dropdown-container">
                <button class="ids2-dropdown-button" disabled>텍스트</button>
            </div>
        </div>
    </div>
    <div class="ids2-dropdown-example-label">
        <label>Disabled Selected</label>
        <div class="ids2-dropdown ids2-dropdown-selected">
            <label class="ids2-dropdown-label">타이틀</label>

            <div class="ids2-dropdown-container">
                <button class="ids2-dropdown-button" disabled>텍스트</button>
            </div>
        </div>
    </div>
</div>