<div class="ids-list-example">
    <div class="ids-tab">
        <div class="ids-tab-item ids-tab-item-active">
            전체
            <span class="ids-badge-wrap-inline">
                        <span class="ids-badge-dot ids-badge-dot-small">
                          •
                        </span>
                      </span>
        </div>
        <div class="ids-tab-item">이용
            <span class="ids-badge-wrap-inline">
                        <span class="ids-badge-dot ids-badge-dot-small">
                          •
                        </span>
                      </span>
        </div>
        <div class="ids-tab-item">혜택
            <span class="ids-badge-wrap-inline">
                        <span class="ids-badge-dot ids-badge-dot-small">
                          •
                        </span>
                      </span>
        </div>
        <div class="ids-tab-item">안내
            <span class="ids-badge-wrap-inline">
                        <span class="ids-badge-dot ids-badge-dot-small">
                          •
                        </span>
                      </span>
        </div>
    </div>
    <div class="ids-list">
        <div class="ids-list-item ids-list-item-read">
            <div class="ids-list-item-wrap">
                <div class="ids-list-point-icon">
                    <i class="ids-icon ids-icon-service-point">Point</i>
                </div>
                <div class="ids-list-content">
                    <div class="ids-body2-tight ids-bold">
                        포인트
                    </div>
                    <div class="ids-body4">
                        김기업님<br>출석체크 포인트 10P가 적립되었어요.
                    </div>
                    <div class="ids-caption ids-text-gray-500">
                        2024.05.05 | 18:01
                    </div>
                </div>
                <div class="ids-list-arrow">
                    <i class="ids-icon ids-icon-sm
                                            ids-icon-forward">Arrow</i>
                </div>
            </div>
        </div>
        <hr class="ids-divider ids-my-0 ids-bg-gray" />
        <div class="ids-list-item">
            <div class="ids-list-item-wrap">
                <div class="ids-list-point-icon">
                    <i class="ids-icon ids-icon-service-point">Point</i>
                </div>
                <div class="ids-list-content">
                    <div class="ids-body2-tight ids-bold">
                        포인트
                    </div>
                    <div class="ids-body4">
                        김기업님<br>출석체크 포인트 10P가 적립되었어요.
                    </div>
                    <div class="ids-caption ids-text-gray-500">
                        2024.05.05 | 18:01
                    </div>
                </div>
                <div class="ids-list-arrow">
                    <i class="ids-icon ids-icon-sm
                                            ids-icon-forward">Arrow</i>
                </div>
            </div>
        </div>
    </div>
</div>