<div class="ids2-pagination-examples">
    <div class="ids2-pagination-example">
        <div class="ids2-pagination">
            <button type="button" class="ids2-pagination-button ids2-pagination-first" disabled>
                처음
            </button>
            <button type="button" class="ids2-pagination-button ids2-pagination-prev" disabled>
                이전
            </button>
            <button type="button" class="ids2-pagination-number ids2-pagination-number-active">1</button>
            <button type="button" class="ids2-pagination-number">2</button>
            <button type="button" class="ids2-pagination-number">3</button>
            <button type="button" class="ids2-pagination-ellipsis">...</button>
            <button type="button" class="ids2-pagination-number">10</button>
            <button type="button" class="ids2-pagination-button ids2-pagination-next">
                다음
            </button>
            <button type="button" class="ids2-pagination-button ids2-pagination-last">
                마지막
            </button>
        </div>
    </div>
</div>