<div class="ids2-pagination-examples">
    <div class="ids2-pagination-example">
        <div class="ids2-pagination">
            <button class="ids2-pagination-button" disabled>
                <i class="ids2-icon ids2-icon-xxs ids2-icon-fast-backward-disabled">Fast Backward</i>
            </button>
            <button class="ids2-pagination-button" disabled>
                <i class="ids2-icon ids2-icon-xxs ids2-icon-backward-disabled">Fast Backward</i>
            </button>
            <a href="#" class="ids2-pagination-number active">1</a>
            <a href="#" class="ids2-pagination-number">2</a>
            <a href="#" class="ids2-pagination-number">3</a>
            <span class="ids2-pagination-ellipsis">...</span>
            <a href="#" class="ids2-pagination-number">10</a>
            <button class="ids2-pagination-button">
                <i class="ids2-icon ids2-icon-xxs ids2-icon-forward">Fast Backward</i>
            </button>
            <button class="ids2-pagination-button">
                <i class="ids2-icon ids2-icon-xxs ids2-icon-fast-forward">Fast Backward</i>
            </button>
        </div>
    </div>
</div>