<div class="ids-text-field-example">
    <div class="ids-text-field ids-text-field-currency">
        <label for="textField-input-amount" class="ids-text-field-label">
            <span>타이틀</span><span class="ids-label-optional">선택</span>
        </label>
        <div class="ids-text-field-container">
            <input type="text"
                   class="ids-text-field-input"
                   id="textField-input-amount"
                   placeholder="0.00"
            />
            <button class="ids-input-clear">
                <i class="ids-icon ids-icon-clear">Clear</i>
            </button>
        </div>
    </div>
</div>