<div class="ids2-text-field-example">
    <div class="ids2-text-field ids2-text-field-currency">
        <label for="textField-input-amount" class="ids2-text-field-label">
            <span>타이틀</span><span class="ids2-label-optional">선택</span>
        </label>
        <div class="ids2-text-field-container">
            <input type="number"
                   class="ids2-text-field-input"
                   id="textField-input-amount"
                   placeholder="플레이스 홀더"
            />
        </div>
    </div>
</div>