<div class="ids2-text-field-example">
    <div class="ids2-text-field ids2-email-field">
        <label for="textField-input" class="ids2-text-field-label">
            <span>타이틀</span>
        </label>
        <div class="ids2-text-field-container">
            <div class="ids2-email-field-name">
                <input type="text"
                       class="ids2-text-field-input"
                       id="textField-input"
                       maxlength="100"
                       placeholder="이메일"
                />
            </div>
            <div class="ids2-email-field-separator">@</div>

            <div class="ids2-email-field-domain">
                <input type="text"
                       class="ids2-text-field-input"
                       id="textField-input2"
                       maxlength="100"
                       placeholder="주소"
                       readonly
                />
            </div>


            <div class="ids2-bottom-sheet" style="display: none">
                <div class="ids2-bottom-sheet-container" style="display: none;">
                    <div class="ids2-bottom-sheet-header">
                        <h3 class="ids2-h3 ids2-semibold">타이틀</h3>
                        <button class="ids2-bottom-sheet-close">
                            <i class="ids2-icon ids2-icon-close"></i>
                        </button>
                    </div>

                    <div class="ids2-bottom-sheet-content">
                        <ul class="ids2-dropdown-list">
                            <li class="ids2-dropdown-item">텍스트</li>
                            <li class="ids2-dropdown-item">텍스트</li>
                            <li class="ids2-dropdown-item">텍스트</li>
                            <li class="ids2-dropdown-item">텍스트</li>
                        </ul>
                    </div>
                </div>

                <div class="ids2-backdrop ids2-backdrop-hide"></div>
            </div>
        </div>
    </div>
</div>