<div class="ids-text-field-example">
    <div class="ids-text-field ids-email-field">
        <label for="textField-input" class="ids-text-field-label">
            <span>타이틀</span>
        </label>
        <div class="ids-text-field-container">
            <div class="ids-email-field-name">
                <input type="text"
                       class="ids-text-field-input"
                       id="textField-input"
                       maxlength="100"
                       placeholder="이메일"
                />
            </div>
            <div class="ids-email-field-separator">@</div>

            <div class="ids-email-field-domain">
                <input type="text"
                       class="ids-text-field-input"
                       id="textField-input2"
                       maxlength="100"
                       placeholder="주소"
                       readonly
                />
            </div>


            <div class="ids-bottom-sheet" style="display: none">
                <div class="ids-bottom-sheet-container" style="display: none;">
                    <div class="ids-bottom-sheet-header">
                        <h3 class="ids-h3 ids-semibold">타이틀</h3>
                        <button class="ids-bottom-sheet-close">
                            <i class="ids-icon ids-icon-close"></i>
                        </button>
                    </div>

                    <div class="ids-bottom-sheet-content">
                        <ul class="ids-dropdown-list">
                            <li class="ids-dropdown-item">텍스트</li>
                            <li class="ids-dropdown-item">텍스트</li>
                            <li class="ids-dropdown-item">텍스트</li>
                            <li class="ids-dropdown-item">텍스트</li>
                        </ul>
                    </div>
                </div>

                <div class="ids-dimmed ids-dimmed-hide"></div>
            </div>
        </div>
    </div>
</div>