<div class="ids2-dropdown-example">
    <div class="ids2-dropdown ids2-dropdown-bank">
        <label class="ids2-dropdown-label">타이틀</label>
        <div class="ids2-dropdown-container">
            <button class="ids2-dropdown-button" id="dropdownButton">
                <p class="ids2-dropdown-bank-title"><span class="ids2-label ids2-label-tint">레이블</span> 계좌별명</p>
                <p class="ids2-dropdown-bank-account">000-000000-00000</p>
            </button>
        </div>
    </div>
</div>