<div class="ids2-text-field-example">
    <div class="ids2-input-form">
        <label for="textField-input" class="ids2-text-field-label">
            <span>오픈뱅킹 계좌등록</span><span class="ids2-label-highlight">필수</span>
        </label>
        <div class="ids2-input-group ids2-input-open-banking">
            <div class="ids2-dropdown">
                <div class="ids2-dropdown-container">
                    <button class="ids2-dropdown-button" id="dropdownButton">은행선택</button>
                </div>
            </div>
            <div class="ids2-text-field">
                <div class="ids2-text-field-container">
                    <input type="text"
                           id="textField-input"
                           class="ids2-text-field-input"
                           placeholder="계좌번호 입력"
                    />
                    <button class="ids2-input-clear">
                        <i class="ids2-icon ids2-icon-clear">Clear</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>