<div class="ids-dropdown-example" style="height: 300px">
    <div class="ids-dropdown">
        <label class="ids-dropdown-label">타이틀</label>
        <div class="ids-dropdown-container">
            <button class="ids-dropdown-button" id="dropdownButton">텍스트</button>
        </div>


        <div class="ids-bottom-sheet" style="display: none">
            <div class="ids-bottom-sheet-container" style="display: none;">
                <div class="ids-bottom-sheet-header">
                    <h3 class="ids-h3 ids-semibold">타이틀</h3>
                    <button class="ids-bottom-sheet-close">
                        <i class="ids-icon ids-icon-close"></i>
                    </button>
                </div>

                <div class="ids-bottom-sheet-content">
                    <ul class="ids-dropdown-list">
                        <li class="ids-dropdown-item">텍스트</li>
                        <li class="ids-dropdown-item">텍스트</li>
                        <li class="ids-dropdown-item">텍스트</li>
                        <li class="ids-dropdown-item">텍스트</li>
                    </ul>
                </div>
            </div>

            <div class="ids-backdrop ids-backdrop-hide"></div>
        </div>
    </div>
</div>