<div class="ids2-dropdown-example">
    <div class="ids2-dropdown">
        <label class="ids2-dropdown-label">타이틀</label>
        <div class="ids2-dropdown-container">
            <button class="ids2-dropdown-button" id="dropdownButton">텍스트</button>
        </div>


        <div class="ids2-bottom-sheet" style="display: none">
            <div class="ids2-bottom-sheet-container" style="display: none;">
                <div class="ids2-bottom-sheet-header">
                    <h3 class="ids2-h3 ids2-semibold">타이틀</h3>
                    <button class="ids2-bottom-sheet-close">
                        <i class="ids2-icon ids2-icon-close"></i>
                    </button>
                </div>

                <div class="ids2-bottom-sheet-content">
                    <ul class="ids2-dropdown-list">
                        <li class="ids2-dropdown-item">테스트</li>
                        <li class="ids2-dropdown-item">테스트</li>
                    </ul>
                </div>
            </div>

            <div class="ids2-backdrop ids2-backdrop-hide"></div>
        </div>
    </div>
</div>