<div class="ids-bottom-navigation-example">
    <div class="ids-bottom-nav">
        <button class="ids-bottom-nav-item ids-bottom-nav-item-active">
            <i class="ids-bottom-nav-icon ids-icon-account">내계좌</i>
            <span class="ids-bottom-navigation-label">내계좌</span>
        </button>
        <button class="ids-bottom-nav-item">
            <i class="ids-bottom-nav-icon ids-icon-transfer">이체</i>
            <span class="ids-bottom-nav-label">이체</span>
        </button>
        <button class="ids-bottom-nav-item">
            <i class="ids-bottom-nav-icon ids-icon-product">금융상품</i>
            <span class="ids-bottom-nav-label">금융상품</span>
        </button>
        <button class="ids-bottom-nav-item">
            <i class="ids-bottom-nav-icon ids-icon-menu">전체메뉴</i>
            <span class="ids-bottom-nav-label">전체메뉴</span>
        </button>
    </div>
</div>