
.ids2-h3 {
    font-family: 'Pretendard', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
}

.ids2-semibold {
    font-weight: 600;
}

.ids2-bold {
    font-weight: 700;
}

.ids2-anchor {
    font-weight: 400;
    color: #737684;
    text-decoration: none;
}

.ids2-anchor.ids2-anchor-sm {
    font-size: 13px;
    line-height: 13px;
}

.ids2-underline {
    text-decoration: underline;
}

.ids2-text-blue {
    color: #235FD2;
}

.ids2-text-grey {
    color: #B1B5C3;
}

.ids2-text-dark-gray {
    color: #454855;
}

.ids2-text-white {
    color: #FFFFFF;
}

.ids2-text-black {
    color: #101116;
}