
.ids2-h3 {
    font-family: 'Pretendard', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
}

.ids2-semibold {
    font-weight: 600;
}

.ids2-bold {
    font-weight: 700;
}