<div class="ids-text-field-example">
    <div class="ids-text-field ids-input-separate">
        <label for="textField-input" class="ids-text-field-label">
            <span>주민등록번호</span><span class="ids-label-required">필수</span>
        </label>
        <div class="ids-text-field-container">
            <input type="text"
                   class="ids-text-field-input"
                   id="textField-input"
                   maxlength="6"
                   placeholder="생년월일 6자리"
            />
            <div class="ids-input-separator">-</div>
            <input type="password"
                   class="ids-text-field-input"
                   id="textField-input2"
                   maxlength="7"
                   placeholder="주민등록번호 뒷자리"
            />
        </div>
    </div>
</div>