<div class="ids-text-field-example">
    <div class="ids-text-field ids-input-search">
        <label for="textField-input" class="ids-text-field-label">
            <span>타이틀</span><span class="ids-label-required">필수</span><span class="ids-label-optional">선택</span>
        </label>

        <div class="ids-text-field-container">
            <input type="text" id="textField-input" placeholder="검색어를 입력하세요." class="ids-text-field-input">
            <button class="ids-input-clear">
                <i class="ids-icon ids-icon-clear">Clear</i>
            </button>
            <button class="ids-button ids-button-icon ids-button-text ids-search-button">
                <i class="ids-icon ids-icon-search">Search</i>
            </button>
        </div>
    </div>
</div>