<div class="ids-accordion-examples">
    <div class="ids-accordion">
        <div class="ids-accordion-item">
            <div class="ids-accordion-head ids-items-start">
                <div class="ids-accordion-summary">
                    <div class="ids-accordion-title">
                        <h3 class="ids-h3-tight">
                            타이틀 <span class="ids-badge-count">99</span>
                        </h3>
                        <div class="ids-total">
                            <span class="ids-total-label">합계</span> <span class="ids-badge-count">1,000,000,000원</span>
                        </div>
                    </div>
                    <div class="ids-body5 ids-text-gray-600">서브 텍스트</div>
                </div>
                <div class="ids-accordion-arrow ids-py-half">
                    <i class="ids-icon ids-icon-sm ids-icon-expand">Expand</i>
                </div>
            </div>
            <div class="ids-accordion-details" style="height: 0;">
                <div class="ids-pt-2 ids-body4">
                    <ul class="ids-sub-list">
                        <li>텍스트를 노출합니다.</li>
                        <li>텍스트를 노출합니다.</li>
                        <li>텍스트 <span class="ids-font-regular ids-text-gray-600">| 부가설명을 노출합니다.</span></li>
                        <li>텍스트 <span class="ids-font-regular ids-text-gray-600">| 부가설명을 노출합니다.</span></li>
                        <li>텍스트 <span class="ids-font-regular ids-text-gray-600">| 부가설명을 노출합니다.</span></li>
                        <li>텍스트 <span class="ids-font-regular ids-text-gray-600">| 부가설명을 노출합니다.</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>