<div class="ids2-accordion-examples">
    <div class="ids2-accordion">
        <div class="ids2-accordion-item">
            <div class="ids2-accordion-summary">
                <div class="ids2-accordion-title">
                    <h3 class="ids2-h3-tight">
                        타이틀 <span class="ids2-badge-count">99</span>
                    </h3>
                    <div class="ids2-total">
                        <span class="ids2-total-label">합계</span> <span class="ids2-badge-count">1,000,000,000원</span>
                    </div>
                </div>
                <div class="ids2-body5 ids2-text-gray-600">서브 텍스트</div>
                <div class="ids2-arrow">
                    <i class="ids2-icon ids2-icon-expand">Expand</i>
                </div>
            </div>
            <div class="ids2-accordion-details" style="height: 0;">
                <div class="ids2-pt-2 ids2-body4">
                    <ul class="ids2-sub-list">
                        <li>텍스트를 노출합니다.</li>
                        <li>텍스트를 노출합니다.</li>
                        <li>텍스트 <span class="ids2-font-regular ids2-text-gray-600">| 부가설명을 노출합니다.</span></li>
                        <li>텍스트 <span class="ids2-font-regular ids2-text-gray-600">| 부가설명을 노출합니다.</span></li>
                        <li>텍스트 <span class="ids2-font-regular ids2-text-gray-600">| 부가설명을 노출합니다.</span></li>
                        <li>텍스트 <span class="ids2-font-regular ids2-text-gray-600">| 부가설명을 노출합니다.</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>