.ids2-divider {
    display: block;
    width: 100%;
    background-color: #F3F4F7;
    border: 0 none;
    color: #F3F4F7;
    height: 1px;
    margin: 20px 0;
}

.ids2-divider.ids2-divider-middle {
    height: 8px;
}

.ids2-divider.ids2-divider-thick {
    height: 12px;
}