.ids-divider {
    display: block;
    width: 100%;
    background-color: #F3F4F7;
    border: 0 none;
    color: #F3F4F7;
    height: 1px;
    margin: 20px 0;
}

.ids-divider.ids-divider-middle {
    height: 8px;
}

.ids-divider.ids-divider-thick {
    height: 12px;
}

.ids-divider.ids-divider-gray-100 {
    background-color: var(--ids-color-gray-100);
}