.ids-list-example {
    min-width: 380px;
}

.ids-list {
    background: white;
    margin: auto;
}

.ids-list.ids-list-underlined > .ids-item:not(:last-child) {
    border-bottom: 1px solid #E1E3EAB2;
}

.ids-card-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 16px;
}
.ids-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    background: white;
}
.ids-info .ids-bank-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
}
.ids-item-wrap {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-left: 30px;
    margin: 24px;
}
.ids-info {
    display: flex;
    align-items: center;
}
.ids-logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.ids-details {
    display: flex;
    gap: 6px;
    flex-direction: column;
    margin-left: 12px;
}
.ids-bank {
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    color: #737684;
    margin-top: 6px;
}
.ids-favorite {
    cursor: pointer;
}

.ids-card .ids-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ids-card .ids-card-header .ids-card-header-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
}
.ids-card .ids-card-header .ids-account-type {
    color: #737684;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
}
.ids-card .ids-card-header .ids-account-name {
    color: #737684;
    position: relative;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
}

.ids-card .ids-card-header .ids-account-type + .ids-account-name  {
    margin-left: 4px;
    padding-left: 8px;
}

.ids-card .ids-card-header .ids-account-type + .ids-account-name:before {
    content: ' ';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 1px;
    height: 10px;
    background-color: #979BAA;
    z-index: 1;
}

.ids-card .ids-card-header .ids-menu-button {
    font-size: 18px;
    color: #101116;
    cursor: pointer;
}
.ids-card .ids-account {
    font-size: 14px;
    font-weight: 600;
    margin-top: 4px;
    color: #101116;
}
.ids-card .ids-balance {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #101116;
    text-align: right;
    margin-top: 6px;
}
.ids-card .ids-balance .ids-balance-currency {
    font-weight: 400;
}

.ids-menu {
     background: white;
 }
.ids-menu-section {
    margin: 40px 24px;
}
.ids-menu-title {
    font-size: 14px;
    color: #737684;
    font-weight: 700;
    line-height: 18px;
    margin-top: 40px;
    margin-bottom: 16px;
}
.ids-menu-item {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: #101116;
    padding: 13px 0;
    cursor: pointer;
}
.ids-menu-item a {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: #101116;
    cursor: pointer;
    text-decoration: none;
}
.ids-item.read {
    background: #e8f2ff;
}
.ids-point-icon {
    position: absolute;
    top:0;
    left: 0;
    width: 32px;
}
.ids-point-icon > svg {
    top: 0;
}
.ids-list-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.ids-list-title {
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
}
.ids-list-text {
    font-size: 14px;
    line-height: 20px;
    color: #555;
}
.ids-list-time {
    font-size: 12px;
    line-height: 16px;
    color: #737684;
    margin-top: 5px;
}
.ids-list-arrow {
    font-size: 18px;
    color: #777;
}