@import "../../components/textField/authCode/styles.css";
@import "../../components/textField/secretCard/styles.css";

.ids-text-field-examples {
    display: flex;
    gap: 48px 2%;
    margin-top: 16px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ids-text-field-state-example {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 16px;
    width: 48%;
    text-align: center;
}

.ids-text-field-state-example > label {
    display: inline-block;
    padding-top: 24px;
    font-weight: 700;
}

.ids-text-field {
    text-align: left;
    position: relative;
}

.ids-text-field-full-width {
    width: 100%;
    position: relative;
}

.ids-text-field .ids-text-field-container {
    position: relative;
    border: 1px solid #C5C8D3;
    border-radius: 12px;
    background: #fff;
    box-sizing: border-box;
}

.ids-text-field .ids-text-field-container:has(.ids-text-field-input:focus),
.ids-text-field.ids-text-field-focused .ids-text-field-container {
    outline: none;
    border: 1px solid #30323B;
}

.ids-text-field .ids-text-field-container:has(.ids-text-field-input:disabled) {
    background: #F3F4F7;
    border: 1px solid #C5C8D3;
}

.ids-text-field:not(.ids-email-field) .ids-text-field-container:has(.ids-text-field-input:read-only) {
    background: #F3F4F7;
    border: 1px solid #C5C8D3;
}

.ids-text-field .ids-text-field-input:disabled {
    color: #737684;
}

.ids-text-field.ids-text-field-error .ids-text-field-container {
    border: 1px solid #E32502;
}

.ids-text-field-label {
    display: block;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: #454855;
    margin: 0 4px;
    min-height: 18px;
}


.ids-text-field-label {
    margin-bottom: 8px;
    display: flex;
}

.ids-text-field-label > span {
    display: block;
}

.ids-text-field .ids-text-field-input {
    width: 100%;
    border: none;
    background: transparent;
    padding: 15px 16px;
    font-size: 16px;
    font-weight: 500;
    color: #101116;
    appearance: none;
    outline: none;
    box-sizing: border-box;
}

.ids-text-field.ids-text-field-amount .ids-text-field-input,
.ids-text-field.ids-text-field-currency .ids-text-field-input {
    text-align: right;
}

.ids-text-field.ids-text-field-amount.ids-text-field-filled .ids-text-field-container:after {
    content: 'ì›';
    font-size: 16px;
    font-weight: 500;
    color: #101116;
    position: absolute;
    top: 50%;
    right: 52px;
    transform: translateY(-50%);
}

.ids-text-field.ids-text-field-amount.ids-text-field-filled .ids-text-field-input {
    padding-right: 68px;
}

.ids-text-field-currency.ids-text-field-filled .ids-text-field-input {
    padding-right: 48px;
}


.ids-text-field.ids-text-field-date .ids-text-field-container:after {
    content: ' ';
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.00117 0.275391C6.443 0.275391 6.80117 0.633563 6.80117 1.07539V2.27539H11.2012V1.07539C11.2012 0.633563 11.5593 0.275391 12.0012 0.275391C12.443 0.275391 12.8012 0.633563 12.8012 1.07539V2.27539H15.0012C16.5476 2.27539 17.8012 3.52899 17.8012 5.07539V15.0754C17.8012 16.6218 16.5476 17.8754 15.0012 17.8754H3.00117C1.45477 17.8754 0.201172 16.6218 0.201172 15.0754V5.07539C0.201172 3.52899 1.45477 2.27539 3.00117 2.27539H5.20117V1.07539C5.20117 0.633563 5.55934 0.275391 6.00117 0.275391ZM11.2012 3.87539V5.07539C11.2012 5.51722 11.5593 5.87539 12.0012 5.87539C12.443 5.87539 12.8012 5.51722 12.8012 5.07539V3.87539H15.0012C15.6639 3.87539 16.2012 4.41265 16.2012 5.07539V7.27539H1.80117V5.07539C1.80117 4.41265 2.33843 3.87539 3.00117 3.87539H5.20117V5.07539C5.20117 5.51722 5.55934 5.87539 6.00117 5.87539C6.443 5.87539 6.80117 5.51722 6.80117 5.07539V3.87539H11.2012ZM1.80117 8.87539H16.2012V15.0754C16.2012 15.7381 15.6639 16.2754 15.0012 16.2754H3.00117C2.33843 16.2754 1.80117 15.7381 1.80117 15.0754V8.87539Z' fill='%23101116'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
}

.ids-text-field .ids-text-field-input::placeholder {
    font-size: 16px;
    font-weight: 500;
    color: #737684;
}

.ids-text-field .ids-input-clear {
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    appearance: none;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    display: none;
}


.ids-text-field .ids-input-clear .ids-icon {
    display: block;
}

.ids-text-field .ids-input-success {
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    display: none;
}

.ids-text-field.ids-text-field-success .ids-input-success {
    display: block;
}

.ids-text-field.ids-text-field-filled .ids-input-clear {
    display: block;
}

.ids-text-field.ids-text-field-filled.ids-text-field-success .ids-input-clear {
    display: none;
}


.ids-exchange-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.ids-text-field.ids-input-top-search {
    position: relative;
    margin-left: 10px;
    width: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



.ids-text-field.ids-input-top-search .ids-text-field-input {
    width: 100%;
    background: #F3F4F7;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    line-height: 22px;
    padding: 13px 16px;
    box-sizing: border-box;
}

.ids-text-field.ids-input-top-search .ids-search-button {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
}

.ids-text-field.ids-input-top-search .ids-input-clear {
    right: 62px;
}

.ids-text-field .ids-text-field-functions {
    display: flex;
    justify-content: space-between;
    min-height: 24px;
}

.ids-text-field .ids-text-field-note {
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    color: #737684;
    margin: 4px;
}

.ids-text-field .ids-text-field-error-note {
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    color: #E32502;
    margin: 4px;
}

.ids-text-field .ids-text-field-success-note {
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    color: #1654D1;
    margin: 4px;
}

.ids-text-field .ids-text-field-counter {
    display: none;
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    color: #737684;
    margin: 4px;
}

.ids-text-field .ids-text-field-counter.visible,
.ids-text-field.ids-text-field-filled .ids-text-field-counter {
    display: block;
}

.ids-text-field .ids-text-field-counter .ids-text-field-count {
    color: #101116;
}

.ids-text-field.ids-text-field-error .ids-text-field-counter .ids-text-field-count {
    color: #E32502;
}

.ids-input-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.ids-input-group {
    display: flex;
    gap: 8px;
}

.ids-input-group.ids-input-exchange {
    gap: 16px;
}

.ids-input-group.ids-input-exchange > .ids-text-field:first-child {
    width: 68%;
}

.ids-input-group.ids-input-exchange > .ids-text-field:last-child {
    width: 32%;
}

.ids-input-group.ids-input-exchange > .ids-text-field:first-child:after {
    position: absolute;
    bottom: 0;
    right: -10px;
    content: ".";
    font-size: 20px;
    color: #101116;
    font-weight: 700;
}




.ids-input-group.ids-input-range {
    gap: 16px;
}

.ids-input-group.ids-input-range > .ids-text-field:first-child:after {
    position: absolute;
    top: 50%;
    right: -13px;
    transform: translateY(-50%);
    content: "~";
    font-size: 16px;
    line-height: 22px;
    color: #101116;
}

.ids-input-group.ids-input-range > .ids-text-field:first-child {
    width: 50%;
}

.ids-input-group.ids-input-range > .ids-text-field:last-child {
    width: 50%;
}

.ids-text-field.ids-input-separate .ids-text-field-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ids-text-field.ids-email-field .ids-text-field-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ids-text-field.ids-email-field .ids-email-field-name {
    width: calc(50% - 16px);
}

.ids-text-field.ids-email-field .ids-email-field-domain {
    width: calc(50% + 16px);
}

.ids-text-field.ids-email-field .ids-email-field-domain .ids-text-field-input {
    padding-left: 12px;
    cursor: pointer;
}
.ids-text-field.ids-email-field .ids-email-field-domain::after {
    content: " ";
    position: absolute;
    right: 15px;
    width: 18px;
    height: 18px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='8' viewBox='0 0 16 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.82515 0.20015C1.05946 -0.0341646 1.43936 -0.0341646 1.67368 0.20015L7.99941 6.52589L14.3251 0.20015C14.5595 -0.0341646 14.9394 -0.0341646 15.1737 0.20015C15.408 0.434465 15.408 0.814364 15.1737 1.04868L8.42368 7.79868C8.18936 8.03299 7.80946 8.03299 7.57515 7.79868L0.82515 1.04868C0.590835 0.814364 0.590835 0.434465 0.82515 0.20015Z' fill='%23101116'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.ids-text-field.ids-email-field .ids-email-field-separator {
    text-align: center;
    font-size: 16px;
    line-height: 22px;
}

.ids-input-group.ids-input-open-banking .ids-dropdown {
    width: 130px;
}

.ids-input-group.ids-input-open-banking .ids-text-field {
    width: calc(100% - 138px);
}

.ids-input-group.ids-input-verify-number .ids-input-timer {
    font-size: 14px;
    line-height: 18px;
    color: #454855;
}

.ids-input-group.ids-input-verify-number .ids-text-field.ids-text-field-filled .ids-input-timer {
    right: 46px;
}

.ids-text-field.ids-input-search .ids-search-button {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
}


.ids-text-field.ids-text-field-filled.ids-input-search .ids-input-clear {
    right: 64px;
}

.ids-input-group.ids-input-english-name > .ids-text-field:first-child {
    width: 33%;
}

.ids-input-group.ids-input-english-name > .ids-text-field:last-child {
    width: 66%;
}

.ids-input-group.ids-input-card-number {
    gap: 14px;
}

.ids-input-group.ids-input-card-number > .ids-text-field {
    width: 25%;
}

.ids-input-group.ids-input-card-number > .ids-text-field:not(:last-child):after {
    content: " ";
    width: 6px;
    height: 1px;
    background: #C5C8D3;
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
}

.ids-text-field .ids-input-function {
    display: flex;
    align-items: center;
    gap: 8px;
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
}
.ids-text-field .ids-input-function .ids-input-clear {
    position: static;
    right: unset;
    top: unset;
    transform: none;
}

.ids-text-field.ids-text-field-line .ids-text-field-container {
    border: none;
    border-radius: 0;
    border-bottom: 3px solid #C5C8D3;
}

.ids-text-field.ids-text-field-line .ids-text-field-container:has(.ids-text-field-input:focus) {
    outline: none;
    border: none;
    border-radius: 0;
    border-bottom: 3px solid #2873E3;
}

.ids-text-field.ids-text-field-line .ids-text-field-input {
    font-size: 20px;
    line-height: 26px;
    color: #101116;
    padding: 15px 0;
}

.ids-text-field.ids-text-field-line .ids-text-field-input::placeholder {
    font-size: 20px;
    line-height: 26px;
    color: #737684;
}

.ids-text-field.ids-text-field-line-large .ids-text-field-input {
    font-size: 28px;
    text-align: right;
    line-height: 26px;
    color: #101116;
    padding: 15px 0;
}

.ids-text-field.ids-text-field-line-large.ids-text-field-filled .ids-text-field-input {
    padding-right: 60px;
}

.ids-text-field.ids-text-field-line-large .ids-text-field-input::placeholder {
    font-size: 28px;
    text-align: right;
    line-height: 26px;
    color: #737684;
}

.ids-text-field-amount-note {
    margin-top: 4px;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    color: #737684;
}