.ids-toast-example {
    display: flex;
    flex-direction: column;
    gap: 48px;
    height: 200px;
    min-width: 380px;
}


.ids-toast-examples-open-button {
    font-size: 18px;
    text-decoration: underline;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}

.ids-toast {
    /* 레이아웃 */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    bottom: 30px;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-wrap: nowrap;
    min-width: 180px;

    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 24px;
    padding: 8px 20px;

    opacity: 1;
    transform: translateX(-50%) translateY(0);

    transition: transform 0.3s ease, opacity 0.3s ease;
}

.ids-toast-icon {
    margin-right: 8px;
    color: #4caf50; /* 초록색 체크 아이콘 */
    font-size: 16px;
}

.ids-toast-hide {
    opacity: 0;
    transform: translateX(-50%) translateY(20px);
}

.ids-toast-message {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #fff;
}