<div class="ids-table-example">
    <h3 class="ids-h3">타이틀</h3>
    <table class="ids-table">
        <thead>
        <tr>
            <th class="ids-cell-left">
                <div class="ids-checkbox ids-checkbox-sm">
                    <label>
                        <input type="checkbox" name="checkboxAll" id="checkAll">
                        <span class="ids-input-label-text  ids-bold">상품명</span>
                    </label>
                </div>
            </th>
            <th>전일대비 기준가(원)</th>
            <th>운용규모(억원)</th>
            <th>수익률(%)</th>
        </tr>
        </thead>
        <tbody>
        <tr class="ids-row-selectable">
            <th class="ids-cell-left">
                <div class="ids-checkbox ids-checkbox-sm">
                    <label>
                        <input type="checkbox" name="checkbox" checked>
                        <span class="ids-input-label-text  ids-bold">KB가치배당40증권자투자신탁(채권혼합)Ce</span>
                    </label>
                </div>
            </th>
            <td>1,078.65</td>
            <td>342</td>
            <td>3.84</td>
        </tr>
        <tr class="ids-row-selectable">
            <th class="ids-cell-left">
                <div class="ids-checkbox ids-checkbox-sm">
                    <label>
                        <input type="checkbox" name="checkbox">
                        <span class="ids-input-label-text  ids-bold">삼성글로벌선진국증권자투자신탁H[주식]Ae</span>
                    </label>
                </div>
            </th>
            <td>1,833.57</td>
            <td>1,615</td>
            <td>10.15</td>
        </tr>
        <tr class="ids-row-selectable">
            <th class="ids-cell-left">
                <div class="ids-checkbox ids-checkbox-sm">
                    <label>
                        <input type="checkbox" name="checkbox" checked>
                        <span class="ids-input-label-text  ids-bold">유리글로벌Top10주식과단기채증권자투자신탁(채권혼합)A-e</span>
                    </label>
                </div>
            </th>
            <td>1,062.28</td>
            <td>340</td>
            <td>5.05</td>
        </tr>
        <tr class="ids-row-selectable">
            <th class="ids-cell-left">
                <div class="ids-checkbox ids-checkbox-sm">
                    <label>
                        <input type="checkbox" name="checkbox">
                        <span class="ids-input-label-text  ids-bold">한국투자베트남그로스증권자투자신탁UH[주식]C-e</span>
                    </label>
                </div>
            </th>
            <td>2,162.19</td>
            <td>1,231</td>
            <td>12.81</td>
        </tr>
        </tbody>
    </table>
</div>