<div class="ids2-text-field-example">
    <div class="ids2-range-container">
        <label for="textField-input" class="ids2-text-field-label">
            <span>타이틀</span><span class="ids2-label-highlight">필수</span><span class="ids2-label-optional">선택</span>
        </label>
        <div class="ids2-range-separator">
            <div class="ids2-text-field">
                <div class="ids2-text-field-container">
                    <input type="text"
                           id="textField-input"
                           class="ids2-text-field-input"
                           placeholder="플레이스 홀더"
                    />
                    <button class="ids2-input-clear">
                        <i class="ids2-icon ids2-icon-clear">Clear</i>
                    </button>
                </div>
            </div>
            <div class="ids2-text-field">
                <div class="ids2-text-field-container">
                    <input type="text"
                           class="ids2-text-field-input"
                           placeholder="플레이스 홀더"
                    />
                    <button class="ids2-input-clear">
                        <i class="ids2-icon ids2-icon-clear">Clear</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>