@import "treeview.css";

.ids2-docs {
    position: relative;
    width: 960px;
    margin: 40px auto;
    font-family: var(--ids2-font-family), serif;
    font-size: var(--ids2-size-body1);
    color: var(--ids2-color-gray-900);
    line-height: var(--ids2-line-body1);
}

.ids2-docs-index {
    display: flex;
    flex-direction: row;
    gap: var(--ids2-spacing-6);
}

.ids2-docs-index > .ids2-docs-index-description {
    width: 70%;
}

.ids2-docs-index > .ids2-menu {
    width: 30%;
}

.ids2-docs-toc {
    position: fixed;
    top: 40px;
    left: 50%;
    margin-left: 550px;
    padding-left: 12px;
    width: 300px;
    border-left: var(--ids2-border-2-500);
    font-size: var(--ids2-size-body3);
}

.ids2-docs-toc li {
    cursor: pointer;
    list-style: none;
    padding: 4px 0;
}

.ids2-docs-toc li.ids2-docs-toc-page {
    font-weight: var(--ids2-font-bold);
}

.ids2-docs-toc li.ids2-docs-toc-section {
    padding-left: 24px;
}

.ids2-docs-back {
    display: flex;
    align-items: center;
    gap: var(--ids2-spacing-1);
    margin-bottom: var(--ids2-spacing-3);
}

.ids2-docs-header {
    margin: 40px 0;
}

.ids2-docs-section {
    margin: 60px 0 120px;
}

.ids2-docs-section-title {
    font-size: var(--ids2-size-title3);
    font-weight: var(--ids2-font-bold);
    margin-bottom: 24px;
}

.ids2-docs-section-label {
    margin-top: 60px;
    margin-bottom: 24px;
    text-transform: uppercase;
    font-weight: var(--ids2-font-bold);
}

code.ids2-docs-code {
    white-space: pre-line;
    font-family: monospace;
    font-size: 12px;
}

.ids2-docs-file-list {
    height: 405px;
    overflow: auto;
}


td.ids2-docs-name {
    font-size: var(--ids2-size-body2);
    color: var(--ids2-color-gray-900);
    font-weight: var(--ids2-font-bold);
    vertical-align: top;
}

.ids2-docs-classname {
    color: var(--ids2-color-point-blue);
    font-weight: var(--ids2-font-bold);
    font-family: monospace;
    font-size: 12px;
    vertical-align: top;
}

.ids2-docs-comment {
    margin-left: 10px;
    font-style: italic;
    color: var(--ids2-color-gray-400);
}

.ids2-docs-reference-button {
    font-size: var(--ids2-size-body3);
    font-weight: var(--ids2-font-semibold);
    cursor: pointer;
}

.ids2-docs-reference {
    /*height: 30px;
    overflow: hidden;*/
    transition: height 0.3s ease-in-out;
}


.ids2-docs-reference .ids2-docs-reference-button .ids2-icon {
    transition: transform 0.2s ease-in-out;
}


.ids2-docs-reference.ids2-docs-reference-open .ids2-docs-reference-button .ids2-icon {
    transform: rotate(90deg);
}

.ids2-docs-examples {
    border: var(--ids2-border-1);
    border-radius: var(--ids2-radius-12);
    padding: var(--ids2-spacing-3);
    display: flex;
    flex-direction: column;
    gap: var(--ids2-spacing-6);
    background: linear-gradient(90deg, transparent 50%, #2d2d2d 50%);
    margin-bottom: var(--ids2-spacing-3);
}


.ids2-docs-example-code-block {
    display: flex;
    flex-direction: row;
    gap:  var(--ids2-spacing-3);
}

.ids2-docs-example-code {
    margin-top: var(--ids2-spacing-1-half);
    display: flex;
}

.ids2-docs-example {
    position: relative;
    font-family: inherit;
    width: calc(50% - var(--ids2-spacing-3));
    margin-right: var(--ids2-spacing-3);
    box-sizing: border-box;
}

.ids2-docs-example-absolute > * {
    position: absolute;
}

.ids2-docs-example-labels {
    width: 50%;
    text-overflow: ellipsis;
}

.ids2-docs-example-code pre[class*=language-] {
    box-sizing: border-box;
    padding: 0 1em;
    margin: 0;
}

.ids2-docs-example-code-highlight {
    margin-right: calc(var(--ids2-spacing-3) * -1) !important;
    width: calc(50% + var(--ids2-spacing-3));
    font-size: 12px !important;
}

.ids2-docs-code-highlight {
    margin-right: calc(var(--ids2-spacing-3) * -1) !important;
    font-size: 12px !important;
}

.ids2-docs-code-highlight pre {
    border-radius: var(--ids2-radius-12);
}


.treeview {
    font-size: inherit;
    font-style: normal;
    list-style: none;
    padding-left: 0
}

.treeview-folder,
.treeview-file {
    padding-left: 24px;
}

.treeview-folder {
    padding-top: 6px;
}


.treeview-folder:before {
    font-family: "PrismTreeview", serif;
    content: "\ea02";
    font-size: inherit;
    font-style: normal;
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 24px;
    display: inline-block;
    vertical-align: middle;
}

.treeview-file:before {
    font-family: "PrismTreeview", serif;
    content: "\ea07";
    font-size: inherit;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 24px;
    display: inline-block;
    vertical-align: middle;
}

@media print {
    .ids2-docs-back {
        display: none;
    }
    .ids2-docs-toc {
        display: none;
    }
}