<div class="ids2-popover-example">
    <div class="ids2-popover-examples">
        <div class="ids2-popover">
            <div class="ids2-popover-content">
                <i class="ids2-icon ids2-icon-image ids2-icon-outline ids2-icon-xs">Image</i>
                <div class="ids2-popover-text">
                    <span>텍스트를 노출합니다.</span>
                    <span>텍스트를 노출합니다.</span>
                </div>
                <div class="ids2-popover-arrow arrow-side-bottom arrow-align-left"></div>
            </div>
        </div>
        <div class="ids2-popover">
            <div class="ids2-popover-content">
                <i class="ids2-icon ids2-icon-image ids2-icon-outline ids2-icon-xs">Image</i>
                <div class="ids2-popover-text">
                    <span>텍스트를 노출합니다.</span>
                    <span>텍스트를 노출합니다.</span>
                </div>
                <div class="ids2-popover-arrow arrow-side-bottom arrow-align-center"></div>
            </div>
        </div>
        <div class="ids2-popover">
            <div class="ids2-popover-content">
                <i class="ids2-icon ids2-icon-image ids2-icon-outline ids2-icon-xs">Image</i>
                <div class="ids2-popover-text">
                    <span>텍스트를 노출합니다.</span>
                    <span>텍스트를 노출합니다.</span>
                </div>
                <div class="ids2-popover-arrow arrow-side-bottom arrow-align-right"></div>
            </div>
        </div>
    </div>
    <div class="ids2-popover-examples">
        <div class="ids2-popover">
            <div class="ids2-popover-content">
                <i class="ids2-icon ids2-icon-image ids2-icon-outline ids2-icon-xs">Image</i>
                <div class="ids2-popover-text">
                    <span>텍스트를 노출합니다.</span>
                    <span>텍스트를 노출합니다.</span>
                </div>
                <div class="ids2-popover-arrow arrow-side-top arrow-align-left"></div>
            </div>
        </div>
        <div class="ids2-popover">
            <div class="ids2-popover-content">
                <i class="ids2-icon ids2-icon-image ids2-icon-outline ids2-icon-xs">Image</i>
                <div class="ids2-popover-text">
                    <span>텍스트를 노출합니다.</span>
                    <span>텍스트를 노출합니다.</span>
                </div>
                <div class="ids2-popover-arrow arrow-side-top arrow-align-center"></div>
            </div>
        </div>
        <div class="ids2-popover">
            <div class="ids2-popover-content">
                <i class="ids2-icon ids2-icon-image ids2-icon-outline ids2-icon-xs">Image</i>
                <div class="ids2-popover-text">
                    <span>텍스트를 노출합니다.</span>
                    <span>텍스트를 노출합니다.</span>
                </div>
                <div class="ids2-popover-arrow arrow-side-top arrow-align-right"></div>
            </div>
        </div>
    </div>
    <div class="ids2-popover-examples">
        <div class="ids2-popover">
            <div class="ids2-popover-content">
                <i class="ids2-icon ids2-icon-image ids2-icon-outline ids2-icon-xs">Image</i>
                <div class="ids2-popover-text">
                    <span>텍스트를 노출합니다.</span>
                    <span>텍스트를 노출합니다.</span>
                </div>
                <div class="ids2-popover-arrow arrow-side-right arrow-align-top"></div>
            </div>
        </div>
        <div class="ids2-popover">
            <div class="ids2-popover-content">
                <i class="ids2-icon ids2-icon-image ids2-icon-outline ids2-icon-xs">Image</i>
                <div class="ids2-popover-text">
                    <span>텍스트를 노출합니다.</span>
                    <span>텍스트를 노출합니다.</span>
                </div>
                <div class="ids2-popover-arrow arrow-side-right arrow-align-middle"></div>
            </div>
        </div>
        <div class="ids2-popover">
            <div class="ids2-popover-content">
                <i class="ids2-icon ids2-icon-image ids2-icon-outline ids2-icon-xs">Image</i>
                <div class="ids2-popover-text">
                    <span>텍스트를 노출합니다.</span>
                    <span>텍스트를 노출합니다.</span>
                </div>
                <div class="ids2-popover-arrow arrow-side-right arrow-align-bottom"></div>
            </div>
        </div>
    </div>
    <div class="ids2-popover-examples">
        <div class="ids2-popover">
            <div class="ids2-popover-content">
                <i class="ids2-icon ids2-icon-image ids2-icon-outline ids2-icon-xs">Image</i>
                <div class="ids2-popover-text">
                    <span>텍스트를 노출합니다.</span>
                    <span>텍스트를 노출합니다.</span>
                </div>
                <div class="ids2-popover-arrow arrow-side-left arrow-align-top"></div>
            </div>
        </div>
        <div class="ids2-popover">
            <div class="ids2-popover-content">
                <i class="ids2-icon ids2-icon-image ids2-icon-outline ids2-icon-xs">Image</i>
                <div class="ids2-popover-text">
                    <span>텍스트를 노출합니다.</span>
                    <span>텍스트를 노출합니다.</span>
                </div>
                <div class="ids2-popover-arrow arrow-side-left arrow-align-middle"></div>
            </div>
        </div>
        <div class="ids2-popover">
            <div class="ids2-popover-content">
                <i class="ids2-icon ids2-icon-image ids2-icon-outline ids2-icon-xs">Image</i>
                <div class="ids2-popover-text">
                    <span>텍스트를 노출합니다.</span>
                    <span>텍스트를 노출합니다.</span>
                </div>
                <div class="ids2-popover-arrow arrow-side-left arrow-align-bottom"></div>
            </div>
        </div>
    </div>
</div>