<div class="ids-popover-examples">
    <div class="ids-popover-example">
        <div class="ids-popover">
            <div class="ids-popover-content">
                <i class="ids-icon ids-icon-image ids-icon-gray-150 ids-icon-sm">Image</i>
                <div class="ids-popover-text">
                    <span>텍스트를 노출합니다.</span>
                    <span>텍스트를 노출합니다.</span>
                </div>
                <div class="ids-popover-arrow arrow-side-bottom ids-popover-align-left"></div>
            </div>
        </div>
        <div class="ids-popover">
            <div class="ids-popover-content">
                <i class="ids-icon ids-icon-image ids-icon-gray-150 ids-icon-sm">Image</i>
                <div class="ids-popover-text">
                    <span>텍스트를 노출합니다.</span>
                    <span>텍스트를 노출합니다.</span>
                </div>
                <div class="ids-popover-arrow ids-popover-side-bottom ids-popover-align-center"></div>
            </div>
        </div>
        <div class="ids-popover">
            <div class="ids-popover-content">
                <i class="ids-icon ids-icon-image ids-icon-gray-150 ids-icon-sm">Image</i>
                <div class="ids-popover-text">
                    <span>텍스트를 노출합니다.</span>
                    <span>텍스트를 노출합니다.</span>
                </div>
                <div class="ids-popover-arrow ids-popover-side-bottom ids-popover-align-right"></div>
            </div>
        </div>
        <h4>Bottom Pointer</h4>
    </div>
    <div class="ids-popover-example">
        <div class="ids-popover">
            <div class="ids-popover-content">
                <i class="ids-icon ids-icon-image ids-icon-gray-150 ids-icon-sm">Image</i>
                <div class="ids-popover-text">
                    <span>텍스트를 노출합니다.</span>
                    <span>텍스트를 노출합니다.</span>
                </div>
                <div class="ids-popover-arrow ids-popover-side-top ids-popover-align-left"></div>
            </div>
        </div>
        <div class="ids-popover">
            <div class="ids-popover-content">
                <i class="ids-icon ids-icon-image ids-icon-gray-150 ids-icon-sm">Image</i>
                <div class="ids-popover-text">
                    <span>텍스트를 노출합니다.</span>
                    <span>텍스트를 노출합니다.</span>
                </div>
                <div class="ids-popover-arrow ids-popover-side-top ids-popover-align-center"></div>
            </div>
        </div>
        <div class="ids-popover">
            <div class="ids-popover-content">
                <i class="ids-icon ids-icon-image ids-icon-gray-150 ids-icon-sm">Image</i>
                <div class="ids-popover-text">
                    <span>텍스트를 노출합니다.</span>
                    <span>텍스트를 노출합니다.</span>
                </div>
                <div class="ids-popover-arrow ids-popover-side-top ids-popover-align-right"></div>
            </div>
        </div>
        <h4>Top Pointer</h4>
    </div>
    <div class="ids-popover-example">
        <div class="ids-popover">
            <div class="ids-popover-content">
                <i class="ids-icon ids-icon-image ids-icon-gray-150 ids-icon-sm">Image</i>
                <div class="ids-popover-text">
                    <span>텍스트를 노출합니다.</span>
                    <span>텍스트를 노출합니다.</span>
                </div>
                <div class="ids-popover-arrow ids-popover-side-right ids-popover-align-top"></div>
            </div>
        </div>
        <div class="ids-popover">
            <div class="ids-popover-content">
                <i class="ids-icon ids-icon-image ids-icon-gray-150 ids-icon-sm">Image</i>
                <div class="ids-popover-text">
                    <span>텍스트를 노출합니다.</span>
                    <span>텍스트를 노출합니다.</span>
                </div>
                <div class="ids-popover-arrow ids-popover-side-right ids-popover-align-middle"></div>
            </div>
        </div>
        <div class="ids-popover">
            <div class="ids-popover-content">
                <i class="ids-icon ids-icon-image ids-icon-gray-150 ids-icon-sm">Image</i>
                <div class="ids-popover-text">
                    <span>텍스트를 노출합니다.</span>
                    <span>텍스트를 노출합니다.</span>
                </div>
                <div class="ids-popover-arrow ids-popover-side-right ids-popover-align-bottom"></div>
            </div>
        </div>
        <h4>Right Pointer</h4>
    </div>
    <div class="ids-popover-example">
        <div class="ids-popover">
            <div class="ids-popover-content">
                <i class="ids-icon ids-icon-image ids-icon-gray-150 ids-icon-sm">Image</i>
                <div class="ids-popover-text">
                    <span>텍스트를 노출합니다.</span>
                    <span>텍스트를 노출합니다.</span>
                </div>
                <div class="ids-popover-arrow ids-popover-side-left ids-popover-align-top"></div>
            </div>
        </div>
        <div class="ids-popover">
            <div class="ids-popover-content">
                <i class="ids-icon ids-icon-image ids-icon-gray-150 ids-icon-sm">Image</i>
                <div class="ids-popover-text">
                    <span>텍스트를 노출합니다.</span>
                    <span>텍스트를 노출합니다.</span>
                </div>
                <div class="ids-popover-arrow ids-popover-side-left ids-popover-align-middle"></div>
            </div>
        </div>
        <div class="ids-popover">
            <div class="ids-popover-content">
                <i class="ids-icon ids-icon-image ids-icon-gray-150 ids-icon-sm">Image</i>
                <div class="ids-popover-text">
                    <span>텍스트를 노출합니다.</span>
                    <span>텍스트를 노출합니다.</span>
                </div>
                <div class="ids-popover-arrow ids-popover-side-left ids-popover-align-bottom"></div>
            </div>
        </div>
        <h4>Left Pointer</h4>
    </div>
</div>