<div class="ids-popover-examples">
    <div class="ids-popover-example">
        <div class="ids-popover ids-arrow-side-bottom ids-arrow-align-left">
            <div class="ids-popover-content">
                <i class="ids-icon ids-icon-image ids-icon-gray-150 ids-icon-sm">Image</i>
                <div class="ids-popover-text">
                    <span>텍스트를 노출합니다.</span>
                    <span>텍스트를 노출합니다.</span>
                </div>
            </div>
        </div>
        <div class="ids-popover ids-arrow-side-bottom ids-arrow-align-center">
            <div class="ids-popover-content">
                <i class="ids-icon ids-icon-image ids-icon-gray-150 ids-icon-sm">Image</i>
                <div class="ids-popover-text">
                    <span>텍스트를 노출합니다.</span>
                    <span>텍스트를 노출합니다.</span>
                </div>
            </div>
        </div>
        <div class="ids-popover ids-arrow-side-bottom ids-arrow-align-right">
            <div class="ids-popover-content">
                <i class="ids-icon ids-icon-image ids-icon-gray-150 ids-icon-sm">Image</i>
                <div class="ids-popover-text">
                    <span>텍스트를 노출합니다.</span>
                    <span>텍스트를 노출합니다.</span>
                </div>
            </div>
        </div>
        <h4>Bottom Pointer</h4>
    </div>
    <div class="ids-popover-example">
        <div class="ids-popover ids-arrow-side-top ids-arrow-align-left">
            <div class="ids-popover-content">
                <i class="ids-icon ids-icon-image ids-icon-gray-150 ids-icon-sm">Image</i>
                <div class="ids-popover-text">
                    <span>텍스트를 노출합니다.</span>
                    <span>텍스트를 노출합니다.</span>
                </div>
            </div>
        </div>
        <div class="ids-popover ids-arrow-side-top ids-arrow-align-center">
            <div class="ids-popover-content">
                <i class="ids-icon ids-icon-image ids-icon-gray-150 ids-icon-sm">Image</i>
                <div class="ids-popover-text">
                    <span>텍스트를 노출합니다.</span>
                    <span>텍스트를 노출합니다.</span>
                </div>
            </div>
        </div>
        <div class="ids-popover ids-arrow-side-top ids-arrow-align-right">
            <div class="ids-popover-content">
                <i class="ids-icon ids-icon-image ids-icon-gray-150 ids-icon-sm">Image</i>
                <div class="ids-popover-text">
                    <span>텍스트를 노출합니다.</span>
                    <span>텍스트를 노출합니다.</span>
                </div>
            </div>
        </div>
        <h4>Top Pointer</h4>
    </div>
    <div class="ids-popover-example">
        <div class="ids-popover ids-arrow-side-right ids-arrow-align-top">
            <div class="ids-popover-content">
                <i class="ids-icon ids-icon-image ids-icon-gray-150 ids-icon-sm">Image</i>
                <div class="ids-popover-text">
                    <span>텍스트를 노출합니다.</span>
                    <span>텍스트를 노출합니다.</span>
                </div>
            </div>
        </div>
        <div class="ids-popover ids-arrow-side-right ids-arrow-align-middle">
            <div class="ids-popover-content">
                <i class="ids-icon ids-icon-image ids-icon-gray-150 ids-icon-sm">Image</i>
                <div class="ids-popover-text">
                    <span>텍스트를 노출합니다.</span>
                    <span>텍스트를 노출합니다.</span>
                </div>
            </div>
        </div>
        <div class="ids-popover ids-arrow-side-right ids-arrow-align-bottom">
            <div class="ids-popover-content">
                <i class="ids-icon ids-icon-image ids-icon-gray-150 ids-icon-sm">Image</i>
                <div class="ids-popover-text">
                    <span>텍스트를 노출합니다.</span>
                    <span>텍스트를 노출합니다.</span>
                </div>
            </div>
        </div>
        <h4>Right Pointer</h4>
    </div>
    <div class="ids-popover-example">
        <div class="ids-popover ids-arrow-side-left ids-arrow-align-top">
            <div class="ids-popover-content">
                <i class="ids-icon ids-icon-image ids-icon-gray-150 ids-icon-sm">Image</i>
                <div class="ids-popover-text">
                    <span>텍스트를 노출합니다.</span>
                    <span>텍스트를 노출합니다.</span>
                </div>
            </div>
        </div>
        <div class="ids-popover ids-arrow-side-left ids-arrow-align-middle">
            <div class="ids-popover-content">
                <i class="ids-icon ids-icon-image ids-icon-gray-150 ids-icon-sm">Image</i>
                <div class="ids-popover-text">
                    <span>텍스트를 노출합니다.</span>
                    <span>텍스트를 노출합니다.</span>
                </div>
            </div>
        </div>
        <div class="ids-popover ids-arrow-side-left ids-arrow-align-bottom">
            <div class="ids-popover-content">
                <i class="ids-icon ids-icon-image ids-icon-gray-150 ids-icon-sm">Image</i>
                <div class="ids-popover-text">
                    <span>텍스트를 노출합니다.</span>
                    <span>텍스트를 노출합니다.</span>
                </div>
            </div>
        </div>
        <h4>Left Pointer</h4>
    </div>
</div>