@import "./full/styles.css";

.ids2-drawer {
    position: absolute;
    top: 0;
    z-index: 1001;
    background-color: #fff;
    width: 100%;
}

.ids2-drawer.ids2-drawer-full {
    bottom: 0;
    left: 0;
    transition: left 0.3s ease-in-out;
}

.ids2-drawer.ids2-drawer-full.ids2-drawer-hide {
    left: 100%;
}

.ids2-drawer.ids2-drawer-modal {
    width: 280px;
    right: 0;
    bottom: 0;
    transition: transform 0.3s ease-in-out;
}

.ids2-drawer.ids2-drawer-modal.ids2-drawer-hide {
    transform: translateX(100%);
}


.ids2-drawer-navigation {
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.ids2-drawer-navigation-right {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: right;
}

.ids2-drawer-close {
    cursor: pointer;
}