<div class="ids-slider-examples">
    <div class="ids-slider-example">
        <div class="ids-slider ids-slider__vertical ids-slider__between" data-min-value="20" data-value="40">
            <!-- 트랙 -->
            <div class="ids-slider__track">
                <div class="ids-slider__track-range"></div>
            </div>

            <!-- 핸들(드래그 대상) -->
            <div class="ids-slider__handle">
                <!-- 툴팁(현재 값 표시) -->
                <div class="ids-slider__tooltip">텍스트</div>
            </div>
            <!-- 핸들(드래그 대상) -->
            <div class="ids-slider__handle-min">
                <!-- 툴팁(현재 값 표시) -->
                <div class="ids-slider__tooltip">텍스트</div>
            </div>


            <div class="ids-slider__range-end">50</div>

            <div class="ids-slider__range-start">0</div>
        </div>
    </div>
    <div class="ids-slider-example">
        <div class="ids-slider ids-slider__vertical ids-slider__snap" data-min-value="8" data-value="25">
            <!-- 트랙 -->
            <div class="ids-slider__track">
                <div class="ids-slider__track-range"></div>
                <div class="ids-slider__track-snap" style="top: 16.66%;"></div>
                <div class="ids-slider__track-snap" style="top: 33.33%;"></div>
                <div class="ids-slider__track-snap" style="top: 50%;"></div>
                <div class="ids-slider__track-snap" style="top: 66.66%;"></div>
                <div class="ids-slider__track-snap" style="top: 83.33%;"></div>
            </div>

            <!-- 핸들(드래그 대상) -->
            <div class="ids-slider__handle">
                <!-- 툴팁(현재 값 표시) -->
                <div class="ids-slider__tooltip">텍스트</div>
            </div>
            <!-- 핸들(드래그 대상) -->
            <div class="ids-slider__handle-min">
                <!-- 툴팁(현재 값 표시) -->
                <div class="ids-slider__tooltip">텍스트</div>
            </div>

            <div class="ids-slider__range-end">50</div>

            <div class="ids-slider__range-start">0</div>
        </div>
    </div>
    <div>

        <div class="ids-slider-example">
            <div class="ids-slider ids-slide__horizontal" data-min-value="0" data-value="25">
                <!-- 트랙 -->
                <div class="ids-slider__track">
                    <div class="ids-slider__track-range"></div>
                </div>

                <!-- 핸들(드래그 대상) -->
                <div class="ids-slider__handle">
                    <!-- 툴팁(현재 값 표시) -->
                    <div class="ids-slider__tooltip">텍스트</div>
                </div>
                <!-- 핸들(드래그 대상) -->
                <div class="ids-slider__handle-min">
                    <!-- 툴팁(현재 값 표시) -->
                    <div class="ids-slider__tooltip">텍스트</div>
                </div>

                <div class="ids-slider__range-start">0</div>

                <div class="ids-slider__range-end">50</div>
            </div>
        </div>
        <div class="ids-slider-example">
            <div class="ids-slider ids-slide__horizontal ids-slider__snap" data-min-value="17" data-value="42">
                <!-- 트랙 -->
                <div class="ids-slider__track">
                    <div class="ids-slider__track-range"></div>
                    <div class="ids-slider__track-snap" style="left: 16.66%;"></div>
                    <div class="ids-slider__track-snap" style="left: 33.33%;"></div>
                    <div class="ids-slider__track-snap" style="left: 50%;"></div>
                    <div class="ids-slider__track-snap" style="left: 66.66%;"></div>
                    <div class="ids-slider__track-snap" style="left: 83.33%;"></div>
                </div>

                <!-- 핸들(드래그 대상) -->
                <div class="ids-slider__handle">
                    <!-- 툴팁(현재 값 표시) -->
                    <div class="ids-slider__tooltip">텍스트</div>
                </div>
                <!-- 핸들(드래그 대상) -->
                <div class="ids-slider__handle-min">
                    <!-- 툴팁(현재 값 표시) -->
                    <div class="ids-slider__tooltip">텍스트</div>
                </div>

                <div class="ids-slider__range-start">0</div>

                <div class="ids-slider__range-end">50</div>
            </div>
        </div>
    </div>
</div>