<div class="ids-list-example">
    <div class="ids-menu">
        <div class="ids-menu-section">
            <div class="ids-menu-title">최근 이용 메뉴</div>
            <div class="ids-menu-item">카드몰</div>
            <div class="ids-menu-item">포인트 모으기</div>
            <div class="ids-menu-item">자주하는 질문</div>
        </div>
        <div class="ids-divider ids-divider-thick"></div>
        <div class="ids-menu-section">
            <div class="ids-menu-title">혜택</div>
            <div class="ids-menu-item">진행 중인 이벤트</div>
            <div class="ids-menu-item">받은 혜택</div>
            <div class="ids-menu-item">카드 VIP 라운지</div>
        </div>
        <div class="ids-divider ids-divider-thick"></div>
    </div>
</div>