<div class="ids-banner-examples">
    <div class="ids-banner-examples-wrap">
        <div class="ids-banner ids-banner-small-xs ids-banner-notice">
            <div class="ids-banner-icon ids-mr-1">
                <i class="ids-icon ids-icon-image ids-icon-gray-500">Image</i>
            </div>
            <div class="ids-banner-content">
                <div class="ids-banner-text">
                    텍스트를 노출합니다.
                </div>
            </div>
            <button class="ids-banner-close">
                <i class="ids-icon ids-icon-sm ids-icon-close">Close</i>
            </button>
        </div>
    </div>
</div>