<div class="ids-text-field-example">
    <div class="ids-input-form">
        <label for="textField-input" class="ids-text-field-label">
            <span>인증번호</span>
        </label>
        <div class="ids-input-group ids-input-verify-number">
            <div class="ids-text-field ids-text-field-full-width ids-input-auth-time">
                <div class="ids-text-field-container">
                    <input type="text"
                           id="textField-input"
                           class="ids-text-field-input"
                           maxlength="6"
                           placeholder="인증번호 6자리"
                    />
                    <div class="ids-input-function">
                        <span class="ids-input-timer">02:59</span>
                        <button class="ids-input-clear">
                            <i class="ids-icon ids-icon-clear">Clear</i>
                        </button>
                        <button class="ids-button ids-button-sm ids-button-tertiary ids-button-tint">
                            <i class="ids-icon ids-icon-image ids-icon-xs ids-tint">Image</i>
                            레이블
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>