.ids2-icon {
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ids2-h3 {
    font-family: 'Pretendard', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
}

.ids2-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}