<div class="ids-text-field-example">
    <div class="ids-input-secret-card">
        <h4 class="ids-input-secret-card-label">
            시크리트 카드 일련번호 입력
        </h4>

        <!-- 입력 박스 -->
        <div class="ids-secret-card-box">
            <!-- 안내 문구 -->
            <span class="ids-secret-card-info">
                <span class="ids-highlight">[1][4][5]</span>번째
            </span>

            <div class="ids-secret-card-container">
                <!-- 실제 입력 필드 (3개 예시) -->
                <input
                        type="password"
                        class="ids-secret-card-input"
                        maxlength="1"
                />
                <span class="ids-secret-card-mask">*</span>
                <span class="ids-secret-card-mask">*</span>
                <input
                        type="password"
                        class="ids-secret-card-input"
                        maxlength="1"
                />
                <input
                        type="password"
                        class="ids-secret-card-input"
                        maxlength="1"
                />
                <span class="ids-secret-card-mask">*</span>
                <span class="ids-secret-card-mask">*</span>
            </div>
        </div>
    </div>
</div>