<div class="ids2-text-field-example">
    <div class="ids2-text-field ids2-email-field">
        <label for="textField-input" class="ids2-text-field-label">
            <span>이메일</span><span class="ids2-label-optional">선택</span>
        </label>
        <div class="ids2-text-field-container">
            <div class="ids2-email-field-name">
                <input type="text"
                       class="ids2-text-field-input"
                       id="textField-input"
                       maxlength="100"
                       placeholder="이메일"
                />
            </div>
            <div class="ids2-email-field-separator">@</div>

            <div class="ids2-email-field-domain">
                <input type="text"
                       class="ids2-text-field-input"
                       id="textField-input2"
                       maxlength="100"
                       placeholder="선택"
                       readonly
                />
            </div>
        </div>
    </div>
</div>