.ids2-footer {
    background: #ffffff;
    padding: 24px;
    font-size: 14px;
    line-height: 18px;
}
.ids2-footer-logo {
    margin-bottom: 16px;
}
.ids2-footer-logo-img {
    width: 124px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='124' height='24' viewBox='0 0 124 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_4516_31731)'%3E%3Cpath d='M32.0992 5.29037H29.4746V21.1034H32.0992V5.29037Z' fill='%23004B9D'/%3E%3Cpath d='M35.7256 5.29018V21.1032H40.4868C44.5358 21.1032 46.4614 19.6511 46.4614 16.7603C46.4614 14.9485 45.4458 13.5764 43.7708 13.0568L43.6126 13.0035L43.7576 12.9369C45.3271 12.2708 46.0657 11.1252 46.0657 9.41995C46.0657 6.71562 44.2456 5.29018 40.5395 5.27686H35.7124M40.0384 14.1092C41.9112 14.1092 43.7049 14.4157 43.7181 16.5605C43.7181 17.3331 43.4543 17.9593 42.8872 18.319C42.32 18.6786 41.4628 18.8385 40.2626 18.8385H38.3502V14.1092H40.0384ZM40.9088 7.54157C41.6606 7.54157 43.4543 7.80801 43.4675 9.6331C43.4675 10.6456 43.0718 11.2184 42.3992 11.5115C41.7529 11.8046 40.8429 11.8445 39.8273 11.8445H38.3502V7.54157H40.9088Z' fill='%23004B9D'/%3E%3Cpath d='M61.1674 5.29037C60.3365 6.16962 54.1245 12.7906 54.1245 12.7906C54.1245 12.7906 60.864 20.1842 61.7213 21.1034H58.068C57.7251 20.7038 51.9483 13.9762 51.9483 13.9762V21.1034H49.3237V5.29037H51.9483V11.6849C51.9483 11.6849 57.4613 5.63674 57.791 5.29037H61.1674Z' fill='%23004B9D'/%3E%3Cpath d='M90.6978 14.3227V15.948H84.3275V14.3361H82.2569V21.0503H92.8212V14.3361H90.6978M90.6978 17.48V19.3984H84.3275V17.48H90.6978ZM86.5565 12.3644C87.3214 11.7783 87.8226 10.979 88.0204 10.0597H90.711V13.4968H92.808V5.29052H90.711V8.52773H88.0468C87.8885 7.54191 87.4269 6.7426 86.6224 6.11648C85.8311 5.49035 84.8815 5.17062 83.8132 5.17062C82.6657 5.17062 81.6502 5.55696 80.7797 6.3163C79.8961 7.07565 79.4608 8.04815 79.4608 9.20715C79.4608 10.3528 79.8961 11.3253 80.7797 12.098C81.6502 12.8707 82.6525 13.257 83.8132 13.257C84.8551 13.257 85.7783 12.9639 86.5565 12.3644ZM82.2173 11.0056C81.7953 10.5127 81.5842 9.93985 81.5842 9.23379C81.5842 8.52773 81.7953 7.95489 82.2305 7.47531C82.6525 7.00904 83.1801 6.78257 83.8132 6.78257C84.499 6.78257 85.0265 7.02236 85.4222 7.47531C85.8179 7.94157 86.0157 8.52773 86.0157 9.23379C86.0157 9.93985 85.8179 10.5127 85.409 11.0056C85.0002 11.4985 84.4726 11.725 83.7868 11.725C83.1669 11.725 82.6525 11.4852 82.2173 11.0056ZM75.3723 5.2772V21.0902H77.4693V5.2772H75.3723ZM64.8343 7.22219H70.3209V8.42116C70.2418 12.2312 67.604 15.4151 64.0562 16.2544L63.9639 16.2811L65.0322 17.6132H65.0717C69.0944 16.4143 72.4311 12.6309 72.4311 8.46112V5.69018H64.8343V7.23551V7.22219Z' fill='%23004B9D'/%3E%3Cpath d='M99.0331 15.9211H96.9097V21.0367H107.474V19.518H99.0331V15.9211Z' fill='%23004B9D'/%3E%3Cpath d='M105.575 5.84989C104.599 5.17048 103.425 4.83743 102.066 4.83743C100.708 4.83743 99.521 5.1838 98.545 5.84989C97.5691 6.52931 97.0679 7.47516 97.0679 8.68745C97.0679 9.89974 97.5691 10.8189 98.545 11.4984C99.521 12.1645 100.695 12.4975 102.066 12.4975C103.438 12.4975 104.599 12.1645 105.575 11.4984C106.551 10.8323 107.052 9.88642 107.052 8.68745C107.052 7.48848 106.564 6.52931 105.575 5.84989ZM104.111 10.3527C103.583 10.7923 102.897 11.0055 102.066 11.0055C101.236 11.0055 100.576 10.7923 100.035 10.3527C99.5078 9.91306 99.244 9.36686 99.244 8.68745C99.244 8.00803 99.5078 7.44852 100.035 6.98225C100.563 6.51599 101.236 6.27619 102.066 6.27619C102.897 6.27619 103.583 6.51599 104.098 6.98225C104.625 7.44852 104.889 8.00803 104.889 8.68745C104.889 9.36686 104.625 9.91306 104.098 10.3527H104.111Z' fill='%23004B9D'/%3E%3Cpath d='M109.004 13.2964H95.0366V14.9484H109.004V13.2964Z' fill='%23004B9D'/%3E%3Cpath d='M5.89304 0.307933C5.2336 0.64098 4.74561 1.2005 4.52139 1.90656L0.142678 15.2151C-0.0947225 15.9078 -0.0287779 16.6672 0.287756 17.3333C0.617478 17.986 1.1846 18.4923 1.87042 18.7187L16.2463 23.5945C16.9453 23.821 17.6839 23.7677 18.3434 23.4347C19.0028 23.1016 19.4908 22.5288 19.715 21.8361L24.0937 8.54084C24.5685 7.08876 23.7904 5.51678 22.3528 5.03719L7.99008 0.148071C7.29106 -0.0917224 6.55249 -0.0384351 5.89304 0.294611' fill='white'/%3E%3Cpath d='M12.9221 13.0837C12.144 13.963 11.168 14.6823 10.0337 15.122L9.38749 15.3751V9.20706L10.0206 9.46017C11.1548 9.89979 12.1308 10.6059 12.9089 11.4851C13.4629 10.5792 13.819 9.52678 13.8849 8.3811C14.0564 5.42365 12.2363 2.71931 9.71721 1.77346L7.64655 1.08072C6.71014 0.760999 5.70779 1.28055 5.40444 2.2264L1.01253 15.5216C0.696001 16.4675 1.22356 17.4933 2.15997 17.7997L12.1308 21.1701C13.1463 20.0777 13.8058 18.6256 13.8981 17.0137C13.9904 15.5749 13.6211 14.2161 12.9089 13.0704M7.15857 8.83404V15.7481H6.1694V8.83404H7.15857Z' fill='%230092D8'/%3E%3Cpath d='M22.0364 5.91632L12.8833 2.82565C14.1099 4.18448 14.8616 5.99625 14.8748 7.96789C14.8748 9.53987 14.3868 11.0319 13.5559 12.2842C14.4 13.5364 14.888 15.0285 14.888 16.5871C14.888 18.4522 14.2154 20.1707 13.1207 21.5029L16.563 22.6619C17.4994 22.9816 18.4886 22.4621 18.8051 21.5029L23.197 8.19436C23.5136 7.24851 22.986 6.22273 22.0496 5.91632M19.6228 15.7212H18.3831L15.8376 12.2709L18.4226 8.80717H19.6624L17.0774 12.2709L19.6096 15.7212H19.6228Z' fill='%23004B9D'/%3E%3Cpath d='M12.3426 12.2846C11.7887 11.6185 11.116 11.0723 10.3379 10.6726V13.9231C11.116 13.5102 11.7887 12.9506 12.3426 12.2979' fill='%23EA5504'/%3E%3Cpath d='M121.336 15.9743C120.399 15.4148 119.278 15.135 117.973 15.135C116.667 15.135 115.533 15.4148 114.609 15.9743C113.673 16.5338 113.211 17.3065 113.211 18.2923C113.211 19.2781 113.673 20.0375 114.609 20.597C115.546 21.1432 116.654 21.4229 117.973 21.4229C119.292 21.4229 120.399 21.1432 121.336 20.597C122.272 20.0375 122.734 19.2781 122.734 18.2923C122.734 17.3065 122.272 16.5205 121.336 15.9743ZM119.938 19.5179C119.423 19.8376 118.764 19.9975 117.959 19.9975C117.155 19.9975 116.509 19.8376 115.994 19.5179C115.493 19.1982 115.229 18.7985 115.229 18.2923C115.229 17.7861 115.493 17.3731 115.994 17.04C116.509 16.6937 117.168 16.5338 117.959 16.5338C118.751 16.5338 119.423 16.707 119.938 17.04C120.452 17.3864 120.703 17.7994 120.703 18.2923C120.703 18.7852 120.452 19.1982 119.938 19.5179Z' fill='%23004B9D'/%3E%3Cpath d='M115.558 5.49039H110.81V6.91583H115.558V5.49039Z' fill='%23004B9D'/%3E%3Cpath d='M121.164 5.27692V8.92711H119.977V5.27692H117.973V14.2159H119.977V10.3525H121.164V14.842H123.156V5.27692H121.164Z' fill='%23004B9D'/%3E%3Cpath d='M117.26 7.42157H109.979V8.83369H111.509C110.626 9.40653 110.045 10.3257 110.045 11.3782C110.045 13.1366 111.654 14.5488 113.633 14.5488C115.611 14.5488 117.233 13.1233 117.233 11.3782C117.233 10.3257 116.653 9.41985 115.769 8.83369H117.273V7.42157M113.62 13.2699C112.683 13.2699 111.918 12.4173 111.918 11.3782C111.918 10.3391 112.683 9.48646 113.62 9.48646C114.556 9.48646 115.334 10.3391 115.334 11.3782C115.334 12.4173 114.569 13.2699 113.62 13.2699Z' fill='%23004B9D'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_4516_31731'%3E%3Crect width='124' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0;
    color: transparent;
}
.ids2-footer-logo p {
    margin: 0;
}
.ids2-footer-logo p:first-child {
    font-size: 16px;
    font-weight: 600;
}
.ids2-footer-menu {
    margin: 10px 0 16px;
    color: #454855;
}
.ids2-footer-menu a,
.ids2-footer-menu a:hover,
.ids2-footer-menu a:active,
.ids2-footer-menu a:focus,
.ids2-footer-menu a:visited {
    color: #454855;
    text-decoration: none;
    font-weight: 600;
}

.ids2-footer-menu a:not(:last-child):after {
    content: ' ';
    display: inline-block;
    font-size: 0;
    width: 1px;
    height: 10px;
    background-color: #979BAA;
    margin: 0 12px;
}
.menu span {
    margin-right: 10px;
}
.ids2-footer-info {
    font-size: 13px;
    line-height: 20px;
}
.ids2-footer-info-label {
    font-weight: 600;
    color: #101116;
    margin-right: 4px;
}
.ids2-footer-info-text {
    font-weight: 400;
    color: #101116;
    margin-right: 8px;
}
.ids2-footer-info p {
    margin: 2px 0;
    padding: 0;
}
.ids2-footer-copyright {
    margin-top: 14px;
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    color: #979BAA;
}.ids2-footer {
     background: #ffffff;
     padding: 24px;
     font-size: 14px;
     line-height: 18px;
 }
.ids2-footer-logo {
    margin-bottom: 16px;
}
.ids2-footer-logo-img {
    width: 124px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='124' height='24' viewBox='0 0 124 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_4516_31731)'%3E%3Cpath d='M32.0992 5.29037H29.4746V21.1034H32.0992V5.29037Z' fill='%23004B9D'/%3E%3Cpath d='M35.7256 5.29018V21.1032H40.4868C44.5358 21.1032 46.4614 19.6511 46.4614 16.7603C46.4614 14.9485 45.4458 13.5764 43.7708 13.0568L43.6126 13.0035L43.7576 12.9369C45.3271 12.2708 46.0657 11.1252 46.0657 9.41995C46.0657 6.71562 44.2456 5.29018 40.5395 5.27686H35.7124M40.0384 14.1092C41.9112 14.1092 43.7049 14.4157 43.7181 16.5605C43.7181 17.3331 43.4543 17.9593 42.8872 18.319C42.32 18.6786 41.4628 18.8385 40.2626 18.8385H38.3502V14.1092H40.0384ZM40.9088 7.54157C41.6606 7.54157 43.4543 7.80801 43.4675 9.6331C43.4675 10.6456 43.0718 11.2184 42.3992 11.5115C41.7529 11.8046 40.8429 11.8445 39.8273 11.8445H38.3502V7.54157H40.9088Z' fill='%23004B9D'/%3E%3Cpath d='M61.1674 5.29037C60.3365 6.16962 54.1245 12.7906 54.1245 12.7906C54.1245 12.7906 60.864 20.1842 61.7213 21.1034H58.068C57.7251 20.7038 51.9483 13.9762 51.9483 13.9762V21.1034H49.3237V5.29037H51.9483V11.6849C51.9483 11.6849 57.4613 5.63674 57.791 5.29037H61.1674Z' fill='%23004B9D'/%3E%3Cpath d='M90.6978 14.3227V15.948H84.3275V14.3361H82.2569V21.0503H92.8212V14.3361H90.6978M90.6978 17.48V19.3984H84.3275V17.48H90.6978ZM86.5565 12.3644C87.3214 11.7783 87.8226 10.979 88.0204 10.0597H90.711V13.4968H92.808V5.29052H90.711V8.52773H88.0468C87.8885 7.54191 87.4269 6.7426 86.6224 6.11648C85.8311 5.49035 84.8815 5.17062 83.8132 5.17062C82.6657 5.17062 81.6502 5.55696 80.7797 6.3163C79.8961 7.07565 79.4608 8.04815 79.4608 9.20715C79.4608 10.3528 79.8961 11.3253 80.7797 12.098C81.6502 12.8707 82.6525 13.257 83.8132 13.257C84.8551 13.257 85.7783 12.9639 86.5565 12.3644ZM82.2173 11.0056C81.7953 10.5127 81.5842 9.93985 81.5842 9.23379C81.5842 8.52773 81.7953 7.95489 82.2305 7.47531C82.6525 7.00904 83.1801 6.78257 83.8132 6.78257C84.499 6.78257 85.0265 7.02236 85.4222 7.47531C85.8179 7.94157 86.0157 8.52773 86.0157 9.23379C86.0157 9.93985 85.8179 10.5127 85.409 11.0056C85.0002 11.4985 84.4726 11.725 83.7868 11.725C83.1669 11.725 82.6525 11.4852 82.2173 11.0056ZM75.3723 5.2772V21.0902H77.4693V5.2772H75.3723ZM64.8343 7.22219H70.3209V8.42116C70.2418 12.2312 67.604 15.4151 64.0562 16.2544L63.9639 16.2811L65.0322 17.6132H65.0717C69.0944 16.4143 72.4311 12.6309 72.4311 8.46112V5.69018H64.8343V7.23551V7.22219Z' fill='%23004B9D'/%3E%3Cpath d='M99.0331 15.9211H96.9097V21.0367H107.474V19.518H99.0331V15.9211Z' fill='%23004B9D'/%3E%3Cpath d='M105.575 5.84989C104.599 5.17048 103.425 4.83743 102.066 4.83743C100.708 4.83743 99.521 5.1838 98.545 5.84989C97.5691 6.52931 97.0679 7.47516 97.0679 8.68745C97.0679 9.89974 97.5691 10.8189 98.545 11.4984C99.521 12.1645 100.695 12.4975 102.066 12.4975C103.438 12.4975 104.599 12.1645 105.575 11.4984C106.551 10.8323 107.052 9.88642 107.052 8.68745C107.052 7.48848 106.564 6.52931 105.575 5.84989ZM104.111 10.3527C103.583 10.7923 102.897 11.0055 102.066 11.0055C101.236 11.0055 100.576 10.7923 100.035 10.3527C99.5078 9.91306 99.244 9.36686 99.244 8.68745C99.244 8.00803 99.5078 7.44852 100.035 6.98225C100.563 6.51599 101.236 6.27619 102.066 6.27619C102.897 6.27619 103.583 6.51599 104.098 6.98225C104.625 7.44852 104.889 8.00803 104.889 8.68745C104.889 9.36686 104.625 9.91306 104.098 10.3527H104.111Z' fill='%23004B9D'/%3E%3Cpath d='M109.004 13.2964H95.0366V14.9484H109.004V13.2964Z' fill='%23004B9D'/%3E%3Cpath d='M5.89304 0.307933C5.2336 0.64098 4.74561 1.2005 4.52139 1.90656L0.142678 15.2151C-0.0947225 15.9078 -0.0287779 16.6672 0.287756 17.3333C0.617478 17.986 1.1846 18.4923 1.87042 18.7187L16.2463 23.5945C16.9453 23.821 17.6839 23.7677 18.3434 23.4347C19.0028 23.1016 19.4908 22.5288 19.715 21.8361L24.0937 8.54084C24.5685 7.08876 23.7904 5.51678 22.3528 5.03719L7.99008 0.148071C7.29106 -0.0917224 6.55249 -0.0384351 5.89304 0.294611' fill='white'/%3E%3Cpath d='M12.9221 13.0837C12.144 13.963 11.168 14.6823 10.0337 15.122L9.38749 15.3751V9.20706L10.0206 9.46017C11.1548 9.89979 12.1308 10.6059 12.9089 11.4851C13.4629 10.5792 13.819 9.52678 13.8849 8.3811C14.0564 5.42365 12.2363 2.71931 9.71721 1.77346L7.64655 1.08072C6.71014 0.760999 5.70779 1.28055 5.40444 2.2264L1.01253 15.5216C0.696001 16.4675 1.22356 17.4933 2.15997 17.7997L12.1308 21.1701C13.1463 20.0777 13.8058 18.6256 13.8981 17.0137C13.9904 15.5749 13.6211 14.2161 12.9089 13.0704M7.15857 8.83404V15.7481H6.1694V8.83404H7.15857Z' fill='%230092D8'/%3E%3Cpath d='M22.0364 5.91632L12.8833 2.82565C14.1099 4.18448 14.8616 5.99625 14.8748 7.96789C14.8748 9.53987 14.3868 11.0319 13.5559 12.2842C14.4 13.5364 14.888 15.0285 14.888 16.5871C14.888 18.4522 14.2154 20.1707 13.1207 21.5029L16.563 22.6619C17.4994 22.9816 18.4886 22.4621 18.8051 21.5029L23.197 8.19436C23.5136 7.24851 22.986 6.22273 22.0496 5.91632M19.6228 15.7212H18.3831L15.8376 12.2709L18.4226 8.80717H19.6624L17.0774 12.2709L19.6096 15.7212H19.6228Z' fill='%23004B9D'/%3E%3Cpath d='M12.3426 12.2846C11.7887 11.6185 11.116 11.0723 10.3379 10.6726V13.9231C11.116 13.5102 11.7887 12.9506 12.3426 12.2979' fill='%23EA5504'/%3E%3Cpath d='M121.336 15.9743C120.399 15.4148 119.278 15.135 117.973 15.135C116.667 15.135 115.533 15.4148 114.609 15.9743C113.673 16.5338 113.211 17.3065 113.211 18.2923C113.211 19.2781 113.673 20.0375 114.609 20.597C115.546 21.1432 116.654 21.4229 117.973 21.4229C119.292 21.4229 120.399 21.1432 121.336 20.597C122.272 20.0375 122.734 19.2781 122.734 18.2923C122.734 17.3065 122.272 16.5205 121.336 15.9743ZM119.938 19.5179C119.423 19.8376 118.764 19.9975 117.959 19.9975C117.155 19.9975 116.509 19.8376 115.994 19.5179C115.493 19.1982 115.229 18.7985 115.229 18.2923C115.229 17.7861 115.493 17.3731 115.994 17.04C116.509 16.6937 117.168 16.5338 117.959 16.5338C118.751 16.5338 119.423 16.707 119.938 17.04C120.452 17.3864 120.703 17.7994 120.703 18.2923C120.703 18.7852 120.452 19.1982 119.938 19.5179Z' fill='%23004B9D'/%3E%3Cpath d='M115.558 5.49039H110.81V6.91583H115.558V5.49039Z' fill='%23004B9D'/%3E%3Cpath d='M121.164 5.27692V8.92711H119.977V5.27692H117.973V14.2159H119.977V10.3525H121.164V14.842H123.156V5.27692H121.164Z' fill='%23004B9D'/%3E%3Cpath d='M117.26 7.42157H109.979V8.83369H111.509C110.626 9.40653 110.045 10.3257 110.045 11.3782C110.045 13.1366 111.654 14.5488 113.633 14.5488C115.611 14.5488 117.233 13.1233 117.233 11.3782C117.233 10.3257 116.653 9.41985 115.769 8.83369H117.273V7.42157M113.62 13.2699C112.683 13.2699 111.918 12.4173 111.918 11.3782C111.918 10.3391 112.683 9.48646 113.62 9.48646C114.556 9.48646 115.334 10.3391 115.334 11.3782C115.334 12.4173 114.569 13.2699 113.62 13.2699Z' fill='%23004B9D'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_4516_31731'%3E%3Crect width='124' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0;
    color: transparent;
}
.ids2-footer-logo p {
    margin: 0;
}
.ids2-footer-logo p:first-child {
    font-size: 16px;
    font-weight: 600;
}
.ids2-footer-menu {
    margin: 10px 0 16px;
    color: #454855;
}
.ids2-footer-menu a,
.ids2-footer-menu a:hover,
.ids2-footer-menu a:active,
.ids2-footer-menu a:focus,
.ids2-footer-menu a:visited {
    color: #454855;
    text-decoration: none;
    font-weight: 600;
}

.ids2-footer-menu a:not(:last-child):after {
    content: ' ';
    display: inline-block;
    font-size: 0;
    width: 1px;
    height: 10px;
    background-color: #979BAA;
    margin: 0 12px;
}
.menu span {
    margin-right: 10px;
}
.ids2-footer-info {
    font-size: 13px;
    line-height: 20px;
}
.ids2-footer-info-label {
    font-weight: 600;
    color: #101116;
    margin-right: 4px;
}
.ids2-footer-info-text {
    font-weight: 400;
    color: #101116;
    margin-right: 8px;
}
.ids2-footer-info-text a,
.ids2-footer-info-text a:hover,
.ids2-footer-info-text a:focus,
.ids2-footer-info-text a:active,
.ids2-footer-info-text a:visited
{
    font-weight: 400;
    color: #101116;
    margin-right: 4px;
}

.ids2-footer-info p {
    margin: 2px 0;
    padding: 0;
}
.ids2-footer-copyright {
    margin-top: 14px;
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    color: #979BAA;
}