<div class="ids-footer-example">
    <div class="ids-footer">
        <div class="ids-footer-logo">
            <div class="ids-footer-logo-img">IBK 기업은행</div>
        </div>
        <div class="ids-footer-menu">
            <a href="#">IBK 이용약관</a>
            <a href="#">개인정보처리방침</a>
            <a href="#">공시실</a>
        </div>
        <div class="ids-footer-info">
            <p><span class="ids-footer-info-label">주소</span><span class="ids-footer-info-text">서울특별시 중구 을지로 79</span></p>
            <p><span class="ids-footer-info-label">대표명</span><span class="ids-footer-info-text">김성태</span><span class="ids-footer-info-label">사업자번호</span><span class="ids-footer-info-text">202-81-00978</span></p>
            <p><span class="ids-footer-info-label">고객센터</span><span class="ids-footer-info-text"><a href="tel:1588-2588">1588-2588</a>, <a href="tel:1566-2588">1566-2588</a></span></p>
        </div>
        <div class="ids-footer-copyright">
            Copyright © IBK(INDUSTRIAL BANK OF KOREA). All rights reserved.
        </div>
    </div>
</div>