<div class="ids2-bottom-sheet-examples">

    <div class="ids2-skeletons">
        <div class="ids2-skeleton-title">&nbsp;</div>
        <div class="ids2-skeleton-banner">&nbsp;</div>
        <div class="ids2-skeleton-title">&nbsp;</div>
        <div class="ids2-skeleton-list">
            <div class="ids2-skeleton-list-item">
                <div class="ids2-skeleton-circle">&nbsp;</div>
                <div class="ids2-skeleton-list-item-content">
                    <div class="ids2-skeleton-title">&nbsp;</div>
                    <div class="ids2-skeleton-subtext">&nbsp;</div>
                </div>
            </div>
            <div class="ids2-skeleton-list-item">
                <div class="ids2-skeleton-circle">&nbsp;</div>
                <div class="ids2-skeleton-list-item-content">
                    <div class="ids2-skeleton-title">&nbsp;</div>
                    <div class="ids2-skeleton-subtext">&nbsp;</div>
                </div>
            </div>
        </div>

        <div class="ids2-button-group ids2-button-group-floating">
            <button class="ids2-button ids2-button-primary ids2-button-fill">Bottom Sheet 호출</button>
        </div>
    </div>


    <div class="ids2-bottom-sheet">
        <div class="ids2-bottom-sheet-container" style="display: none;">
            <div class="ids2-bottom-sheet-header">
                <h3 class="ids2-h3 ids2-semibold">타이틀</h3>
                <button class="ids2-bottom-sheet-close">
                    <i class="ids2-icon ids2-icon-close"></i>
                </button>
            </div>

            <div class="ids2-bottom-sheet-content">
                <div style="height: 1000px"></div>
            </div>
        </div>

        <div class="ids2-backdrop ids2-backdrop-hide"></div>
    </div>
</div>