.ids2-bottom-sheet-container {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    max-height: 80%;
    background-color: #fff;
    z-index: 1001;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: bottom 0.3s ease-in-out;
}

.ids2-bottom-sheet-hide .ids2-bottom-sheet-container {
    bottom: -100%;
}