<div class="ids-tab-examples">
    <div class="ids-tab-example">
        <div class="ids-tab">
            <div class="ids-tab-item ids-tab-item-active">
                레이블
                <span class="ids-badge-wrap-inline">
                    <span class="ids-badge-dot ids-badge-dot-small">•</span>
                </span>
            </div>
            <div class="ids-tab-item">레이블
                <span class="ids-badge-wrap-inline">
                    <span class="ids-badge-dot ids-badge-dot-small">•</span>
                </span>
            </div>
            <div class="ids-tab-item">레이블
                <span class="ids-badge-wrap-inline">
                    <span class="ids-badge-dot ids-badge-dot-small">•</span>
                </span>
            </div>
            <div class="ids-tab-item">레이블
                <span class="ids-badge-wrap-inline">
                    <span class="ids-badge-dot ids-badge-dot-small">•</span>
                </span>
            </div>
        </div>
        <div class="ids-tab-overflow">
            <div class="ids-tab">
                <div class="ids-tab-item ids-tab-item-active">
                    레이블
                    <span class="ids-badge-wrap-inline">
                        <span class="ids-badge-dot ids-badge-dot-small">•</span>
                    </span>
                </div>
                <div class="ids-tab-item">레이블
                    <span class="ids-badge-wrap-inline">
                        <span class="ids-badge-dot ids-badge-dot-small">•</span>
                    </span>
                </div>
                <div class="ids-tab-item">레이블
                    <span class="ids-badge-wrap-inline">
                        <span class="ids-badge-dot ids-badge-dot-small">•</span>
                    </span>
                </div>
                <div class="ids-tab-item">레이블
                    <span class="ids-badge-wrap-inline">
                        <span class="ids-badge-dot ids-badge-dot-small">•</span>
                    </span>
                </div>
                <div class="ids-tab-item">레이블
                    <span class="ids-badge-wrap-inline">
                        <span class="ids-badge-dot ids-badge-dot-small">•</span>
                    </span>
                </div>
                <div class="ids-tab-item">레이블
                    <span class="ids-badge-wrap-inline">
                        <span class="ids-badge-dot ids-badge-dot-small">•</span>
                    </span>
                </div>
                <div class="ids-tab-item">레이블
                    <span class="ids-badge-wrap-inline">
                        <span class="ids-badge-dot ids-badge-dot-small">•</span>
                    </span>
                </div>
                <div class="ids-tab-item">레이블
                    <span class="ids-badge-wrap-inline">
                        <span class="ids-badge-dot ids-badge-dot-small">•</span>
                    </span>
                </div>
                <div class="ids-tab-item">레이블
                    <span class="ids-badge-wrap-inline">
                        <span class="ids-badge-dot ids-badge-dot-small">•</span>
                    </span>
                </div>
                <div class="ids-tab-item">레이블
                    <span class="ids-badge-wrap-inline">
                        <span class="ids-badge-dot ids-badge-dot-small">•</span>
                    </span>
                </div>
                <div class="ids-tab-item">레이블
                    <span class="ids-badge-wrap-inline">
                        <span class="ids-badge-dot ids-badge-dot-small">•</span>
                    </span>
                </div>
                <div class="ids-tab-item">레이블
                    <span class="ids-badge-wrap-inline">
                        <span class="ids-badge-dot ids-badge-dot-small">•</span>
                    </span>
                </div>
                <div class="ids-tab-item">레이블
                    <span class="ids-badge-wrap-inline">
                        <span class="ids-badge-dot ids-badge-dot-small">•</span>
                    </span>
                </div>
                <div class="ids-tab-item">레이블
                    <span class="ids-badge-wrap-inline">
                        <span class="ids-badge-dot ids-badge-dot-small">•</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>