<div class="ids-tab-examples">
    <div class="ids-tab-example">
        <div class="ids-tab-secondary">
            <!-- 탭 목록 -->
            <ul class="ids-tab-secondary-list">
                <!-- data-tab 속성으로 연결될 콘텐츠 id를 지정 -->
                <li class="ids-tab-secondary-item active" data-tab="tab1">
                    <span class="ids-tab-secondary-label">레이블</span>
                    <span class="ids-badge-count">0</span>
                </li>
                <li class="ids-tab-secondary-item" data-tab="tab2">
                    <span class="ids-tab-secondary-label">레이블</span>
                    <span class="ids-badge-count">0</span>
                </li>
                <li class="ids-tab-secondary-item" data-tab="tab3">
                    <span class="ids-tab-secondary-label">레이블</span>
                    <span class="ids-badge-count">0</span>
                </li>
            </ul>
        </div>
    </div>
</div>