<div class="ids2-tab-example">
    <div class="ids2-tab">
        <div class="ids2-tab-item active">
            전체
            <span class="ids2-badge-count">99</span>
        </div>
        <div class="ids2-tab-item">이용
            <span class="ids2-badge-count">99</span>
        </div>
        <div class="ids2-tab-item">혜택
            <span class="ids2-badge-count">99</span>
        </div>
        <div class="ids2-tab-item">안내
            <span class="ids2-badge-count">99</span>
        </div>
    </div>
    <div class="ids2-tab">
        <div class="ids2-tab-item active">
            전체
            <span class="ids2-badge-new-small">N</span>
        </div>
        <div class="ids2-tab-item">이용
            <span class="ids2-badge-new-small">N</span>
        </div>
        <div class="ids2-tab-item">혜택
            <span class="ids2-badge-new-small">N</span>
        </div>
        <div class="ids2-tab-item">안내
            <span class="ids2-badge-new-small">N</span>
        </div>
    </div>
    <div class="ids2-tab">
        <div class="ids2-tab-item active">
            전체
            <span class="ids2-badge-dot-small">•</span>
        </div>
        <div class="ids2-tab-item">이용
            <span class="ids2-badge-dot-small">•</span>
        </div>
        <div class="ids2-tab-item">혜택
            <span class="ids2-badge-dot-small">•</span>
        </div>
        <div class="ids2-tab-item">안내
            <span class="ids2-badge-dot-small">•</span>
        </div>
    </div>
</div>