
.ids2-indicator-more {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 18px;
    color: #30323B;
    cursor: pointer;
    font-weight: 500;
}

.ids2-indicator-more-count {
    margin-left: 4px;
}

.ids2-indicator-more-icon {
    margin-left: 5px;
    transition: transform 0.3s ease;
}