
.ids-indicator-more {
    display: flex;
    align-items: center;
    font-size: var(--ids-size-body4);
    line-height: var(--ids-line-body4-tight);
    font-weight: var(--ids-font-medium);
    color: var(--ids-color-gray-800);
    cursor: pointer;
}

.ids-indicator-more-count {
    margin-left: var(--ids-spacing-half);
}

.ids-indicator-more-icon {
    margin-left: 5px;
    transition: transform 0.3s ease;
}