<div class="ids-text-field-example">
    <div class="ids-text-field">
        <label for="textField-input" class="ids-text-field-label">
            <span>타이틀</span><span class="ids-label-required">필수</span><span class="ids-label-optional">선택</span>
        </label>
        <div class="ids-text-field-container">
            <input type="text"
                   class="ids-text-field-input"
                   id="textField-input"
                   maxlength="500"
                   placeholder="플레이스 홀더"
            />
            <button class="ids-input-clear">
                <i class="ids-icon ids-icon-clear">Clear</i>
            </button>
        </div>
        <div class="ids-text-field-functions">
            <div class="ids-text-field-note">도움말메세지</div>
            <div class="ids-text-field-counter">
                <span class="ids-text-field-count">0</span> / <span class="ids-text-field-maxlength">500</span>자</div>
        </div>
    </div>
</div>