<div class="ids2-text-field-example">
    <div class="ids2-input-form">
        <label for="textField-input" class="ids2-text-field-label">
            <span>카드번호</span><span class="ids2-label-required">필수</span>
        </label>
        <div class="ids2-input-group ids2-input-card-number">
            <div class="ids2-text-field">
                <div class="ids2-text-field-container">
                    <input type="text"
                           id="textField-input"
                           class="ids2-text-field-input"
                           maxlength="4"
                           placeholder="0000"
                    />
                    <button class="ids2-input-clear">
                        <i class="ids2-icon ids2-icon-clear">Clear</i>
                    </button>
                </div>
            </div>
            <div class="ids2-text-field">
                <div class="ids2-text-field-container">
                    <input type="text"
                           class="ids2-text-field-input"
                           maxlength="4"
                           placeholder="0000"
                    />
                    <button class="ids2-input-clear">
                        <i class="ids2-icon ids2-icon-clear">Clear</i>
                    </button>
                </div>
            </div>
            <div class="ids2-text-field">
                <div class="ids2-text-field-container">
                    <input type="text"
                           class="ids2-text-field-input"
                           maxlength="4"
                           placeholder="0000"
                    />
                    <button class="ids2-input-clear">
                        <i class="ids2-icon ids2-icon-clear">Clear</i>
                    </button>
                </div>
            </div>
            <div class="ids2-text-field">
                <div class="ids2-text-field-container">
                    <input type="text"
                           class="ids2-text-field-input"
                           maxlength="4"
                           placeholder="0000"
                    />
                    <button class="ids2-input-clear">
                        <i class="ids2-icon ids2-icon-clear">Clear</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>