<div class="ids-text-field-example">
    <div class="ids-input-form">
        <label for="textField-input" class="ids-text-field-label">
            <span>카드번호</span><span class="ids-label-required">필수</span>
        </label>
        <div class="ids-input-group ids-input-card-number">
            <div class="ids-text-field">
                <div class="ids-text-field-container">
                    <input type="text"
                           id="textField-input"
                           class="ids-text-field-input"
                           maxlength="4"
                           placeholder="0000"
                    />
                    <button class="ids-input-clear">
                        <i class="ids-icon ids-icon-clear">Clear</i>
                    </button>
                </div>
            </div>
            <div class="ids-text-field">
                <div class="ids-text-field-container">
                    <input type="text"
                           class="ids-text-field-input"
                           maxlength="4"
                           placeholder="0000"
                    />
                    <button class="ids-input-clear">
                        <i class="ids-icon ids-icon-clear">Clear</i>
                    </button>
                </div>
            </div>
            <div class="ids-text-field">
                <div class="ids-text-field-container">
                    <input type="text"
                           class="ids-text-field-input"
                           maxlength="4"
                           placeholder="0000"
                    />
                    <button class="ids-input-clear">
                        <i class="ids-icon ids-icon-clear">Clear</i>
                    </button>
                </div>
            </div>
            <div class="ids-text-field">
                <div class="ids-text-field-container">
                    <input type="text"
                           class="ids-text-field-input"
                           maxlength="4"
                           placeholder="0000"
                    />
                    <button class="ids-input-clear">
                        <i class="ids-icon ids-icon-clear">Clear</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>