/**
    Title
 */

.ids2-title1 {
    font-size: var(--ids2-size-title1);
    line-height: var(--ids2-line-title1);
}

.ids2-title1-tight {
    font-size: var(--ids2-size-title1);
    line-height: var(--ids2-line-title1-tight);
}

.ids2-title2 {
    font-size: var(--ids2-size-title2);
    line-height: var(--ids2-line-title2);
}

.ids2-title2-tight {
    font-size: var(--ids2-size-title2);
    line-height: var(--ids2-line-title2-tight);
}

.ids2-title3 {
    font-size: var(--ids2-size-title3);
    line-height: var(--ids2-line-title3);
}


.ids2-title4 {
    font-size: var(--ids2-size-title4);
    line-height: var(--ids2-line-title4);
}

.ids2-title4-tight {
    font-size: var(--ids2-size-title4);
    line-height: var(--ids2-line-title4-tight);
}



/**
    Headline
 */
.ids2-h1 {
    font-size: var(--ids2-size-h1);
    line-height: var(--ids2-line-h1);
}

.ids2-h1-tight {
    font-size: var(--ids2-size-h1);
    line-height: var(--ids2-line-h1-tight);
}

.ids2-h2 {
    font-size: var(--ids2-size-h2);
    line-height: var(--ids2-line-h2);
}

.ids2-h2-tight {
    font-size: var(--ids2-size-h2);
}

.ids2-h3 {
    font-size: var(--ids2-size-h3);
    line-height: var(--ids2-line-h3);
}

.ids2-h3-tight {
    font-size: var(--ids2-size-h3);
    line-height: var(--ids2-line-h3-tight);
}


/**
    Body
 */
.ids2-body1 {
    font-size: var(--ids2-size-body1);
    line-height: var(--ids2-line-body1);
}

.ids2-body2 {
    font-size: var(--ids2-size-body2);
    line-height: var(--ids2-line-body2);
}

.ids2-body2-tight {
    font-size: var(--ids2-size-body2);
    line-height: var(--ids2-line-body2-tight);
}

.ids2-body3 {
    font-size: var(--ids2-size-body3);
    line-height: var(--ids2-line-body3);
}

.ids2-body4 {
    font-size: var(--ids2-size-body4);
    line-height: var(--ids2-line-body4);
}

.ids2-body4-tight {
    font-size: var(--ids2-size-body4);
    line-height: var(--ids2-line-body4-tight);
}

.ids2-body5 {
    font-size: var(--ids2-size-body5);
    line-height: var(--ids2-line-body5);
}

.ids2-body5-tight {
    font-size: var(--ids2-size-body5);
    line-height: var(--ids2-line-body5-tight);
}


/**
    Caption
 */
.ids2-caption {
    font-size: var(--ids2-size-caption);
    line-height: var(--ids2-line-caption);
}
.ids2-caption-tight {
    font-size: var(--ids2-size-caption);
    line-height: var(--ids2-line-caption-tight);
}
.ids2-caption-sm {
    font-size: var(--ids2-size-caption-sm);
    line-height: var(--ids2-line-caption-sm);
}


/**
    Font Weight
 */

.ids2-bold {
    font-weight: var(--ids2-font-bold);
}

.ids2-semibold {
    font-weight: var(--ids2-font-semibold);
}

.ids2-medium {
    font-weight: var(--ids2-font-medium);
}

.ids2-regular {
    font-weight: var(--ids2-font-regular);
}

.ids2-anchor {
    font-weight: 400;
    color: #737684;
    text-decoration: none;
}

.ids2-anchor.ids2-anchor-sm {
    font-size: 13px;
    line-height: 13px;
}

.ids2-underline {
    text-decoration: underline;
}

.ids2-text-blue {
    color: #235FD2;
}

.ids2-text-blue-900 {
    color: #234EAA;
}

.ids2-text-grey {
    color: #B1B5C3;
}

.ids2-text-dark-gray {
    color: #454855;
}

.ids2-text-white {
    color: #FFFFFF;
}

.ids2-text-black {
    color: #101116;
}



.ids2-text-gray-100 {
    color: var(--ids2-color-gray-100);
}
.ids2-text-gray-200 {
    color: var(--ids2-color-gray-200);
}
.ids2-text-gray-300 {
    color: var(--ids2-color-gray-300);
}
.ids2-text-gray-400 {
    color: var(--ids2-color-gray-400);
}
.ids2-text-gray-500 {
    color: var(--ids2-color-gray-500);
}
.ids2-text-gray-600 {
    color: var(--ids2-color-gray-600);
}
.ids2-text-gray-700 {
    color: var(--ids2-color-gray-700);
}
.ids2-text-gray-800 {
    color: var(--ids2-color-gray-800);
}
.ids2-text-gray-900 {
    color: var(--ids2-color-gray-900);
}