<div class="ids2-dropdown-example">
    <div class="ids2-text-field">
        <label for="textField-input" class="ids2-text-field-label">
            <span>타이틀</span>
        </label>

        <div class="ids2-text-field-container ids2-input-search">
            <input type="text" id="textField-input" placeholder="도로명, 건물명, 지번 입력" class="ids2-text-field-input">
            <button class="ids2-input-clear">
                <i class="ids2-icon ids2-icon-clear">Clear</i>
            </button>
            <button class="ids2-button ids2-button-icon-only ids2-search-button">
                <i class="ids2-icon ids2-icon-search">Search</i>
            </button>
        </div>
    </div>
</div>