<div class="ids-text-field-example">
    <div class="ids-text-field ids-text-field-line">
        <div class="ids-text-field-container">
            <input type="text"
                   class="ids-text-field-input"
                   id="textField-input"
                   maxlength="21"
                   placeholder="한도금액을 입력하세요"
            />
            <button class="ids-input-clear">
                <i class="ids-icon ids-icon-clear">Clear</i>
            </button>
        </div>
        <div class="ids-text-field-functions">
            <div class="ids-text-field-amount-symbol"></div>
            <div class="ids-text-field-amount-note"></div>
        </div>
    </div>
</div>