<div class="ids2-pagination-examples">
    <div class="ids2-pagination-example">
        <div class="ids2-indicator-dot">
            <div class="ids2-indicator-dot-item active"></div>
            <div class="ids2-indicator-dot-item "></div>
            <div class="ids2-indicator-dot-item"></div>
            <div class="ids2-indicator-dot-item"></div>
            <div class="ids2-indicator-dot-item"></div>
        </div>
    </div>

    <div class="ids2-pagination-example">
        <div class="ids2-indicator-page">
            <div class="ids2-indicator-page-button ids2-indicator-page-button-prev">
                <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.79975 7C4.95335 7 5.10696 6.94122 5.22396 6.82422C5.45855 6.58963 5.45855 6.2104 5.22396 5.97581L3.24823 4.00008L5.22396 2.02436C5.45855 1.78977 5.45855 1.41054 5.22396 1.17595C4.98936 0.941352 4.61014 0.941352 4.37554 1.17595L1.97561 3.57588C1.74102 3.81047 1.74102 4.1897 1.97561 4.42429L4.37554 6.82422C4.49254 6.94122 4.64615 7 4.79975 7Z" fill="white"/>
                </svg>
            </div>
            <div class="ids2-indicator-page-text"><span class="ids2-indicator-page-number">1</span> <span class="ids2-text-grey-300">/ 5</span></div>
            <div class="ids2-indicator-page-button ids2-indicator-page-button-next">
                <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.20025 7C3.04665 7 2.89304 6.94122 2.77604 6.82422C2.54145 6.58963 2.54145 6.2104 2.77604 5.97581L4.75177 4.00008L2.77604 2.02436C2.54145 1.78977 2.54145 1.41054 2.77604 1.17595C3.01064 0.941352 3.38986 0.941352 3.62446 1.17595L6.02439 3.57588C6.25898 3.81047 6.25898 4.1897 6.02439 4.42429L3.62446 6.82422C3.50746 6.94122 3.35385 7 3.20025 7Z" fill="white"/>
                </svg>
            </div>
        </div>
    </div>


    <div class="ids2-pagination-example">
        <div class="ids2-indicator-page ids2-indicator-page-control" data-auto="true">
            <div class="ids2-indicator-page-button ids2-indicator-page-button-pause">
                <svg width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="2" height="6" rx="1" fill="white"/>
                    <rect x="4" width="2" height="6" rx="1" fill="white"/>
                </svg>
            </div>
            <div class="ids2-indicator-page-text"><span class="ids2-indicator-page-number">1</span> <span class="ids2-text-grey-300">/ 5</span></div>
            <div class="ids2-indicator-page-button ids2-indicator-page-button-play">
                <svg style="margin-left:2px;" width="5" height="6" viewBox="0 0 5 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.62264 3.65103L1.37623 5.84107C0.830592 6.20908 0 5.8971 0 5.32408V0.675924C0 0.102899 0.831217 -0.209082 1.37623 0.158934L4.62264 2.34897C5.12579 2.68849 5.12579 3.31151 4.62264 3.65103Z" fill="white"/>
                </svg>
            </div>
        </div>
    </div>
</div>