.pagination-indicator-example {
    display: flex;
    flex-direction: column;
    gap: var(--ids-spacing-6);
}

.ids-indicator-dot {
    display: flex;
    align-items: center;
    gap: var(--ids-spacing-half);
}

.ids-indicator-dot-item {
    width: 6px;
    height: 6px;
    border-radius: var(--ids-radius-6);
    border: var(--ids-border-1-500);
    cursor: pointer;
    transition: width 0.3s ease;
    font-size: 0;
    color: transparent;
}

.ids-indicator-dot-item.ids-indicator-dot-item-active {
    width: 28px;
    height: 6px;
    background-color: var(--ids-color-gray-900);
    border-radius: var(--ids-radius-6);
}

.ids-indicator-page {
    display: flex;
    align-items: center;
    gap: 6px;
}

.ids-indicator-page-button {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000B2;
    border-radius: var(--ids-radius-full);
    color: var(--ids-color-white);
    font-size: var(--ids-size-body4);
    cursor: pointer;
}

.ids-indicator-page-button:hover {
    background-color: #666;
}

.ids-indicator-page-text {
    font-size: var(--ids-size-caption-sm);
    line-height: var(--ids-line-caption-sm);
    color: var(--ids-color-white);
    font-weight: var(--ids-font-bold);
    padding: 3px 6px;
    background-color: #000000B2;
    border-radius: var(--ids-radius-full);
}

