.pagination-indicator-example {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.ids-indicator-dot {
    display: flex;
    align-items: center;
    gap: 6px;
}

.ids-indicator-dot-item {
    width: 6px;
    height: 6px;
    border-radius: 6px;
    border: 1px solid #737684;
    cursor: pointer;
    transition: width 0.3s ease;
    font-size: 0;
    color: transparent;
}

.ids-indicator-dot-item.ids-indicator-dot-item-active {
    width: 28px;
    height: 6px;
    background-color: #000;
    border-radius: 6px;
}

.ids-indicator-page {
    display: flex;
    align-items: center;
    gap: 6px;
}

.ids-indicator-page-button {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #555;
    border-radius: 50%;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.ids-indicator-page-button:hover {
    background-color: #666;
}

.ids-indicator-page-text {
    font-size: 10px;
    line-height: 12px;
    color: white;
    font-weight: bold;
    padding: 3px 6px;
    background-color: #555;
    border-radius: 20px;
}

