<div class="ids2-radio-example">
    <div class="ids2-radio-group">
        <label class="ids2-radio">
            <input type="radio" class="ids2-radio-input" checked>
            레이블
        </label>

        <label class="ids2-radio">
            레이블
        </label>

        <label class="ids2-radio">
            <input type="radio" class="ids2-radio-input" disabled />
            레이블
        </label>

        <label class="ids2-radio">
            <input type="radio" class="ids2-radio-input" disabled checked />
            레이블
        </label>
    </div>
</div>