<div class="ids-radio-examples">
    <div class="ids-radio-states">
        <div class="ids-radio-state">
            <label class="ids-radio">
                <input type="radio" class="ids-radio-input" checked>
                레이블
            </label>
            <label>Selected</label>
        </div>

        <div class="ids-radio-state">
            <label class="ids-radio">
                <input type="radio" class="ids-radio-input"/>
                레이블
            </label>
            <label>Unelected</label>
        </div>

        <div class="ids-radio-state">

            <label class="ids-radio">
                <input type="radio" class="ids-radio-input" disabled/>
                레이블
            </label>
            <label>Disabled</label>
        </div>

        <div class="ids-radio-state">

            <label class="ids-radio">
                <input type="radio" class="ids-radio-input" disabled checked/>
                레이블
            </label>
            <label>Disabled Selected</label>
        </div>

    </div>
</div>