<div class="ids2-info-box-example">
    <div class="ids2-info-box">
        <div class="ids2-info-box-title">
            <span>타이틀을 노출합니다.</span>
        </div>
        <div class="ids2-info-box-text">
            서브 텍스트를 노출합니다.<br/>
            서브 텍스트를 노출합니다.<br/>
            서브 텍스트를 노출합니다.
        </div>
        <div class="ids2-info-box-button-container">
            <button class="ids2-button ids2-button-tertiary ids2-button-sm">
                <i class="ids2-icon ids2-icon-xs ids2-icon-image">Image</i>
                레이블
            </button>
        </div>
    </div>
</div>