<div class="ids-info-box-example">
    <div class="ids-info-box">
        <div class="ids-info-box-title">
            <span>타이틀을 노출합니다.</span>
        </div>
        <div class="ids-info-box-text">
            서브 텍스트를 노출합니다.<br/>
            서브 텍스트를 노출합니다.<br/>
            서브 텍스트를 노출합니다.
        </div>
        <div class="ids-info-box-button-container">
            <button class="ids-button ids-button-tertiary ids-button-sm">
                <i class="ids-icon ids-icon-xs ids-icon-image">Image</i>
                레이블
            </button>
        </div>
    </div>
</div>