<div class="ids-textField-example">
    <div class="ids-text-area-container">
        <label for="textarea" class="ids-text-area-label">타이틀</label>
        <div class="ids-text-area">
            <textarea id="textarea" class="ids-text-area-input" placeholder="플레이스 홀더" maxlength="500"></textarea>
            <button class="ids-text-area-clear">
                <i class="ids-icon ids-icon-clear">Clear</i>
            </button>
        </div>
        <div class="ids-text-area-footer">
            <div class="ids-text-area-counter">
                <span class="ids-text-area-count">0</span>
                <span>/</span>
                <span class="ids-text-area-max-length"></span>자
            </div>
        </div>
    </div>
</div>