<div class="ids-badge-examples">

    <div class="ids-badge-example">
        <div class="ids-badge-wrap-icon">
            <i class="ids-icon ids-icon-notification">Notification</i>
            <div class="ids-badge-dot">•</div>
        </div>

        <h4>Large badge</h4>
    </div>


    <div class="ids-badge-example">
        <div class="ids-badge-example-tab">
            <div class="ids-tab">
                <div class="ids-tab-item ids-tab-item-active">
                    레이블
                </div>
                <div class="ids-tab-item">
                    레이블
                    <span class="ids-badge-wrap-inline">
                        <span class="ids-badge-dot ids-badge-dot-small">•</span>
                    </span>
                </div>
                <div class="ids-tab-item">
                    레이블
                    <span class="ids-badge-wrap-inline">
                        <span class="ids-badge-dot ids-badge-dot-small">•</span>
                    </span>
                </div>
                <div class="ids-tab-item">
                    레이블
                    <span class="ids-badge-wrap-inline">
                        <span class="ids-badge-dot ids-badge-dot-small">•</span>
                    </span>
                </div>
            </div>
        </div>
        <h4>Small Badge</h4>
    </div>
</div>