.ids2-badge-dot {
     width: 8px;
     height: 8px;
     background: #FD5E4F;
     border-radius: 50%;
     position: absolute;
     top: 1px;
     right: 2px;
     animation: popIn 500ms 1 cubic-bezier(1,.6,.72,2);
 }

@keyframes popIn {
     from {
          scale: 0;
     }

     to {
          scale: 100%;
     }
}