.ids-full-width {
    width: 100% !important;;
}

.ids-items-start {
    align-items: flex-start !important;
}

.ids-items-center {
    align-items: center !important;
}

.ids-items-end {
    align-items: flex-end !important;
}

.ids-cols {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--ids-spacing-1-half);
    box-sizing: border-box;
    margin: 0 var(--ids-spacing-3);
}

.ids-col-1 {
    width: calc(25% - (var(--ids-spacing-1-half) - var(--ids-spacing-1-half) / 4));
    box-sizing: border-box;
}

.ids-col-2 {
    width: calc(50% - (var(--ids-spacing-1-half) - var(--ids-spacing-1-half) / 2));
    box-sizing: border-box;
}

.ids-col-3 {
    width: calc(75% - (var(--ids-spacing-1-half) - var(--ids-spacing-1-half) / 1.33333));
    box-sizing: border-box;
}

.ids-col-3 {
    width: calc(75% - (var(--ids-spacing-1-half) - var(--ids-spacing-1-half) / 1.33333));
    box-sizing: border-box;
}

.ids-col-4 {
    width: 100%;
    box-sizing: border-box;
}

.ids-cols.ids-cols-tight {
    gap: var(--ids-spacing-1);
    margin: 0 var(--ids-spacing-2-half);
}

.ids-cols.ids-cols-tight .ids-col-1 {
    width: calc(25% - (var(--ids-spacing-1) - var(--ids-spacing-1) / 4));
    box-sizing: border-box;
}

.ids-cols.ids-cols-tight .ids-col-2 {
    width: calc(50% - (var(--ids-spacing-1) - var(--ids-spacing-1) / 2));
    box-sizing: border-box;
}

.ids-cols.ids-cols-tight .ids-col-3 {
    width: calc(75% - (var(--ids-spacing-1) - var(--ids-spacing-1) / 1.33333));
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .ids-col-lg-1 {
        width: calc(25% - (var(--ids-spacing-1-half) - var(--ids-spacing-1-half) / 8));
    }
}