.ids-radius-6 {
    border-radius: var(--ids-radius-6);
}

.ids-radius-12 {
    border-radius: var(--ids-radius-12);
}

.ids-radius-16 {
    border-radius: var(--ids-radius-16);
}

.ids-radius-20 {
    border-radius: var(--ids-radius-20);
}

.ids-radius-28 {
    border-radius: var(--ids-radius-28);
}

*.ids-radius-full {
    border-radius: var(--ids-radius-full);
}