.ids2-top-navigation-example {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    min-width: 380px;
}

.ids2-top-navigation {
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    height: 56px;
    padding: 0 16px;
    width: 100%;
    box-sizing: border-box;
}

.ids2-top-navigation.ids2-top-navigation-search {
    height: 80px;
}
.ids2-icons {
    display: flex;
    gap: 8px;
}

.ids2-top-label {
    display: flex;
    align-items: center;
    gap: 16px;
}

.ids2-top-label-text {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    color: #101116;
}