<div class="ids-text-field-example">
    <div class="ids-text-field">
        <label for="textField-input" class="ids-text-field-label">
            <span>전화번호</span><span class="ids-label-required">필수</span>
        </label>
        <div class="ids-text-field-container">
            <input type="text"
                   class="ids-text-field-input"
                   id="textField-input"
                   maxlength="13"
                   placeholder="-없이 입력"
            />
            <button class="ids-input-clear">
                <i class="ids-icon ids-icon-clear">Clear</i>
            </button>
        </div>
    </div>
</div>