<div class="ids-list-example">
    <div class="ids-accordion">
        <div class="ids-accordion-item ids-accordion-item-open">
            <div class="ids-accordion-head">
                <div class="ids-accordion-summary">
                    <div class="ids-accordion-title">
                        <h3 class="ids-h3">최근거래 <span class="ids-badge-count">4</span></h3>
                    </div>
                    <div class="ids-body5 ids-text-gray-600">별표를 누르면 자주쓰는 계좌로 등록돼요.</div>
                </div>
                <div class="ids-accordion-arrow">
                    <i class="ids-icon ids-icon-expand">Expand</i>
                </div>
            </div>

            <div class="ids-accordion-details ids-px-3">
                <div class="ids-list">
                    <div class="ids-list-item">
                        <div class="ids-list-info">
                            <div class="ids-list-item-icon">
                                <i class="ids-icon ids-icon-xl ids-icon-bank-ibk">IBK</i>
                            </div>
                            <div class="ids-list-details ids-bold">
                                <div class="ids-body2-tight ids-text-gray-700">정다운</div>
                                <div class="ids-caption ids-text-gray-500">IBK기업 488-087904-00-201</div>
                            </div>
                        </div>
                        <div class="ids-favorite">
                            <i class="ids-icon ids-icon-star ids-icon-gray-300">Favorite</i>
                        </div>
                    </div>
                    <div class="ids-list-item">
                        <div class="ids-list-info">
                            <div class="ids-list-item-icon">
                                <i class="ids-icon ids-icon-xl ids-icon-bank-kbank">K뱅크</i>
                            </div>
                            <div class="ids-list-details ids-bold">
                                <div class="ids-body2-tight ids-text-gray-700">이지은</div>
                                <div class="ids-caption ids-text-gray-500">K뱅크 663-243-305890</div>
                            </div>
                        </div>
                        <div class="ids-favorite">
                            <i class="ids-icon ids-icon-star-fill">Favorite</i>
                        </div>
                    </div>

                    <div class="ids-list-item">
                        <div class="ids-list-info">
                            <div class="ids-list-item-icon">
                                <i class="ids-icon ids-icon-xl ids-icon-bank-kb">국민</i>
                            </div>
                            <div class="ids-list-details ids-bold">
                                <div class="ids-body2-tight ids-text-gray-700">기은센</div>
                                <div class="ids-caption ids-text-gray-500">국민 109876-54-321098</div>
                            </div>
                        </div>
                        <div class="ids-favorite">
                            <i class="ids-icon ids-icon-star-fill">Favorite</i>
                        </div>
                    </div>

                    <div class="ids-list-item">
                        <div class="ids-list-info">
                            <div class="ids-list-item-icon">
                                <i class="ids-icon ids-icon-xl ids-icon-bank-ibk">IBK</i>
                            </div>
                            <div class="ids-list-details ids-bold">
                                <div class="ids-body2-tight ids-text-gray-700">이지은</div>
                                <div class="ids-caption ids-text-gray-500">IBK기업 11-23-459794-01</div>
                            </div>
                        </div>
                        <div class="ids-favorite">
                            <i class="ids-icon ids-icon-star-fill">Favorite</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
