<div class="ids-button-examples">
    <div class="ids-button-group-example">
        <h3 class="ids-h3">Default</h3>
        <div class="ids-button-group">
            <button class="ids-button ids-button-primary ids-button-fill ids-button-full-width">
                <span class="ids-button-label">레이블</span>
            </button>
        </div>
        <h3 class="ids-h3">1:1 Button</h3>
        <div class="ids-button-group">
            <button class="ids-button ids-button-primary ids-button-full-width">
                <span class="ids-button-label">레이블</span>
            </button>
            <button class="ids-button ids-button-primary ids-button-fill ids-button-full-width">
                <span class="ids-button-label">레이블</span>
            </button>
        </div>
        <h3 class="ids-h3">1:2 Button</h3>
        <div class="ids-button-group">
            <button class="ids-button ids-button-primary ids-col-1">
                <span class="ids-button-label">레이블</span>
            </button>
            <button class="ids-button ids-button-primary ids-button-fill ids-col-2">
                <span class="ids-button-label">레이블</span>
            </button>
        </div>
        <h3 class="ids-h3">With Icon</h3>
        <div class="ids-button-group">
            <button class="ids-button ids-button-primary ids-button-icon">
                <i class="ids-icon ids-icon-image ids-icon-xxl">Image</i>
            </button>
            <button class="ids-button ids-button-primary ids-button-fill ids-button-full-width">
                <span class="ids-button-label">레이블</span>
            </button>
        </div>
        <h3 class="ids-h3">Vertical</h3>
        <div class="ids-button-group ids-button-group-vertical">
            <button class="ids-button ids-button-primary ids-button-fill ids-button-full-width">
                <span class="ids-button-label">레이블</span>
            </button>
            <button class="ids-button ids-button-primary ids-button-full-width">
                <span class="ids-button-label">레이블</span>
            </button>
        </div>
    </div>
</div>