<div class="ids2-button-examples">
    <div class="ids2-button-group-example">
        <h3 class="ids2-h3">Default</h3>
        <div class="ids2-button-group">
            <button class="ids2-button ids2-button-primary ids2-button-fill ids2-button-full-width">
                <span class="ids2-button-label">레이블</span>
            </button>
        </div>
        <h3 class="ids2-h3">1:1 Button</h3>
        <div class="ids2-button-group">
            <button class="ids2-button ids2-button-primary ids2-button-full-width">
                <span class="ids2-button-label">레이블</span>
            </button>
            <button class="ids2-button ids2-button-primary ids2-button-fill ids2-button-full-width">
                <span class="ids2-button-label">레이블</span>
            </button>
        </div>
        <h3 class="ids2-h3">1:2 Button</h3>
        <div class="ids2-button-group">
            <button class="ids2-button ids2-button-primary ids2-col-1">
                <span class="ids2-button-label">레이블</span>
            </button>
            <button class="ids2-button ids2-button-primary ids2-button-fill ids2-col-2">
                <span class="ids2-button-label">레이블</span>
            </button>
        </div>
        <h3 class="ids2-h3">With Icon</h3>
        <div class="ids2-button-group">
            <button class="ids2-button ids2-button-primary ids2-button-icon">
                <i class="ids2-icon ids2-icon-image ids2-icon-xxl">Image</i>
            </button>
            <button class="ids2-button ids2-button-primary ids2-button-fill ids2-button-full-width">
                <span class="ids2-button-label">레이블</span>
            </button>
        </div>
        <h3 class="ids2-h3">Vertical</h3>
        <div class="ids2-button-group ids2-button-group-vertical">
            <button class="ids2-button ids2-button-primary ids2-button-fill ids2-button-full-width">
                <span class="ids2-button-label">레이블</span>
            </button>
            <button class="ids2-button ids2-button-primary ids2-button-full-width">
                <span class="ids2-button-label">레이블</span>
            </button>
        </div>
    </div>
</div>