
.ids2-info-box {
    background-color: #F3F4F7;
    padding: 16px;
    border-radius: 12px;
    font-family: Arial, sans-serif;
}

.ids2-info-box-title {
    font-size: 14px;
    font-weight: 600;
    color: #101116;
    display: flex;
    align-items: center;
    line-height: 20px;
    gap: 6px;
}

.ids2-info-box-text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #5A5E6C;
    margin-top: 8px;
}


.ids2-info-box-button-container {
    margin-top: 12px;
}


.ids2-info-list {
    margin: 0;
    font-size: var(--ids2-size-body5);
    font-weight: var(--ids2-font-regular);
    line-height: var(--ids2-line-body5);
    color: var(--ids2-color-gray-600);
    padding: 0;
    gap: var(--ids2-spacing-1);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.ids2-info-list li {
    position: relative;
    padding-left: var(--ids2-spacing-1-half);
    list-style: none;
}
.ids2-info-list li::before {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -2px;
    content: ' ';
    display: block;
    width: 2px;
    height: 2px;
    overflow: hidden;
    background-color: var(--ids2-color-gray-700);
    border-radius: 50%;
    vertical-align: middle;
}